/* line 1, ../sass/lib/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

/* line 14, ../sass/lib/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 17, ../sass/lib/_reset.scss */
b, strong { font-weight: bold; }

/* line 20, ../sass/lib/_reset.scss */
img { color: transparent; font-size: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }

/* line 26, ../sass/lib/_reset.scss */
body, html { height: 100%; }

/* line 29, ../sass/lib/_reset.scss */
img, fieldset, a img { border: none; }

/* line 32, ../sass/lib/_reset.scss */
input[type="submit"], button { cursor: pointer; }
/* line 35, ../sass/lib/_reset.scss */
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

/* line 40, ../sass/lib/_reset.scss */
textarea { overflow: auto; }

/* line 43, ../sass/lib/_reset.scss */
input, button { margin: 0; padding: 0; border: 0; }

/* line 48, ../sass/lib/_reset.scss */
input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

/* line 52, ../sass/lib/_reset.scss */
ul, ol { list-style-type: none; }

/* line 53, ../sass/lib/_reset.scss */
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

/* line 58, ../sass/lib/_reset.scss */
svg { overflow: hidden; }

/* line 60, ../sass/lib/_reset.scss */
.clear:after, .clear:before { clear: both; display: block; zoom: 1; content: ''; }

/* line 67, ../sass/lib/_reset.scss */
.left { float: left; }

/* line 68, ../sass/lib/_reset.scss */
.right { float: right; }

/* line 69, ../sass/lib/_reset.scss */
html, body { font-family: 'PT Sans', sans-serif; font-size: 14px; color: #000; }

/* line 74, ../sass/lib/_reset.scss */
body { background: #fcf7f3; }

@font-face { font-family: "lato-bold"; src: url("fonts/lato-bold.eot"); src: url("fonts/lato-bold.eot?#iefix") format("embedded-opentype"), url("fonts/lato-bold.woff") format("woff"), url("fonts/lato-bold.ttf") format("truetype"), url("fonts/lato-bold.svg") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "lato-italic"; src: url("fonts/lato-italic.eot"); src: url("fonts/lato-italic.eot?#iefix") format("embedded-opentype"), url("fonts/lato-italic.woff") format("woff"), url("fonts/lato-italic.ttf") format("truetype"), url("fonts/lato-italic.svg") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "lato-regular"; src: url("fonts/lato-regular.eot"); src: url("fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("fonts/lato-regular.woff") format("woff"), url("fonts/lato-regular.ttf") format("truetype"), url("fonts/lato-regular.svg") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "lato-semibold"; src: url("fonts/lato-semibold.eot"); src: url("fonts/lato-semibold.eot?#iefix") format("embedded-opentype"), url("fonts/lato-semibold.woff") format("woff"), url("fonts/lato-semibold.ttf") format("truetype"), url("fonts/lato-semibold.svg") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "lato-black"; src: url("fonts/lato-black.eot"); src: url("fonts/lato-black.eot?#iefix") format("embedded-opentype"), url("fonts/lato-black.woff") format("woff"), url("fonts/lato-black.ttf") format("truetype"), url("fonts/lato-black.svg") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "lato-heavy"; src: url("fonts/lato-heavy.eot"); src: url("fonts/lato-heavy.eot?#iefix") format("embedded-opentype"), url("fonts/lato-heavy.woff") format("woff"), url("fonts/lato-heavy.ttf") format("truetype"), url("fonts/lato-heavy.svg") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "icomoon"; src: url("fonts/icomoon.eot"); src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "sansation-bold"; src: url("fonts/sansation-bold.eot"); src: url("fonts/sansation-bold.eot?#iefix") format("embedded-opentype"), url("fonts/sansation-bold.woff") format("woff"), url("fonts/sansation-bold.ttf") format("truetype"), url("fonts/sansation-bold.svg") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "lato-medium"; src: url("fonts/lato-medium.eot"); src: url("fonts/lato-medium.eot?#iefix") format("embedded-opentype"), url("fonts/lato-medium.woff") format("woff"), url("fonts/lato-medium.ttf") format("truetype"), url("fonts/lato-medium.svg") format("svg"); font-weight: normal; font-style: normal; }
/* line 1, ../sass/_main.scss */
.index-menu { padding: 50px; }
/* line 3, ../sass/_main.scss */
.index-menu ul { padding: 30px; }
/* line 5, ../sass/_main.scss */
.index-menu ul li { list-style-type: decimal; }
/* line 7, ../sass/_main.scss */
.index-menu ul li a { color: #000; }

/* line 11, ../sass/_main.scss */
html, body, .container { height: 100%; }

/* line 12, ../sass/_main.scss */
body > .container { height: auto; min-height: 100%; }

/* line 16, ../sass/_main.scss */
.wrapper { padding-bottom: 365px; }

/* line 17, ../sass/_main.scss */
.content { width: 1200px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; margin: 0 auto; }

/* line 22, ../sass/_main.scss */
.bg-header { background: url("../css/images/back-header.png") top center no-repeat; padding-bottom: 40px; }

/* line 23, ../sass/_main.scss */
.footer { clear: both; position: relative; z-index: 10; height: 365px; margin-top: -365px; }

/* line 30, ../sass/_main.scss */
header { margin-bottom: 4px; }

/* line 33, ../sass/_main.scss */
a, .icon { -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; text-decoration: none; }

/* line 34, ../sass/_main.scss */
.logo { float: left; margin-right: 60px; }

/* line 35, ../sass/_main.scss */
.header-top { margin-bottom: 20px; padding-top: 20px; }

/* line 36, ../sass/_main.scss */
.header-top__link { float: left; }
/* line 38, ../sass/_main.scss */
.header-top__link li { float: left; font-family: 'lato-black'; min-width: 240px; }
/* line 42, ../sass/_main.scss */
.header-top__link li:first-child { min-width: 207px; }
/* line 43, ../sass/_main.scss */
.header-top__link li p { text-decoration: none; color: #5e5e5e; font-size: 14px; line-height: 18px; padding-top: 13px; display: block; font-family: 'lato-bold'; }
/* line 51, ../sass/_main.scss */
.header-top__link li p:before { color: #e76b6b; line-height: 44px; font-family: 'icomoon'; }

/* line 59, ../sass/_main.scss */
.header-top__receiving { position: relative; padding-left: 55px; }
/* line 62, ../sass/_main.scss */
.header-top__receiving:before { position: absolute; content: '\e607'; font-size: 40px; left: 3px; top: 8px; }

/* line 70, ../sass/_main.scss */
.header-top__delivery { position: relative; padding-left: 70px; }
/* line 73, ../sass/_main.scss */
.header-top__delivery:before { position: absolute; content: '\e602'; font-size: 55px; left: 0; top: 8px; }

/* line 81, ../sass/_main.scss */
.header-top__credit { position: relative; padding-left: 57px; }
/* line 84, ../sass/_main.scss */
.header-top__credit:before { position: absolute; content: '\e608'; font-size: 42px; left: 0; top: 8px; }

/* line 92, ../sass/_main.scss */
.call-request { padding-top: 10px; position: relative; padding-left: 58px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 97, ../sass/_main.scss */
.call-request:before { position: absolute; content: '\e611'; font-size: 40px; left: 9px; top: 8px; color: #e76b6b; line-height: 44px; font-family: 'icomoon'; }

/* line 108, ../sass/_main.scss */
.call-request__phone { color: #5d5d5d; font-size: 22px; }

/* line 113, ../sass/_main.scss */
.header-top__link li .call-request__phone-link { font-family: 'PT Sans', sans-serif; font-size: 14px; color: #159bea; display: block; padding: 0; text-decoration: underline; }
/* line 120, ../sass/_main.scss */
.header-top__link li .call-request__phone-link:hover { text-decoration: none; }

/* line 123, ../sass/_main.scss */
.header-bottom { background: #ffffff; width: 1200px; z-index: 100; -moz-box-shadow: 0 15px 25px rgba(106, 91, 33, 0.25); -webkit-box-shadow: 0 15px 25px rgba(106, 91, 33, 0.25); box-shadow: 0 15px 25px rgba(106, 91, 33, 0.25); }

/* line 129, ../sass/_main.scss */
.header-bottom__left { float: left; }
/* line 131, ../sass/_main.scss */
.header-bottom__left > nav > ul > li { float: left; padding-bottom: 1px; }
/* line 134, ../sass/_main.scss */
.header-bottom__left > nav > ul > li > a { font-size: 19px; color: #5e5e5e; display: block; padding: 22px 19px 18px; text-decoration: none; }
/* line 140, ../sass/_main.scss */
.header-bottom__left > nav > ul > li > a:hover { color: #fff; background: #e76b6b; }

/* line 144, ../sass/_main.scss */
.header-bottom__right { float: right; }
/* line 146, ../sass/_main.scss */
.header-bottom__right > nav > ul > li { float: left; position: relative; }
/* line 150, ../sass/_main.scss */
.header-bottom__right > nav > ul > li > a:hover, .header-bottom__right > nav > ul > li > a.active { color: #fff; background: #e76b6b; }
/* line 153, ../sass/_main.scss */
.header-bottom__right > nav > ul > li > a:hover:before, .header-bottom__right > nav > ul > li > a.active:before { color: #ffffff; }
/* line 156, ../sass/_main.scss */
.header-bottom__right > nav > ul > li .cart-count { font-size: 10px; color: #fff; background: #00b5f3; position: absolute; left: 35px; top: 15px; padding: 1px 2px; line-height: 15px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }

/* line 169, ../sass/_main.scss */
.header-bottom__account { display: block; position: relative; font-size: 19px; color: #5e5e5e; padding: 15px 30px 11px 57px; line-height: 19px; text-decoration: none; }
/* line 177, ../sass/_main.scss */
.header-bottom__account:before { position: absolute; content: '\e61b'; top: 23px; left: 7px; color: #e76b6b; font-family: 'icomoon'; font-size: 38px; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

/* line 188, ../sass/_main.scss */
.header-bottom__menu { display: block; position: relative; font-size: 19px; color: #5e5e5e; padding: 15px 30px 6px 57px; line-height: 43px; text-decoration: none; }
/* line 196, ../sass/_main.scss */
.header-bottom__menu:before { position: absolute; content: '\e60f'; top: 12px; left: 7px; color: #e76b6b; font-family: 'icomoon'; font-size: 40px; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

/* line 207, ../sass/_main.scss */
.header-bottom__basket { display: block; position: relative; font-size: 19px; color: #5e5e5e; padding: 15px 30px 6px 57px; line-height: 43px; text-decoration: none; }
/* line 215, ../sass/_main.scss */
.header-bottom__basket:before { position: absolute; content: '\e603'; top: 12px; left: 7px; color: #e76b6b; font-family: 'icomoon'; font-size: 37px; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

/* line 226, ../sass/_main.scss */
.list-menu { text-align: center; font-family: 'lato-regular'; }
/* line 229, ../sass/_main.scss */
.list-menu li { display: inline-block; color: #000000; font-size: 15px; }
/* line 233, ../sass/_main.scss */
.list-menu li a { color: #e76b6b; padding: 0 1px; text-decoration: underline; }
/* line 237, ../sass/_main.scss */
.list-menu li a:hover { text-decoration: none; }

/* line 241, ../sass/_main.scss */
.footer-top { background: #ede5dc; padding: 9px 0; }
/* line 244, ../sass/_main.scss */
.footer-top p { font-weight: bold; font-size: 22px; color: #595959; text-align: center; margin-bottom: 7px; }

/* line 253, ../sass/_main.scss */
.footer-bottom { background: #fcf7f3; border-top: 2px dashed #000; padding: 35px 0; }

/* line 258, ../sass/_main.scss */
.footer-middle { background: #fff; padding: 22px 0 20px; }

/* line 262, ../sass/_main.scss */
.logo-footer { margin-right: 45px; }
/* line 264, ../sass/_main.scss */
.logo-footer div { text-decoration: none; color: #000; display: block; }
/* line 268, ../sass/_main.scss */
.logo-footer div img { max-width: 165px; }
/* line 269, ../sass/_main.scss */
.logo-footer div:hover { text-decoration: underline; }
/* line 271, ../sass/_main.scss */
.logo-footer span { display: block; overflow: hidden; position: relative; padding: 8px 0px; }
/* line 276, ../sass/_main.scss */
.logo-footer span.copy { float: left; font-size: 26px; padding: 0; }
/* line 277, ../sass/_main.scss */
.logo-footer span.text { padding: 8px 9px; }

/* line 280, ../sass/_main.scss */
.footer-bottom__social { float: left; padding: 15px 0; width: 410px; }

/* line 285, ../sass/_main.scss */
.social { margin-bottom: 27px; }
/* line 287, ../sass/_main.scss */
.social li { float: left; margin-left: 45px; }
/* line 290, ../sass/_main.scss */
.social li a { text-decoration: none; font-size: 15px; display: block; color: #de6c28; font-family: 'sansation-bold'; }
/* line 296, ../sass/_main.scss */
.social li a:hover { text-decoration: underline; }
/* line 297, ../sass/_main.scss */
.social li a span { font-size: 26px; display: block; float: left; margin: -5px 5px 0 0; }
/* line 304, ../sass/_main.scss */
.social li:first-child { margin-left: 0; }

/* line 308, ../sass/_main.scss */
.list-two-row li { float: left; width: 118px; }
/* line 311, ../sass/_main.scss */
.list-two-row li:nth-child(3n+3) { padding-left: 48px; }
/* line 312, ../sass/_main.scss */
.list-two-row li a { font-family: 'PT Sans', sans-serif; color: #000; line-height: 35px; text-decoration: underline; }
/* line 317, ../sass/_main.scss */
.list-two-row li a:hover { text-decoration: none; }

/* line 321, ../sass/_main.scss */
.footer-bottom__application { float: left; }
/* line 323, ../sass/_main.scss */
.footer-bottom__application p { font-family: 'PT Sans', sans-serif; font-size: 18px; color: #e27777; padding: 10px 2px; margin-bottom: 32px; }

/* line 331, ../sass/_main.scss */
.footer-bottom__developer { float: left; width: 235px; text-align: center; padding-left: 11px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 337, ../sass/_main.scss */
.footer-bottom__developer a { display: block; font-family: 'lato-black'; font-size: 22px; color: #808080; text-decoration: none; }
/* line 343, ../sass/_main.scss */
.footer-bottom__developer a:hover { text-decoration: underline; }

/* line 346, ../sass/_main.scss */
.application { text-align: center; }
/* line 348, ../sass/_main.scss */
.application img { margin: 0 6px; }

/* line 350, ../sass/_main.scss */
.number-developer { padding: 11px 0 15px; text-align: right; margin-bottom: 30px; }

/* line 355, ../sass/_main.scss */
.sticky-wrapper { height: auto !important; position: relative; }

/* line 359, ../sass/_main.scss */
.menu-height { height: auto !important; }

/* line 360, ../sass/_main.scss */
.big-menu { height: 0; overflow: hidden; width: 100%; max-width: 1200px; z-index: 102; background: #e76b6b; position: absolute; left: 0; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 370, ../sass/_main.scss */
.big-menu ul { padding: 0 0 10px; }
/* line 371, ../sass/_main.scss */
.big-menu li { width: 12.5%; text-align: center; float: left; padding: 12px 10px 0; height: 0; overflow: hidden; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 380, ../sass/_main.scss */
.big-menu li a { text-transform: uppercase; color: #e1e1e1; display: block; text-decoration: none; padding: 5px; }
/* line 386, ../sass/_main.scss */
.big-menu li a span { display: block; color: #fff; line-height: 30px; padding-bottom: 5px; }
/* line 387, ../sass/_main.scss */
.big-menu li a:hover { background: #ffffff; color: #e76b6b; }
/* line 390, ../sass/_main.scss */
.big-menu li a:hover span { color: #e76b6b; }
/* line 394, ../sass/_main.scss */
.big-menu.active { display: block; }

/* line 396, ../sass/_main.scss */
.banner { position: relative; }

/* line 399, ../sass/_main.scss */
.banner-time { background: url("images/baner-time-bg.png") no-repeat; margin: 4px 0; }

/* line 403, ../sass/_main.scss */
.banner-time__left-img { float: left; }
/* line 405, ../sass/_main.scss */
.banner-time__left-img img { padding: 2px 55px; }

/* line 407, ../sass/_main.scss */
.banner-time__text { float: left; padding: 22px 17px 0; }
/* line 410, ../sass/_main.scss */
.banner-time__text p { font-family: 'lato-bold'; font-size: 25px; color: #030303; margin-bottom: 23px; line-height: 26px; }

/* line 418, ../sass/_main.scss */
.banner-time__when { margin-bottom: 0px; padding-left: 65px; }

/* line 422, ../sass/_main.scss */
.banner-time__name { color: #ed7272; padding-left: 4px; }

/* line 426, ../sass/_main.scss */
.banner-time__cost { font-size: 28px; padding-left: 8px; }

/* line 430, ../sass/_main.scss */
.banner-time__discount { float: right; padding: 4px 23px; }
/* line 433, ../sass/_main.scss */
.banner-time__discount p { font-family: 'lato-bold'; color: #ff3809; text-align: right; font-size: 24px; padding-right: 15px; margin-bottom: 5px; }

/* line 442, ../sass/_main.scss */
.actions .wrapper-shadow { background: #fff; }

/* line 443, ../sass/_main.scss */
.actions > .content { position: relative; }
/* line 445, ../sass/_main.scss */
.actions > .content:after { background: url("images/shadow.png") 0 -5px no-repeat; height: 40px; width: 100%; position: absolute; content: ''; bottom: -40px; left: 0; }

/* line 455, ../sass/_main.scss */
.action_main { background: #fcfbf4; }

/* line 456, ../sass/_main.scss */
.actions__big { float: left; width: 40%; height: 480px; overflow: hidden; }
/* line 461, ../sass/_main.scss */
.actions__big img { float: left; width: 50%; }

/* line 463, ../sass/_main.scss */
.actions__little { float: left; width: 20%; height: 480px; overflow: hidden; }
/* line 468, ../sass/_main.scss */
.actions__little img { width: 100%; }
/* line 469, ../sass/_main.scss */
.actions__little a { text-decoration: none; }

/* line 471, ../sass/_main.scss */
.action__text { float: left; text-align: center; min-height: 240px; width: 50%; padding: 15px 12px; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 479, ../sass/_main.scss */
.action__text .icon { color: #e76b6b; }
/* line 480, ../sass/_main.scss */
.action_vert .action__text { text-align: center; float: none; padding: 15px 12px; height: 240px; width: 100%; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 488, ../sass/_main.scss */
.action_vert .action__text .icon { color: #e76b6b; }

/* line 491, ../sass/_main.scss */
.action-hor { height: 240px; }
/* line 494, ../sass/_main.scss */
.action-hor.action-hor__right img { float: right; }

/* line 497, ../sass/_main.scss */
.line { display: block; margin: 13px auto; background: url('../css/images/icons-sb4792690e5.png') 0 -76px no-repeat; width: 113px; height: 1px; }

/* line 502, ../sass/_main.scss */
.circle { display: block; margin: 10px auto; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; background: url('../css/images/icons-sb4792690e5.png') 0 0 no-repeat; width: 12px; height: 12px; }

/* line 508, ../sass/_main.scss */
.red { color: #f00; }

/* line 509, ../sass/_main.scss */
.action__title { font-size: 20px; color: #000; margin-bottom: 13px; padding: 0 15px; }

/* line 515, ../sass/_main.scss */
.action__descript { font-family: 'lato-regular'; color: #555555; line-height: 20px; }

/* line 520, ../sass/_main.scss */
.action__price { font-size: 30px; color: #000; padding: 5px 0 20px; font-family: 'lato-heavy'; }

/* line 526, ../sass/_main.scss */
.action__text_main { font-family: 'lato-regular'; color: #000000; padding: 7px 0 6px; line-height: 20px; }

/* line 533, ../sass/_main.scss */
.action_main .action__text { padding-top: 30px; }
/* line 535, ../sass/_main.scss */
.action_main .action__text .line { margin: 20px auto; }

/* line 539, ../sass/_main.scss */
.triangle-up { width: 0; height: 0; position: absolute; top: -22px; left: 50%; margin-left: -19px; border-left: 19px solid transparent; border-right: 19px solid transparent; border-bottom: 22px solid #fff; }

/* line 550, ../sass/_main.scss */
.triangle-left { width: 0; height: 0; position: absolute; top: 50%; left: -22px; margin-top: -19px; border-top: 19px solid transparent; border-right: 22px solid #fff; border-bottom: 19px solid transparent; }

/* line 561, ../sass/_main.scss */
.triangle-right { width: 0; height: 0; position: absolute; top: 50%; right: -22px; margin-top: -19px; border-top: 19px solid transparent; border-left: 22px solid #fff; border-bottom: 19px solid transparent; }

/* line 572, ../sass/_main.scss */
.production { padding-bottom: 55px; }
/* line 574, ../sass/_main.scss */
.production > li { width: 25%; float: left; padding: 35px 0 0; text-align: center; }
/* line 579, ../sass/_main.scss */
.production > li a { font-size: 28px; color: #5d5d5d; text-decoration: none; }
/* line 583, ../sass/_main.scss */
.production > li a:hover { text-decoration: underline; }
/* line 584, ../sass/_main.scss */
.production > li a > span { position: relative; display: block; margin-bottom: 15px; min-height: 210px; }
/* line 589, ../sass/_main.scss */
.production > li a > span img { display: block; max-width: 100%; max-height: 100%; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }

/* line 604, ../sass/_main.scss */
.pizza { background: url("images/bg-pizza.png") top center no-repeat; }
/* line 606, ../sass/_main.scss */
.pizza a { display: block; font-weight: bold; font-size: 45px; color: #5b2309; text-decoration: none; }
/* line 608, ../sass/_main.scss */
.pizza a img { float: left; padding: 4px 210px 0 0; margin-left: -17px; }
/* line 613, ../sass/_main.scss */
.pizza a p { padding: 37px 0 0; }

/* line 620, ../sass/_main.scss */
.poll { background: #e1ddd9 url("images/bg-poll.png") top center no-repeat; }

/* line 621, ../sass/_main.scss */
.poll-text { width: 580px; float: left; padding: 153px 0 153px 28px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

/* line 627, ../sass/_main.scss */
.poll-text__text { font-family: 'lato-regular'; font-size: 25px; color: #fff; line-height: 33px; padding-left: 5px; margin-bottom: 55px; }

/* line 635, ../sass/_main.scss */
.poll-text__small { font-size: 16px; color: #fff; font-family: 'lato-regular'; margin-bottom: 5px; }

/* line 641, ../sass/_main.scss */
.poll-text__title { font-weight: bold; font-family: 'PT Sans', sans-serif; color: #fff; font-size: 45px; margin-bottom: 54px; }

/* line 648, ../sass/_main.scss */
.poll-stat { float: right; background: #fff; width: 410px; margin-top: 58px; padding: 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 655, ../sass/_main.scss */
.poll-stat .poll-stat__block { border: 1px solid #cacac9; padding: 20px 25px; }
/* line 658, ../sass/_main.scss */
.poll-stat .poll-stat__block > p { font-size: 18px; color: #000; margin-bottom: 25px; }

/* line 665, ../sass/_main.scss */
.title-step { font-size: 40px; font-weight: bold; color: #000; text-align: center; padding: 40px 0px; }
/* line 671, ../sass/_main.scss */
.title-step span { color: #e76b6b; }

/* line 673, ../sass/_main.scss */
.step { background: #fff; margin-bottom: 25px; -moz-box-shadow: 0 0 18px rgba(105, 105, 103, 0.15); -webkit-box-shadow: 0 0 18px rgba(105, 105, 103, 0.15); box-shadow: 0 0 18px rgba(105, 105, 103, 0.15); }
/* line 677, ../sass/_main.scss */
.step img { float: left; }
/* line 679, ../sass/_main.scss */
.step .step__text { float: left; width: 800px; padding: 10px 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 684, ../sass/_main.scss */
.step .step__text p { font-size: 25px; color: #000; margin-bottom: 25px; }
/* line 692, ../sass/_main.scss */
.step.step_right img { float: right; }

/* line 695, ../sass/_main.scss */
.list-circle { padding-left: 15px; }
/* line 697, ../sass/_main.scss */
.list-circle li { font-family: 'lato-regular'; padding-left: 12px; font-size: 16px; line-height: 18px; position: relative; margin-top: 17px; }
/* line 704, ../sass/_main.scss */
.list-circle li:before { content: ''; position: absolute; width: 10px; height: 10px; border-radius: 50%; background: #ed7272; display: block; left: -17px; top: 4px; }
/* line 715, ../sass/_main.scss */
.list-circle li:first-child { margin-top: 0; }
/* line 716, ../sass/_main.scss */
.list-circle li .step__text-color { color: #ed7272; }
/* line 717, ../sass/_main.scss */
.list-circle li .step__text-b { font-family: 'lato-bold'; }

/* line 720, ../sass/_main.scss */
.progress { height: 5px; margin-bottom: 9px; background-color: #e8e8e8; width: 270px; float: left; }

/* line 727, ../sass/_main.scss */
.sr-only { position: relative; top: -17px; font-size: 13px; color: #5d5d5d; right: -50px; }

/* line 734, ../sass/_main.scss */
.progress-bar { float: left; width: 0; height: 100%; font-size: 12px; line-height: 20px; color: #5d5d5d; text-align: center; background-color: #e76b6b; -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); -webkit-transition: width .6s ease; -o-transition: width .6s ease; transition: width .6s ease; }

/* line 750, ../sass/_main.scss */
.progress-block label { font-size: 15px; font-family: 'lato-regular'; color: #000; margin-bottom: 13px; display: block; }
/* line 757, ../sass/_main.scss */
.progress-block p { float: left; line-height: 3px; margin-left: 7px; }

/* line 763, ../sass/_main.scss */
input[type=radio] { display: none; }

/* line 764, ../sass/_main.scss */
.radio { margin-bottom: 17px; }

/* line 765, ../sass/_main.scss */
.radio label:before { font-family: 'icomoon'; content: "\e643"; font-size: 16px; color: #d7dbdd; margin-right: 15px; }

/* line 773, ../sass/_main.scss */
.radio label:hover:before { content: "\e644"; }

/* line 777, ../sass/_main.scss */
input[type=radio]:checked + label:before { content: "\e644"; text-align: center; color: #e76b6b; font-size: 16px; }

/* line 783, ../sass/_main.scss */
input[type=radio]:checked + label { color: #e76b6b; }

/* line 784, ../sass/_main.scss */
.radio label { font-family: 'lato-medium'; font-size: 16px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/* line 790, ../sass/_main.scss */
.poll-btn { margin: 38px 0 16px; }

/* line 791, ../sass/_main.scss */
.progress-wrapper { display: none; }

/* line 792, ../sass/_main.scss */
.poll-all { font-size: 16px; color: #000; top: 10px; position: relative; }

/* line 798, ../sass/_main.scss */
.icon-favorite:before { content: "\e621"; }

/* line 799, ../sass/_main.scss */
.pos-static { position: static !important; }

/* line 800, ../sass/_main.scss */
.show-big-menu:hover { background: #e76b6b; }
/* line 802, ../sass/_main.scss */
.show-big-menu:hover a, .show-big-menu:hover a:before { color: #fff; }
/* line 803, ../sass/_main.scss */
.show-big-menu:hover .big-menu { height: 160px; overflow: visible; }
/* line 803, ../sass/_main.scss */
.show-big-menu:hover .big-menu li { height: 75px; }

/* line 807, ../sass/_main.scss */
.breadcrumbs ul li { float: left; color: #606060; padding-left: 10px; line-height: 43px; }
/* line 812, ../sass/_main.scss */
.breadcrumbs ul li:first-child { padding-left: 0; }
/* line 813, ../sass/_main.scss */
.breadcrumbs ul li a { color: #e76b6b; font-family: 'lato-regular'; font-size: 14px; margin-right: 10px; text-decoration: underline; }
/* line 819, ../sass/_main.scss */
.breadcrumbs ul li a:hover { text-decoration: none; }

/* line 824, ../sass/_main.scss */
.change-view { padding: 12px 2px 5px; }
/* line 826, ../sass/_main.scss */
.change-view a { display: inline-block; color: #5e5e5e; margin-left: 5px; }
/* line 830, ../sass/_main.scss */
.change-view a:hover, .change-view a.active { color: #e76b6b; }

/* line 833, ../sass/_main.scss */
.products__title { font-size: 34px; color: #5e5e5e; line-height: 44px; text-align: center; margin-bottom: 5px; }

/* line 840, ../sass/_main.scss */
.products__description { font-family: 'lato-italic'; font-size: 18px; line-height: 20px; color: #5e5e5e; text-align: center; margin-bottom: 40px; }

/* line 848, ../sass/_main.scss */
.product { position: relative; }
/* line 850, ../sass/_main.scss */
.list-product-five .product { width: 20%; float: left; margin-bottom: 37px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 856, ../sass/_main.scss */
.list-product-eight .product { width: 20%; float: left; margin-bottom: 37px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

/* line 863, ../sass/_main.scss */
.product__new:before { content: ''; position: absolute; right: 10px; top: 10px; width: 130px; height: 70px; z-index: 10; background: url("images/new.png") no-repeat; }

/* line 873, ../sass/_main.scss */
.product__acute:before { content: ''; position: absolute; right: 10px; top: 10px; width: 130px; height: 70px; z-index: 10; background: url("images/acute.png") no-repeat; }

/* line 883, ../sass/_main.scss */
.product__title { font-size: 19px; color: #5d5d5d; line-height: 18px; text-align: center; margin-bottom: 9px; padding: 0 10px; }

/* line 891, ../sass/_main.scss */
.product__img { position: relative; display: block; margin-bottom: -8px; min-height: 190px; }
/* line 896, ../sass/_main.scss */
.product__img img { display: block; max-width: 100%; max-height: 100%; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }

/* line 908, ../sass/_main.scss */
.product-price { font-size: 32px; color: #5d5d5d; line-height: 29px; float: left; margin-left: 10px; }
/* line 914, ../sass/_main.scss */
.product-price span { right: 9px; position: relative; top: -3px; }

/* line 921, ../sass/_main.scss */
.product-buy input { float: left; width: 60px; }
/* line 925, ../sass/_main.scss */
.product-buy a { display: inline-block; }
/* line 926, ../sass/_main.scss */
.product-buy .icon-cart { color: #e76b6b; padding: 2px 17px; display: inline-block; }

/* line 932, ../sass/_main.scss */
.counter { position: relative; }
/* line 934, ../sass/_main.scss */
.counter input { background: #e9e9e9; text-align: center; border-top: 1px solid #bfbfbf; font-size: 13px; color: #5d5d5d; width: 33px; padding: 6px 25px 7px 0; margin: 0 11px 0 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 945, ../sass/_main.scss */
.counter .ui-spinner-button { position: absolute; width: 15px; height: 8px; border: 1px solid #fff; outline: 1px solid #bdbdbd; background: #ececec; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
/* line 954, ../sass/_main.scss */
.counter .ui-spinner-button:hover { background: #f5f5f5; }
/* line 958, ../sass/_main.scss */
.counter .ui-spinner-up { right: 15px; top: -6px; }
/* line 961, ../sass/_main.scss */
.counter .ui-spinner-up span { display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; background: url('../css/images/icons-sb4792690e5.png') 0 -35px no-repeat; width: 5px; height: 3px; }
/* line 972, ../sass/_main.scss */
.counter .ui-spinner-down { right: 15px; bottom: 3px; }
/* line 975, ../sass/_main.scss */
.counter .ui-spinner-down span { display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; background: url('../css/images/icons-sb4792690e5.png') 0 -22px no-repeat; width: 5px; height: 3px; }

/* line 1, ../sass/_icons.scss */
.icon { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Enable Ligatures ================ */ -webkit-font-feature-settings: "liga"; -moz-font-feature-settings: "liga=1"; -moz-font-feature-settings: "liga"; -ms-font-feature-settings: "liga" 1; -o-font-feature-settings: "liga"; font-feature-settings: "liga"; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* line 24, ../sass/_icons.scss */
.header-top__link .header-top__request .icon-phone { margin: -2px 10px 0 10px; }

/* line 26, ../sass/_icons.scss */
.icon-twitter { color: #6fcafd; }

/* line 27, ../sass/_icons.scss */
.icon-facebook { color: #455796; }

/* line 28, ../sass/_icons.scss */
.icon-vkontakte { color: #5e6fa4; }

/* line 29, ../sass/_icons.scss */
.icon-fz22 { font-size: 22px; }

/* line 30, ../sass/_icons.scss */
.icon-fz23 { font-size: 23px; }

/* line 31, ../sass/_icons.scss */
.icon-fz28 { font-size: 28px; }

/* line 32, ../sass/_icons.scss */
.icon-fz41 { font-size: 41px; }

/* line 33, ../sass/_icons.scss */
.icon-fz39 { font-size: 39px; }

/* line 34, ../sass/_icons.scss */
.icon-fz35 { font-size: 35px; }

/* line 35, ../sass/_icons.scss */
.icon-fz37 { font-size: 37px; }

/* line 36, ../sass/_icons.scss */
.icon-fz32 { font-size: 32px; }

/* line 37, ../sass/_icons.scss */
.icon-fz43 { font-size: 43px; }

/* line 38, ../sass/_icons.scss */
.icon-fz33 { font-size: 33px; }

/* line 39, ../sass/_icons.scss */
.icon-fz45 { font-size: 45px; }

/* line 40, ../sass/_icons.scss */
.icon-fz48 { font-size: 48px; }

/* line 41, ../sass/_icons.scss */
.icon-fz51 { font-size: 51px; }

/* line 42, ../sass/_icons.scss */
.icon-fz53 { font-size: 53px; }

/* line 43, ../sass/_icons.scss */
.icon-fz40 { font-size: 40px; }

/* line 44, ../sass/_icons.scss */
.icon-fz38 { font-size: 38px; }

/* line 45, ../sass/_icons.scss */
.icon-fz42 { font-size: 42px; }

/* line 46, ../sass/_icons.scss */
.icon-fz55 { font-size: 55px; }

/* line 47, ../sass/_icons.scss */
.icon-chetbox:before { content: "\e643"; }

/* line 50, ../sass/_icons.scss */
.icon-chetbox_active:before { content: "\e644"; }

/* line 53, ../sass/_icons.scss */
.icon-peper:before { content: "\e604"; }

/* line 56, ../sass/_icons.scss */
.icon-price:before { content: "\e605"; }

/* line 59, ../sass/_icons.scss */
.icon-vegan:before { content: "\e642"; }

/* line 62, ../sass/_icons.scss */
.icon-plus_konk:before { content: "\e641"; }

/* line 65, ../sass/_icons.scss */
.icon-konkurs_end:before { content: "\e63a"; }

/* line 68, ../sass/_icons.scss */
.icon-two:before { content: "\e63b"; }

/* line 71, ../sass/_icons.scss */
.icon-equal_konstr:before { content: "\e63c"; }

/* line 74, ../sass/_icons.scss */
.icon-konkurs_openwote:before { content: "\e63d"; }

/* line 77, ../sass/_icons.scss */
.icon-one:before { content: "\e63e"; }

/* line 80, ../sass/_icons.scss */
.icon-plusl_konstr:before { content: "\e63f"; }

/* line 83, ../sass/_icons.scss */
.icon-three:before { content: "\e640"; }

/* line 86, ../sass/_icons.scss */
.icon-konk_end:before { content: "\e639"; }

/* line 89, ../sass/_icons.scss */
.icon-rewadmin:before { content: "\e62d"; }

/* line 92, ../sass/_icons.scss */
.icon-rewuser:before { content: "\e638"; }

/* line 95, ../sass/_icons.scss */
.icon-star:before { content: "\e637"; }

/* line 98, ../sass/_icons.scss */
.icon-error:before { content: "\e625"; }

/* line 101, ../sass/_icons.scss */
.icon-accept:before { content: "\e62c"; }

/* line 104, ../sass/_icons.scss */
.icon-razver:before { content: "\e62a"; }

/* line 107, ../sass/_icons.scss */
.icon-sver:before { content: "\e62b"; }

/* line 110, ../sass/_icons.scss */
.icon-arrowcal1:before { content: "\e635"; }

/* line 113, ../sass/_icons.scss */
.icon-arrowcal2:before { content: "\e636"; }

/* line 116, ../sass/_icons.scss */
.icon-osminog:before { content: "\e634"; }

/* line 119, ../sass/_icons.scss */
.icon-popupsushi:before { content: "\e633"; }

/* line 122, ../sass/_icons.scss */
.icon-cancel:before { content: "\e632"; }

/* line 125, ../sass/_icons.scss */
.icon-question:before { content: "\e631"; }

/* line 128, ../sass/_icons.scss */
.icon-oplata_cart:before { content: "\e62e"; }

/* line 131, ../sass/_icons.scss */
.icon-oplata_cash:before { content: "\e62f"; }

/* line 134, ../sass/_icons.scss */
.icon-oplata_im:before { content: "\e630"; }

/* line 137, ../sass/_icons.scss */
.icon-calendar:before { content: "\e627"; }

/* line 140, ../sass/_icons.scss */
.icon-delete_box:before { content: "\e628"; }

/* line 143, ../sass/_icons.scss */
.icon-time:before { content: "\e629"; }

/* line 146, ../sass/_icons.scss */
.icon-delete:before { content: "\e626"; }

/* line 149, ../sass/_icons.scss */
.icon-sort5:before { content: "\e622"; }

/* line 152, ../sass/_icons.scss */
.icon-sort8:before { content: "\e623"; }

/* line 155, ../sass/_icons.scss */
.icon-arrow_back:before { content: "\e624"; }

/* line 158, ../sass/_icons.scss */
.icon-favorite:before { content: "\e621"; }

/* line 161, ../sass/_icons.scss */
.icon-rubl:before { content: "\e620"; }

/* line 164, ../sass/_icons.scss */
.icon-fb:before { content: "\e61d"; }

/* line 167, ../sass/_icons.scss */
.icon-twitter:before { content: "\e61e"; }

/* line 170, ../sass/_icons.scss */
.icon-vk:before { content: "\e61f"; }

/* line 173, ../sass/_icons.scss */
.icon-child:before { content: "\e606"; }

/* line 176, ../sass/_icons.scss */
.icon-assorti_seti:before { content: "\e600"; }

/* line 179, ../sass/_icons.scss */
.icon-cake:before { content: "\e601"; }

/* line 182, ../sass/_icons.scss */
.icon-car:before { content: "\e602"; }

/* line 185, ../sass/_icons.scss */
.icon-cart:before { content: "\e603"; }

/* line 188, ../sass/_icons.scss */
.icon-clock:before { content: "\e607"; }

/* line 191, ../sass/_icons.scss */
.icon-credit-card:before { content: "\e608"; }

/* line 194, ../sass/_icons.scss */
.icon-desserts:before { content: "\e609"; }

/* line 197, ../sass/_icons.scss */
.icon-drinkables:before { content: "\e60a"; }

/* line 200, ../sass/_icons.scss */
.icon-edit1:before { content: "\e60b"; }

/* line 203, ../sass/_icons.scss */
.icon-gift:before { content: "\e60c"; }

/* line 206, ../sass/_icons.scss */
.icon-hot:before { content: "\e60d"; }

/* line 209, ../sass/_icons.scss */
.icon-like:before { content: "\e60e"; }

/* line 212, ../sass/_icons.scss */
.icon-menu:before { content: "\e60f"; }

/* line 215, ../sass/_icons.scss */
.icon-onigiri:before { content: "\e610"; }

/* line 218, ../sass/_icons.scss */
.icon-phone:before { content: "\e611"; }

/* line 221, ../sass/_icons.scss */
.icon-pizza:before { content: "\e612"; }

/* line 224, ../sass/_icons.scss */
.icon-roll:before { content: "\e613"; }

/* line 227, ../sass/_icons.scss */
.icon-salad:before { content: "\e614"; }

/* line 230, ../sass/_icons.scss */
.icon-sashimi:before { content: "\e615"; }

/* line 233, ../sass/_icons.scss */
.icon-souces:before { content: "\e616"; }

/* line 236, ../sass/_icons.scss */
.icon-soup:before { content: "\e617"; }

/* line 239, ../sass/_icons.scss */
.icon-sushi_menu:before { content: "\e618"; }

/* line 242, ../sass/_icons.scss */
.icon-sushibox:before { content: "\e619"; }

/* line 245, ../sass/_icons.scss */
.icon-sushi:before { content: "\e61a"; }

/* line 248, ../sass/_icons.scss */
.icon-user:before { content: "\e61b"; }

/* line 251, ../sass/_icons.scss */
.icon-warmroll:before { content: "\e61c"; }

/* .werewr{
	&:before{
		content: 'ok';
		@extend .icon;
	}
} */
/* line 1, ../sass/_btn.scss */
.btn-pink { background: #e76b6b; color: #fff; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 6, ../sass/_btn.scss */
.btn-pink:hover { background: #e35656; }

/* line 8, ../sass/_btn.scss */
.btn-silver { background: #d7dbdd; color: #000000; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 13, ../sass/_btn.scss */
.btn-silver:hover { background: #e0e5e7; }

/* line 15, ../sass/_btn.scss */
.btn-vote { font-weight: bold; padding: 7px 28px; font-size: 16px; display: inline-block; }

/* line 21, ../sass/_btn.scss */
.btn-result { padding: 7px 29px; font-size: 16px; margin-left: 20px; display: inline-block; }

/* line 27, ../sass/_btn.scss */
.btn-cart { background: #e9e9e9; border: 1px solid #a4a4a4; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 31, ../sass/_btn.scss */
.btn-cart:hover { background: #fff; }
