@charset "UTF-8";
/* line 1, ../sass/lib/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

/* line 14, ../sass/lib/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 17, ../sass/lib/_reset.scss */
b, strong { font-weight: bold; }

/* line 20, ../sass/lib/_reset.scss */
img { color: transparent; font-size: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }

/* line 26, ../sass/lib/_reset.scss */
body, html { height: 100%; }

/* line 29, ../sass/lib/_reset.scss */
img, fieldset, a img { border: none; }

/* line 32, ../sass/lib/_reset.scss */
input[type="submit"], button { cursor: pointer; }
/* line 35, ../sass/lib/_reset.scss */
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

/* line 40, ../sass/lib/_reset.scss */
textarea { overflow: auto; }

/* line 43, ../sass/lib/_reset.scss */
input, button { margin: 0; padding: 0; border: 0; }

/* line 48, ../sass/lib/_reset.scss */
input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

/* line 52, ../sass/lib/_reset.scss */
ul, ol { list-style-type: none; }

/* line 53, ../sass/lib/_reset.scss */
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

/* line 58, ../sass/lib/_reset.scss */
svg { overflow: hidden; }

/* line 60, ../sass/lib/_reset.scss */
.clear:after, .clear:before { clear: both; display: block; zoom: 1; content: ''; }

/* line 67, ../sass/lib/_reset.scss */
.left { float: left; }

/* line 68, ../sass/lib/_reset.scss */
.right { float: right; }

/* line 69, ../sass/lib/_reset.scss */
html, body { font-family: 'PT Sans', sans-serif; font-size: 14px; color: #000; }

/* line 74, ../sass/lib/_reset.scss */
body { background: #fcf7f3; }

@font-face { font-family: "Lato"; src: url("fonts/lato-regular.eot"); src: url("fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("fonts/lato-regular.woff") format("woff"), url("fonts/lato-regular.ttf") format("truetype"), url("fonts/lato-regular.svg") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Lato"; src: url("fonts/lato-italic.eot"); src: url("fonts/lato-italic.eot?#iefix") format("embedded-opentype"), url("fonts/lato-italic.woff") format("woff"), url("fonts/lato-italic.ttf") format("truetype"), url("fonts/lato-italic.svg") format("svg"); font-weight: normal; font-style: italic; }
@font-face { font-family: "Lato"; src: url("fonts/lato-medium.eot"); src: url("fonts/lato-medium.eot?#iefix") format("embedded-opentype"), url("fonts/lato-medium.woff") format("woff"), url("fonts/lato-medium.ttf") format("truetype"), url("fonts/lato-medium.svg") format("svg"); font-weight: 500; font-style: normal; }
@font-face { font-family: "Lato"; src: url("fonts/lato-semibold.eot"); src: url("fonts/lato-semibold.eot?#iefix") format("embedded-opentype"), url("fonts/lato-semibold.woff") format("woff"), url("fonts/lato-semibold.ttf") format("truetype"), url("fonts/lato-semibold.svg") format("svg"); font-weight: 600; font-style: normal; }
@font-face { font-family: "Lato"; src: url("fonts/lato-bold.eot"); src: url("fonts/lato-bold.eot?#iefix") format("embedded-opentype"), url("fonts/lato-bold.woff") format("woff"), url("fonts/lato-bold.ttf") format("truetype"), url("fonts/lato-bold.svg") format("svg"); font-weight: 700; font-style: normal; }
@font-face { font-family: "Lato"; src: url("fonts/lato-black.eot"); src: url("fonts/lato-black.eot?#iefix") format("embedded-opentype"), url("fonts/lato-black.woff") format("woff"), url("fonts/lato-black.ttf") format("truetype"), url("fonts/lato-black.svg") format("svg"); font-weight: 800; font-style: normal; }
@font-face { font-family: "Lato"; src: url("fonts/lato-heavy.eot"); src: url("fonts/lato-heavy.eot?#iefix") format("embedded-opentype"), url("fonts/lato-heavy.woff") format("woff"), url("fonts/lato-heavy.ttf") format("truetype"), url("fonts/lato-heavy.svg") format("svg"); font-weight: 900; font-style: normal; }
@font-face { font-family: "icomoon"; src: url("fonts/icomoon.eot"); src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Sansation"; src: url("fonts/sansation-bold.eot"); src: url("fonts/sansation-bold.eot?#iefix") format("embedded-opentype"), url("fonts/sansation-bold.woff") format("woff"), url("fonts/sansation-bold.ttf") format("truetype"), url("fonts/sansation-bold.svg") format("svg"); font-weight: 700; font-style: normal; }
/* line 1, ../sass/_main.scss */
a, .icon { -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; text-decoration: none; }

/* line 5, ../sass/_main.scss */
body { font-family: Lato, Arial, sans-serif; }
/* line 7, ../sass/_main.scss */
body > .container { height: auto; min-height: 100%; }

/* line 12, ../sass/_main.scss */
header { margin-bottom: 4px; position: relative; z-index: 2; }
/* line 16, ../sass/_main.scss */
header.sticked { padding-bottom: 68px; }
/* line 18, ../sass/_main.scss */
header.sticked.opened-menu { padding-bottom: 224px; }

/* line 21, ../sass/_main.scss */
html, body, .container { height: 100%; }

/* line 23, ../sass/_main.scss */
.actions { position: relative; z-index: 1; padding-bottom: 30px; }
/* line 27, ../sass/_main.scss */
.actions .wrapper-shadow { background: #fff; }
/* line 28, ../sass/_main.scss */
.actions > .content { position: relative; }
/* line 30, ../sass/_main.scss */
.actions > .content:after { background: url("images/shadow.png") 0 -5px no-repeat; height: 40px; width: 100%; content: ''; position: absolute; left: 0; bottom: -40px; }
/* line 38, ../sass/_main.scss */
.actions .actions__big { float: left; width: 40%; height: 480px; overflow: hidden; }
/* line 43, ../sass/_main.scss */
.actions .actions__big img { float: left; width: 50%; }
/* line 47, ../sass/_main.scss */
.actions .actions__big.action_main { background: #fcfbf4; }
/* line 49, ../sass/_main.scss */
.actions .actions__little { float: left; width: 20%; height: 480px; overflow: hidden; }
/* line 54, ../sass/_main.scss */
.actions .actions__little img, .actions .actions__little .action__text { width: 100%; }
/* line 55, ../sass/_main.scss */
.actions .actions__little a { text-decoration: none; }
/* line 57, ../sass/_main.scss */
.actions .action-hor { height: 240px; }
/* line 60, ../sass/_main.scss */
.actions .action-hor.action-hor__right img { float: right; }
/* line 63, ../sass/_main.scss */
.actions .action__text { float: left; text-align: center; min-height: 240px; width: 50%; padding: 15px 12px; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 71, ../sass/_main.scss */
.actions .action__text .icon { color: #e76b6b; }
/* line 72, ../sass/_main.scss */
.action_vert .actions .action__text { text-align: center; float: none; padding: 15px 12px; height: 240px; width: 100%; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 80, ../sass/_main.scss */
.action_vert .actions .action__text .icon { color: #e76b6b; }
/* line 83, ../sass/_main.scss */
.actions .line { display: block; margin: 13px auto; background: url('../css/images/icons-s6a4f66378a.png') 0 -76px no-repeat; width: 113px; height: 1px; }
/* line 88, ../sass/_main.scss */
.actions .circle { display: block; margin: 10px auto; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; background: url('../css/images/icons-s6a4f66378a.png') 0 0 no-repeat; width: 12px; height: 12px; }
/* line 94, ../sass/_main.scss */
.actions .red { color: #f00; }
/* line 95, ../sass/_main.scss */
.actions .action__title { font-size: 20px; color: #000; margin-bottom: 13px; padding: 0 15px; }
/* line 101, ../sass/_main.scss */
.actions .action__descript { color: #555555; line-height: 20px; }
/* line 105, ../sass/_main.scss */
.actions .action__price { font-size: 30px; color: #000; padding: 5px 0 20px; font-weight: 900; }
/* line 111, ../sass/_main.scss */
.actions .action__text_main { color: #000000; padding: 7px 0 6px; line-height: 20px; }
/* line 117, ../sass/_main.scss */
.actions .action_main .action__text { padding-top: 30px; }
/* line 119, ../sass/_main.scss */
.actions .action_main .action__text .line { margin: 20px auto; }
/* line 122, ../sass/_main.scss */
.actions .triangle-up { width: 0; height: 0; margin-left: -19px; border-left: 19px solid transparent; border-right: 19px solid transparent; border-bottom: 22px solid #fff; position: absolute; left: 50%; top: -22px; }
/* line 131, ../sass/_main.scss */
.actions .triangle-left { width: 0; height: 0; margin-top: -19px; border-top: 19px solid transparent; border-right: 22px solid #fff; border-bottom: 19px solid transparent; position: absolute; left: -22px; top: 50%; }
/* line 140, ../sass/_main.scss */
.actions .triangle-right { width: 0; height: 0; margin-top: -19px; border-top: 19px solid transparent; border-left: 22px solid #fff; border-bottom: 19px solid transparent; position: absolute; right: -22px; top: 50%; }

/* line 150, ../sass/_main.scss */
.application { text-align: center; }
/* line 152, ../sass/_main.scss */
.application img { margin: 0 6px; }

/* line 154, ../sass/_main.scss */
.back-to { color: #606060; font-size: 14px; margin-top: 13px; position: relative; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 160, ../sass/_main.scss */
.back-to:before { content: ""; font: 18px icomoon; color: #5e5e5e; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: absolute; left: -27px; top: -2px; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 165, ../sass/_main.scss */
.back-to:hover { color: #e76b6b; }
/* line 167, ../sass/_main.scss */
.back-to:hover:before { color: #e76b6b; }

/* line 170, ../sass/_main.scss */
.banner { position: relative; z-index: 1; }
/* line 173, ../sass/_main.scss */
.banner .banner-time { background: url("images/baner-time-bg.png") no-repeat; margin: 4px 0; }
/* line 177, ../sass/_main.scss */
.banner .banner-time__left-img { float: left; }
/* line 179, ../sass/_main.scss */
.banner .banner-time__left-img img { padding: 2px 55px; }
/* line 181, ../sass/_main.scss */
.banner .banner-time__text { float: left; padding: 22px 17px 0; }
/* line 184, ../sass/_main.scss */
.banner .banner-time__text p { font-weight: 700; font-size: 25px; color: #030303; margin-bottom: 23px; line-height: 26px; }
/* line 192, ../sass/_main.scss */
.banner .banner-time__when { margin-bottom: 0px; padding-left: 65px; }
/* line 196, ../sass/_main.scss */
.banner .banner-time__name { color: #ed7272; padding-left: 4px; }
/* line 200, ../sass/_main.scss */
.banner .banner-time__cost { font-size: 28px; padding-left: 8px; }
/* line 204, ../sass/_main.scss */
.banner .banner-time__discount { float: right; padding: 4px 23px; }
/* line 207, ../sass/_main.scss */
.banner .banner-time__discount p { font-weight: 700; font-size: 24px; color: #ff3809; text-align: right; padding-right: 15px; margin-bottom: 5px; }

/* line 217, ../sass/_main.scss */
.bg-header { background: #e7dbcb url("../css/images/bg/blik.png") top center no-repeat; padding-bottom: 10px; position: relative; }
/* line 221, ../sass/_main.scss */
.bg-header:before { content: ''; position: absolute; right: 0; bottom: 0; background: url("../css/images/bg/right.png") no-repeat; width: 495px; height: 496px; }
/* line 228, ../sass/_main.scss */
.bg-header:after { content: ''; background: url("../css/images/bg/left.png") no-repeat; width: 538px; height: 100%; position: absolute; left: 0; top: 0; }

/* line 238, ../sass/_main.scss */
.breadcrumbs ul li { float: left; color: #606060; line-height: 43px; position: relative; margin-right: 30px; }
/* line 244, ../sass/_main.scss */
.breadcrumbs ul li:after { position: absolute; right: -18px; top: 0; content: '/'; }
/* line 248, ../sass/_main.scss */
.breadcrumbs ul li:last-child:after { display: none; }
/* line 249, ../sass/_main.scss */
.breadcrumbs ul li a { color: #e76b6b; font-size: 14px; text-decoration: underline; }
/* line 253, ../sass/_main.scss */
.breadcrumbs ul li a:hover { text-decoration: none; }

/* line 258, ../sass/_main.scss */
.call-request { padding-top: 10px; position: relative; padding-left: 58px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 263, ../sass/_main.scss */
.call-request:before { position: absolute; left: 9px; top: 8px; content: '\e611'; font-size: 40px; color: #e76b6b; line-height: 44px; font-family: 'icomoon'; font-weight: 400; }
/* line 272, ../sass/_main.scss */
.call-request .call-request__phone { color: #5d5d5d; font-size: 22px; }
/* line 277, ../sass/_main.scss */
.header-top__link .call-request .call-request__phone-link { font: 14px "PT Sans", Arial, sans-serif; color: #159bea; display: block; padding: 0; text-decoration: underline; }
/* line 283, ../sass/_main.scss */
.header-top__link .call-request .call-request__phone-link:hover { text-decoration: none; }

/* line 287, ../sass/_main.scss */
.change-view { padding: 12px 2px 5px; }
/* line 289, ../sass/_main.scss */
.change-view span { -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; display: inline-block; cursor: pointer; color: #5e5e5e; margin-left: 5px; }
/* line 295, ../sass/_main.scss */
.change-view span:hover { color: #e76b6b; }
/* line 296, ../sass/_main.scss */
.change-view span.active { color: #e76b6b; pointer-events: none; }

/* line 302, ../sass/_main.scss */
.content { width: 1200px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; margin: 0 auto; }

/* line 307, ../sass/_main.scss */
.counter { position: relative; }
/* line 309, ../sass/_main.scss */
.counter input { background: #e9e9e9; text-align: center; border-top: 1px solid #bfbfbf; font: 13px "PT Sans", Arial, sans-serif; color: #5d5d5d; width: 33px; padding: 6px 25px 7px 0; margin: 0 11px 0 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 320, ../sass/_main.scss */
.counter .ui-spinner-button { position: absolute; width: 15px; height: 8px; border: 1px solid #fff; outline: 1px solid #bdbdbd; background: #ececec; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 330, ../sass/_main.scss */
.counter .ui-spinner-button:hover { background: #f5f5f5; }
/* line 334, ../sass/_main.scss */
.counter .ui-spinner-up { right: 15px; top: -6px; }
/* line 337, ../sass/_main.scss */
.counter .ui-spinner-up span { position: absolute; left: 0; top: 0; display: block; right: 0; bottom: 0; margin: auto; background: url('../css/images/icons-s6a4f66378a.png') 0 -35px no-repeat; width: 5px; height: 3px; }
/* line 346, ../sass/_main.scss */
.counter .ui-spinner-down { right: 15px; bottom: 0; }
/* line 349, ../sass/_main.scss */
.counter .ui-spinner-down span { position: absolute; left: 0; top: 0; display: block; right: 0; bottom: 0; margin: auto; background: url('../css/images/icons-s6a4f66378a.png') 0 -22px no-repeat; width: 5px; height: 3px; }

/* line 359, ../sass/_main.scss */
.footer { clear: both; position: relative; z-index: 10; height: 365px; margin-top: -365px; }

/* line 366, ../sass/_main.scss */
.footer-bottom { background: #fcf7f3; border-top: 2px dashed #000; padding: 35px 0; }
/* line 370, ../sass/_main.scss */
.footer-bottom .footer-bottom__social { float: left; padding: 15px 0; width: 410px; }
/* line 375, ../sass/_main.scss */
.footer-bottom .footer-bottom__application { float: left; }
/* line 377, ../sass/_main.scss */
.footer-bottom .footer-bottom__application p { font: 18px "PT Sans", Arial, sans-serif; color: #e27777; padding: 10px 2px; margin-bottom: 32px; }
/* line 384, ../sass/_main.scss */
.footer-bottom .footer-bottom__developer { float: left; width: 235px; text-align: center; padding-left: 11px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 390, ../sass/_main.scss */
.footer-bottom .footer-bottom__developer a { display: block; text-decoration: none; }
/* line 394, ../sass/_main.scss */
.footer-bottom .footer-bottom__developer .number-developer { padding: 11px 0 15px; text-align: right; margin-bottom: 30px; font-weight: 800; font-size: 22px; color: #808080; }

/* line 404, ../sass/_main.scss */
.footer-middle { background: #fff; padding: 22px 0 20px; }

/* line 408, ../sass/_main.scss */
.footer-top { background: #ede5dc; padding: 9px 0; }
/* line 411, ../sass/_main.scss */
.footer-top p { font: 700 22px/35px "PT Sans", Arial, sans-serif; color: #595959; text-align: center; }

/* line 417, ../sass/_main.scss */
.header-bottom { background: #ffffff; width: 1200px; padding-bottom: 1px; font-family: "PT Sans", Arial, sans-serif; -moz-box-shadow: 0 0 19px rgba(106, 91, 33, 0.25); -webkit-box-shadow: 0 0 19px rgba(106, 91, 33, 0.25); box-shadow: 0 0 19px rgba(106, 91, 33, 0.25); -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 424, ../sass/_main.scss */
.header-bottom.active { padding-bottom: 157px; }
/* line 425, ../sass/_main.scss */
.header-bottom .header-bottom__left { float: left; }
/* line 427, ../sass/_main.scss */
.header-bottom .header-bottom__left > nav > ul > li { float: left; margin: 1px 1px 1px 0; }
/* line 430, ../sass/_main.scss */
.header-bottom .header-bottom__left > nav > ul > li > a { font-size: 19px; color: #5e5e5e; display: block; padding: 0 19px; line-height: 63px; text-decoration: none; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 438, ../sass/_main.scss */
.header-bottom .header-bottom__left > nav > ul > li > a:hover, .header-bottom .header-bottom__left > nav > ul > li > a.active { color: #fff; background: #e76b6b; }
/* line 445, ../sass/_main.scss */
.header-bottom .header-bottom__right { float: right; }
/* line 447, ../sass/_main.scss */
.header-bottom .header-bottom__right > nav > ul > li { float: left; position: relative; margin: 1px 0 1px 1px; }
/* line 451, ../sass/_main.scss */
.header-bottom .header-bottom__right > nav > ul > li > a { -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 453, ../sass/_main.scss */
.header-bottom .header-bottom__right > nav > ul > li > a:hover, .header-bottom .header-bottom__right > nav > ul > li > a.active { color: #fff; background: #e76b6b; }
/* line 456, ../sass/_main.scss */
.header-bottom .header-bottom__right > nav > ul > li > a:hover:before, .header-bottom .header-bottom__right > nav > ul > li > a.active:before { color: #ffffff; }
/* line 459, ../sass/_main.scss */
.header-bottom .header-bottom__right > nav > ul > li .cart-count { font-size: 10px; color: #fff; background: #00b5f3; padding: 0 2px 1px; line-height: 14px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; position: absolute; left: 35px; top: 12px; }
/* line 470, ../sass/_main.scss */
.header-bottom .header-bottom__account { display: block; position: relative; font-size: 19px; color: #5e5e5e; padding: 12px 30px 13px 57px; line-height: 19px; text-decoration: none; }
/* line 478, ../sass/_main.scss */
.header-bottom .header-bottom__account:before { content: '\e61b'; color: #e76b6b; font-family: 'icomoon'; font-size: 38px; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: absolute; left: 7px; top: 23px; }
/* line 487, ../sass/_main.scss */
.header-bottom .header-bottom__menu { display: block; position: relative; font-size: 19px; color: #5e5e5e; padding: 0 30px 0 57px; line-height: 63px; text-decoration: none; }
/* line 495, ../sass/_main.scss */
.header-bottom .header-bottom__menu:before { content: '\e60f'; color: #e76b6b; font-family: 'icomoon'; font-size: 40px; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: absolute; left: 7px; top: 0; }
/* line 504, ../sass/_main.scss */
.header-bottom .header-bottom__menu.active + .big-menu { visibility: visible; opacity: 1; height: 160px; }
/* line 511, ../sass/_main.scss */
.header-bottom .header-bottom__basket { display: block; position: relative; font-size: 19px; color: #5e5e5e; padding: 0 30px 0 57px; line-height: 63px; text-decoration: none; }
/* line 519, ../sass/_main.scss */
.header-bottom .header-bottom__basket:before { content: '\e603'; color: #e76b6b; font-family: 'icomoon'; font-size: 37px; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: absolute; left: 7px; top: 1px; }
/* line 528, ../sass/_main.scss */
.header-bottom .big-menu { height: 0; opacity: 0; visibility: hidden; overflow: hidden; width: 100%; max-width: 1200px; z-index: 102; background: #e76b6b; position: absolute; left: 0; top: 65px; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 539, ../sass/_main.scss */
.header-bottom .big-menu ul { padding: 0 0 10px; }
/* line 540, ../sass/_main.scss */
.header-bottom .big-menu li { width: 12.5%; text-align: center; float: left; padding: 12px 10px 0; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 547, ../sass/_main.scss */
.header-bottom .big-menu li a { text-transform: uppercase; color: #e1e1e1; display: block; text-decoration: none; padding: 5px; }
/* line 553, ../sass/_main.scss */
.header-bottom .big-menu li a span { display: block; color: #fff; line-height: 30px; padding-bottom: 5px; }
/* line 559, ../sass/_main.scss */
.header-bottom .big-menu li a:hover, .header-bottom .big-menu li a.active { background: #ffffff; color: #e76b6b; }
/* line 562, ../sass/_main.scss */
.header-bottom .big-menu li a:hover span, .header-bottom .big-menu li a.active span { color: #e76b6b; }
/* line 566, ../sass/_main.scss */
.header-bottom .big-menu nav { -moz-box-shadow: inset 0 15px 25px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 0 15px 25px 0 rgba(0, 0, 0, 0.1); box-shadow: inset 0 15px 25px 0 rgba(0, 0, 0, 0.1); }
/* line 567, ../sass/_main.scss */
.header-bottom .big-menu.active { display: block; }
/* line 569, ../sass/_main.scss */
.header-bottom .show-big-menu:hover { background: #e76b6b; }
/* line 571, ../sass/_main.scss */
.header-bottom .show-big-menu:hover a, .header-bottom .show-big-menu:hover a:before { color: #fff; }
/* line 572, ../sass/_main.scss */
.header-bottom .show-big-menu:hover .big-menu { height: 160px; visibility: visible; opacity: 1; }

/* line 579, ../sass/_main.scss */
.header-top { margin-bottom: 20px; padding-top: 20px; }
/* line 582, ../sass/_main.scss */
.header-top .header-top__link { float: left; }
/* line 584, ../sass/_main.scss */
.header-top .header-top__link li { float: left; font-weight: 800; min-width: 240px; }
/* line 588, ../sass/_main.scss */
.header-top .header-top__link li:first-child { min-width: 207px; }
/* line 589, ../sass/_main.scss */
.header-top .header-top__link li p { text-decoration: none; color: #5e5e5e; line-height: 18px; padding-top: 13px; display: block; font-weight: 700; font-size: 14px; }
/* line 597, ../sass/_main.scss */
.header-top .header-top__link li p:before { color: #e76b6b; line-height: 44px; font-weight: 400; font-family: 'icomoon'; }
/* line 606, ../sass/_main.scss */
.header-top .header-top__receiving { position: relative; padding-left: 55px; }
/* line 609, ../sass/_main.scss */
.header-top .header-top__receiving:before { position: absolute; left: 3px; top: 8px; content: '\e607'; font-size: 40px; }
/* line 615, ../sass/_main.scss */
.header-top .header-top__delivery { position: relative; padding-left: 70px; }
/* line 618, ../sass/_main.scss */
.header-top .header-top__delivery:before { position: absolute; left: 0; top: 8px; content: '\e602'; font-size: 55px; }
/* line 624, ../sass/_main.scss */
.header-top .header-top__credit { position: relative; padding-left: 57px; }
/* line 627, ../sass/_main.scss */
.header-top .header-top__credit:before { position: absolute; left: 0; top: 8px; content: '\e608'; font-size: 42px; }

/* line 635, ../sass/_main.scss */
.item .item-img { width: 905px; margin-top: 35px; }
/* line 638, ../sass/_main.scss */
.item .item-img img { max-width: 100%; margin-bottom: 30px; }
/* line 643, ../sass/_main.scss */
.item .nutrition { width: 315px; margin: 0 auto 30px; text-align: center; }
/* line 647, ../sass/_main.scss */
.item .nutrition > p { color: #5d5d5d; font-size: 14px; margin-bottom: 15px; }
/* line 652, ../sass/_main.scss */
.item .nutrition > span { display: block; color: #e76b6b; font: 16px "PT Sans", Arial, sans-serif; margin-top: 15px; }
/* line 658, ../sass/_main.scss */
.item .nutrition > div { border: 2px dashed #dbdad6; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 15px 0; overflow: hidden; }
/* line 663, ../sass/_main.scss */
.item .nutrition > div p { width: 33%; float: left; color: #5d5d5d; font-size: 14px; }
/* line 668, ../sass/_main.scss */
.item .nutrition > div p span { display: block; font-style: italic; margin-top: 25px; }
/* line 676, ../sass/_main.scss */
.item .item-info { width: 270px; margin-top: 35px; }
/* line 679, ../sass/_main.scss */
.item .item-info h1 { color: #e76b6b; font: 34px/35px "PT Sans", Arial, sans-serif; margin-bottom: 15px; }
/* line 684, ../sass/_main.scss */
.item .item-info > span { display: block; font-size: 16px; margin-bottom: 5px; }
/* line 689, ../sass/_main.scss */
.item .item-info > p { font-size: 14px; line-height: 18px; }
/* line 693, ../sass/_main.scss */
.item .item-info .icon { color: #8a8989; font: 14px "PT Sans", Arial, sans-serif; cursor: pointer; display: inline-block; margin: 15px 0 20px; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 700, ../sass/_main.scss */
.item .item-info .icon:before { font: 22px icomoon; margin-right: 7px; position: relative; top: 5px; }
/* line 706, ../sass/_main.scss */
.item .item-info .icon:hover { color: #e76b6b; }

/* line 710, ../sass/_main.scss */
.list-circle { padding-left: 15px; }
/* line 712, ../sass/_main.scss */
.list-circle li { padding-left: 12px; font-size: 16px; line-height: 18px; position: relative; margin-top: 17px; }
/* line 718, ../sass/_main.scss */
.list-circle li:before { content: ''; width: 10px; height: 10px; border-radius: 50%; background: #ed7272; display: block; position: absolute; left: -17px; top: 4px; }
/* line 727, ../sass/_main.scss */
.list-circle li:first-child { margin-top: 0; }
/* line 728, ../sass/_main.scss */
.list-circle li .step__text-color { color: #ed7272; }
/* line 729, ../sass/_main.scss */
.list-circle li .step__text-b { font-weight: 700; }

/* line 732, ../sass/_main.scss */
.list-menu { text-align: center; }
/* line 734, ../sass/_main.scss */
.list-menu li { display: inline-block; color: #000000; font-size: 16px; letter-spacing: -0.3px; }
/* line 739, ../sass/_main.scss */
.list-menu li a { color: #e76b6b; padding: 0 1px; text-decoration: underline; }
/* line 743, ../sass/_main.scss */
.list-menu li a:hover { text-decoration: none; }

/* line 748, ../sass/_main.scss */
.list-product .product { float: left; margin-bottom: 37px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 754, ../sass/_main.scss */
.list-product.five .product { width: 20%; }
/* line 755, ../sass/_main.scss */
.list-product.eight .product { width: 12.5%; }
/* line 757, ../sass/_main.scss */
.list-product.eight .product .product__img { height: 110px; line-height: 110px; }
/* line 761, ../sass/_main.scss */
.list-product.eight .product .product__title { font-size: 15px; padding: 0 10px; margin-bottom: 5px; }
/* line 767, ../sass/_main.scss */
.list-product.eight .product .product-buy .product-price { font-size: 21px; margin: 0 5px 0 10px; width: 55px; }
/* line 771, ../sass/_main.scss */
.list-product.eight .product .product-buy .product-price span { font-size: 14px; }
/* line 773, ../sass/_main.scss */
.list-product.eight .product .product-buy .icon-cart { padding: 2px 0; }
/* line 776, ../sass/_main.scss */
.list-product.eight .product .product-buy input { width: 32px; }
/* line 779, ../sass/_main.scss */
.list-product.eight .product .counter input { padding: 5px 4px 8px 5px; text-align: left; }

/* line 787, ../sass/_main.scss */
.list-two-row li { float: left; width: 118px; }
/* line 790, ../sass/_main.scss */
.list-two-row li:nth-child(3n+3) { padding-left: 48px; }
/* line 791, ../sass/_main.scss */
.list-two-row li a { font-family: "PT Sans", Arial, sans-serif; color: #000; line-height: 35px; text-decoration: underline; }
/* line 796, ../sass/_main.scss */
.list-two-row li a:hover { text-decoration: none; }

/* line 800, ../sass/_main.scss */
.logo { float: left; margin-right: 60px; }

/* line 804, ../sass/_main.scss */
.logo-footer { margin-right: 45px; }
/* line 806, ../sass/_main.scss */
.logo-footer div { text-decoration: none; color: #000; display: block; }
/* line 810, ../sass/_main.scss */
.logo-footer div img { max-width: 165px; }
/* line 812, ../sass/_main.scss */
.logo-footer span { display: block; overflow: hidden; position: relative; padding: 8px 0px; font: 14px/18px "PT Sans", Arial, sans-serif; }
/* line 818, ../sass/_main.scss */
.logo-footer span.copy { float: left; font-size: 29px; line-height: 1.5; padding: 0; }
/* line 824, ../sass/_main.scss */
.logo-footer span.text { width: 140px; margin-right: 0px; padding: 8px 0px; margin-left: 35px; }

/* line 832, ../sass/_main.scss */
.menu-height { height: auto !important; }

/* line 833, ../sass/_main.scss */
.pizza { background: url("images/bg-pizza.png") top center no-repeat; }
/* line 835, ../sass/_main.scss */
.pizza a { display: block; font: 700 45px "PT Sans", Arial, sans-serif; color: #5b2309; text-decoration: none; }
/* line 837, ../sass/_main.scss */
.pizza a img { float: left; padding: 4px 210px 0 0; margin-left: -17px; }
/* line 842, ../sass/_main.scss */
.pizza a p { padding: 37px 0 0; }

/* line 848, ../sass/_main.scss */
.poll { background: #e1ddd9 url("images/bg-poll.png") top center no-repeat; }
/* line 850, ../sass/_main.scss */
.poll .poll-text { width: 580px; float: left; padding: 153px 0 153px 28px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 856, ../sass/_main.scss */
.poll .poll-text__text { font-size: 25px; color: #fff; line-height: 33px; padding-left: 5px; margin-bottom: 55px; }
/* line 863, ../sass/_main.scss */
.poll .poll-text__small { font-size: 16px; color: #fff; margin-bottom: 5px; }
/* line 868, ../sass/_main.scss */
.poll .poll-text__title { font: bold 45px "PT Sans", Arial, sans-serif; color: #fff; margin-bottom: 54px; }
/* line 873, ../sass/_main.scss */
.poll .poll-stat { float: right; background: #fff; width: 410px; margin-top: 58px; padding: 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 880, ../sass/_main.scss */
.poll .poll-stat .poll-stat__block { border: 1px solid #cacac9; padding: 20px 25px; }
/* line 883, ../sass/_main.scss */
.poll .poll-stat .poll-stat__block > p { color: #000; margin-bottom: 25px; font: 18px/24px "PT Sans", Arial, sans-serif; }

/* line 891, ../sass/_main.scss */
.poll-all { font: 16px "PT Sans", Arial, sans-serif; color: #000; top: 10px; position: relative; }

/* line 897, ../sass/_main.scss */
.poll-btn { margin: 38px 0 16px; }

/* line 898, ../sass/_main.scss */
.pos-static { position: static !important; }

/* line 899, ../sass/_main.scss */
.product { position: relative; }
/* line 901, ../sass/_main.scss */
.product:before { content: ''; width: 130px; height: 70px; z-index: 1; display: none; position: absolute; right: 10px; top: 10px; }
/* line 909, ../sass/_main.scss */
.product.product__new:before { display: block; background: url("images/new.png") no-repeat; }
/* line 913, ../sass/_main.scss */
.product.product__acute:before { display: block; background: url("images/acute.png") no-repeat; }
/* line 917, ../sass/_main.scss */
.product .product__title { font: 18px/20px "PT Sans", Arial, sans-serif; color: #5d5d5d; text-align: center; padding: 0 20px; margin: 15px 0; }
/* line 924, ../sass/_main.scss */
.product .product__img { position: relative; display: block; margin-bottom: -8px; height: 190px; line-height: 190px; text-align: center; }
/* line 931, ../sass/_main.scss */
.product .product__img img { max-width: 100%; max-height: 100%; }

/* line 938, ../sass/_main.scss */
.product-buy input { float: left; width: 60px; }
/* line 942, ../sass/_main.scss */
.product-buy a { display: inline-block; }
/* line 943, ../sass/_main.scss */
.product-buy .icon-cart { color: #e76b6b; padding: 2px 4px; display: inline-block; }
/* line 947, ../sass/_main.scss */
.product-buy .icon-cart:hover { color: #a62702; }
/* line 951, ../sass/_main.scss */
.product-buy .product-price { font: 28px/29px "PT Sans", Arial, sans-serif; color: #5d5d5d; float: left; margin: 0 10px 0 30px; }
/* line 956, ../sass/_main.scss */
.product-buy .product-price span { right: 2px; top: -2px; position: relative; }

/* line 963, ../sass/_main.scss */
.products__description { font-size: 18px; line-height: 20px; font-style: italic; color: #5e5e5e; text-align: center; margin-bottom: 40px; }

/* line 971, ../sass/_main.scss */
.products__title { font: 34px/44px "PT Sans", Arial, sans-serif; color: #5e5e5e; text-align: center; margin-bottom: 5px; }

/* line 977, ../sass/_main.scss */
.production { padding-bottom: 55px; }
/* line 979, ../sass/_main.scss */
.production > li { width: 25%; float: left; padding: 35px 0 0; text-align: center; }
/* line 984, ../sass/_main.scss */
.production > li a { font-size: 28px; color: #5d5d5d; text-decoration: none; }
/* line 988, ../sass/_main.scss */
.production > li a:hover { color: #000; }
/* line 989, ../sass/_main.scss */
.production > li a > span { position: relative; display: block; height: 250px; }
/* line 993, ../sass/_main.scss */
.production > li a > span img { display: block; max-width: 100%; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
/* line 999, ../sass/_main.scss */
.production > li a:hover img { -moz-transform: scale(0.95); -ms-transform: scale(0.95); -webkit-transform: scale(0.95); transform: scale(0.95); }

/* line 1005, ../sass/_main.scss */
.progress { height: 5px; margin-bottom: 9px; background-color: #e8e8e8; width: 270px; float: left; }

/* line 1012, ../sass/_main.scss */
.progress-bar { float: left; width: 0; height: 100%; font-size: 12px; line-height: 20px; color: #5d5d5d; text-align: center; background-color: #e76b6b; -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); -webkit-transition: width .6s ease; -o-transition: width .6s ease; transition: width .6s ease; }

/* line 1028, ../sass/_main.scss */
.progress-block label { font-size: 15px; color: #000; margin-bottom: 13px; display: block; }
/* line 1034, ../sass/_main.scss */
.progress-block p { float: left; margin-left: 7px; color: #5d5d5d; font: 13px/3px "PT Sans", Arial, sans-serif; }

/* line 1041, ../sass/_main.scss */
.progress-wrapper { display: none; }

/* line 1042, ../sass/_main.scss */
.radio { margin-bottom: 17px; }
/* line 1044, ../sass/_main.scss */
.radio label { font-weight: 500; font-size: 16px; cursor: pointer; position: relative; padding-left: 30px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
/* line 1051, ../sass/_main.scss */
.radio label:before { content: ''; width: 10px; height: 10px; border: 3px solid #d7dbdd; position: absolute; left: 0; top: -1px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 1060, ../sass/_main.scss */
.radio label:after { width: 6px; height: 6px; content: ''; background: #d7dbdd; opacity: 0; position: absolute; left: 5px; top: 4px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 1071, ../sass/_main.scss */
.radio label:hover:after { opacity: 1; }
/* line 1076, ../sass/_main.scss */
.radio input { display: none; }
/* line 1078, ../sass/_main.scss */
.radio input:checked + label { color: #e76b6b; }
/* line 1080, ../sass/_main.scss */
.radio input:checked + label:before { border-color: #e76b6b; }
/* line 1081, ../sass/_main.scss */
.radio input:checked + label:after { background: #e76b6b; opacity: 1; }

/* line 1089, ../sass/_main.scss */
.rating > p { font: 18px "PT Sans", Arial, sans-serif; color: #000; margin-bottom: 15px; }
/* line 1094, ../sass/_main.scss */
.rating > div { background: #fff; padding: 20px 8px 10px; -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1); }
/* line 1099, ../sass/_main.scss */
.rating .left { width: 125px; }
/* line 1101, ../sass/_main.scss */
.rating .left p { color: #000; font: 52px "PT Sans", Arial, sans-serif; text-align: center; }
/* line 1106, ../sass/_main.scss */
.rating .left .icon { font-size: 13px; color: #8a8989; margin-bottom: 0; pointer-events: none; }
/* line 1111, ../sass/_main.scss */
.rating .left .icon:before { font-size: 14px; top: 1px; }
/* line 1117, ../sass/_main.scss */
.rating .right { width: 120px; }

/* line 1121, ../sass/_main.scss */
.social { margin-bottom: 27px; }
/* line 1123, ../sass/_main.scss */
.social li { float: left; margin-left: 45px; }
/* line 1126, ../sass/_main.scss */
.social li a { text-decoration: none; display: block; color: #de6c28; font: 700 15px Sansation, Arial, sans-serif; }
/* line 1131, ../sass/_main.scss */
.social li a:hover { text-decoration: underline; }
/* line 1132, ../sass/_main.scss */
.social li a span { font-size: 26px; display: block; float: left; margin: -5px 5px 0 0; }
/* line 1139, ../sass/_main.scss */
.social li:first-child { margin-left: 0; }

/* line 1142, ../sass/_main.scss */
.stars { width: 93px; height: 17px; position: relative; background: #e3e3e3; margin: 0 auto; }
/* line 1148, ../sass/_main.scss */
.stars:before { background: url('../css/images/icons-s6a4f66378a.png') 0 -87px no-repeat; width: 93px; height: 17px; position: absolute; left: 0; top: 0; content: ''; width: 100%; height: 100%; }
/* line 1155, ../sass/_main.scss */
.stars span { display: block; background: #737373; width: 0; height: 100%; }

/* line 1162, ../sass/_main.scss */
.sticky-wrapper { height: auto !important; position: relative; }

/* line 1166, ../sass/_main.scss */
.step { background: #fff; margin-bottom: 25px; -moz-box-shadow: 0 0 18px rgba(105, 105, 103, 0.15); -webkit-box-shadow: 0 0 18px rgba(105, 105, 103, 0.15); box-shadow: 0 0 18px rgba(105, 105, 103, 0.15); }
/* line 1170, ../sass/_main.scss */
.step img { float: left; }
/* line 1172, ../sass/_main.scss */
.step .step__text { float: left; width: 800px; padding: 10px 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
/* line 1177, ../sass/_main.scss */
.step .step__text p { font: 25px "PT Sans", Arial, sans-serif; color: #000; margin-bottom: 25px; }
/* line 1185, ../sass/_main.scss */
.step.step_right img { float: right; }

/* line 1188, ../sass/_main.scss */
.sr-only { position: relative; top: -17px; font: 13px "PT Sans", Arial, sans-serif; color: #5d5d5d; right: -50px; }

/* line 1195, ../sass/_main.scss */
.title-step { font: 700 40px "PT Sans", Arial, sans-serif; color: #000; text-align: center; padding: 40px 0px; }
/* line 1200, ../sass/_main.scss */
.title-step span { color: #e76b6b; }

/* line 1202, ../sass/_main.scss */
.wrapper { padding-bottom: 365px; }

/* line 1, ../sass/_mary.scss */
.block { padding: 25px; position: relative; background: #fff; margin: 35px 0 70px 0; -moz-box-shadow: 0 0 18px rgba(105, 105, 103, 0.15); -webkit-box-shadow: 0 0 18px rgba(105, 105, 103, 0.15); box-shadow: 0 0 18px rgba(105, 105, 103, 0.15); }

/* line 8, ../sass/_mary.scss */
.main-block { text-align: center; }
/* line 10, ../sass/_mary.scss */
.main-block p { font-size: 18px; font-style: italic; margin: 10px; }
/* line 14, ../sass/_mary.scss */
.main-block p a { color: #E76B6B; text-decoration: underline; }
/* line 18, ../sass/_mary.scss */
.main-block p a:hover { text-decoration: none; }
/* line 22, ../sass/_mary.scss */
.main-block img { width: 100%; }

/* line 24, ../sass/_mary.scss */
.text-block { position: relative; float: left; margin: 10px 0 5px 0; }
/* line 28, ../sass/_mary.scss */
.text-block .reg { color: #5d5d5d; }
/* line 29, ../sass/_mary.scss */
.text-block div { overflow: hidden; }
/* line 30, ../sass/_mary.scss */
.text-block .text-order { font-style: italic; }
/* line 33, ../sass/_mary.scss */
.text-block ul { padding-left: 20px; }
/* line 34, ../sass/_mary.scss */
.text-block a { color: #E76B6B; text-decoration: underline; }
/* line 38, ../sass/_mary.scss */
.text-block a:hover { text-decoration: none; }
/* line 41, ../sass/_mary.scss */
.text-block p { color: #5e5e5e; margin-bottom: 25px; }
/* line 45, ../sass/_mary.scss */
.text-block h2 { margin-bottom: 15px; font-size: 22px; font-weight: 600px; color: #545451; }
/* line 51, ../sass/_mary.scss */
.text-block h4 { color: #545451; font-size: 18px; font-weight: 600px; }
/* line 56, ../sass/_mary.scss */
.text-block .text-color { color: #E76B6B; }
/* line 57, ../sass/_mary.scss */
.text-block .semibold { font-size: 16px; font-weight: 600px; }
/* line 61, ../sass/_mary.scss */
.text-block h5 { color: #E76B6B; font-size: 18px; font-weight: 600px; margin-bottom: 10px; }
/* line 67, ../sass/_mary.scss */
.text-block li { font-size: 14px; color: #5e5e5e; }
/* line 71, ../sass/_mary.scss */
.text-block .leftimg { float: left; margin: 5px 35px 5px 5px; }
/* line 75, ../sass/_mary.scss */
.text-block .rightimg { float: right; margin: 5px 5px 5px 35px; }

/* line 80, ../sass/_mary.scss */
.slogan { text-align: center; color: #545451; font-size: 24px; font-weight: 600px; margin-top: 50px; }

/* line 88, ../sass/_mary.scss */
.sale-block { margin-right: -22px; }
/* line 90, ../sass/_mary.scss */
.sale-block .step { width: 385px; height: 615px; float: left; position: relative; margin-right: 22px; }
/* line 97, ../sass/_mary.scss */
.sale-block h2 { font: 16px "PT Sans", Arial, sans-serif; color: #E76B6B; }
/* line 101, ../sass/_mary.scss */
.sale-block h3 { font: bold 14px "PT Sans", Arial, sans-serif; color: #000; height: 50px; }
/* line 106, ../sass/_mary.scss */
.sale-block p { font-size: 13px; }
/* line 108, ../sass/_mary.scss */
.sale-block p span { color: #000; font-weight: 800px; }
/* line 113, ../sass/_mary.scss */
.sale-block img { width: 385px; height: 270px; }
/* line 117, ../sass/_mary.scss */
.sale-block .text-block { margin: 10px; }

/* line 121, ../sass/_mary.scss */
.pay { text-align: center; }
/* line 123, ../sass/_mary.scss */
.pay p { font: 28px "PT Sans", Arial, sans-serif; color: #545451; }
/* line 127, ../sass/_mary.scss */
.pay button { width: 225px; height: 50px; border: solid 1px #a4a4a4; border-radius: 5px; font: bold 18px "PT Sans", Arial, sans-serif; color: #E76B6B; background: #e9e9e9; margin-bottom: 75px; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 138, ../sass/_mary.scss */
.pay button:hover { background: #fff; border-color: #e76b6b; }
/* line 142, ../sass/_mary.scss */
.pay hr { width: 200px; height: 1px; background: none repeat scroll 0 0 #e1e0db; margin: 40px auto; border: medium none; }
/* line 149, ../sass/_mary.scss */
.pay .icon-accept { color: #4aa20f; }
/* line 150, ../sass/_mary.scss */
.pay .icon-error { color: #e35656; }
/* line 151, ../sass/_mary.scss */
.pay span { display: inline-block; margin-top: 65px; margin-bottom: 40px; }

/* line 1, ../sass/_sasha.scss */
.left-sidebar { float: left; margin-left: -21px; padding-top: 82px; }
/* line 7, ../sass/_sasha.scss */
.left-sidebar ul li a { font: 17px "PT Sans", Arial, sans-serif; color: #000; display: block; padding: 6px 67px 7px 48px; position: relative; border: 2px dotted #fcf7f3; -moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px; }
/* line 15, ../sass/_sasha.scss */
.left-sidebar ul li a:before { content: ''; width: 10px; height: 10px; background: #e4e3df; display: block; position: absolute; left: 16px; top: 12px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/* line 25, ../sass/_sasha.scss */
.left-sidebar ul li a:hover, .left-sidebar ul li a.active { border: 2px dotted #ed7272; }
/* line 27, ../sass/_sasha.scss */
.left-sidebar ul li a:hover:before, .left-sidebar ul li a.active:before { background: #ed7272; }

/* line 33, ../sass/_sasha.scss */
.office { overflow: hidden; padding-left: 10px; margin-bottom: 60px; }

/* line 38, ../sass/_sasha.scss */
.office-title { font: 34px/44px "PT Sans", Arial, sans-serif; color: #5e5e5e; margin-bottom: 25px; }

/* line 43, ../sass/_sasha.scss */
.personal { background: #fff; padding: 10px 10px 0 10px; }

/* line 47, ../sass/_sasha.scss */
.personal-title { font: 22px/36px "PT Sans", Arial, sans-serif; padding: 0 0 10px 13px; color: #5d5d5d; border-bottom: 1px solid #e5e5e5; }

/* line 53, ../sass/_sasha.scss */
.personal-email { padding: 6px 0 0 13px; }
/* line 55, ../sass/_sasha.scss */
.personal-email p { float: left; font: 18px/40px "PT Sans", Arial, sans-serif; margin-right: 40px; }
/* line 60, ../sass/_sasha.scss */
.personal-email .email-title { color: #5d5d5d; }
/* line 61, ../sass/_sasha.scss */
.personal-email .email-discount { color: #e76b6b; float: right; margin-right: 0; }

/* line 67, ../sass/_sasha.scss */
.personal-data { padding: 0 13px; margin-bottom: 20px; }
/* line 70, ../sass/_sasha.scss */
.personal-data div { float: left; margin-right: 20px; }
/* line 74, ../sass/_sasha.scss */
.personal-data label { display: block; color: #5d5d5d; font-size: 15px; line-height: 43px; }
/* line 80, ../sass/_sasha.scss */
.personal-data input { border: 1px solid #c1c1c1; font-size: 14px; height: 43px; padding: 0 10px; color: #5d5d5d; width: 348px; }

/* line 89, ../sass/_sasha.scss */
.birthday { padding: 2px 12px 24px; border-bottom: 1px solid #e5e5e5; }
/* line 92, ../sass/_sasha.scss */
.birthday div { width: 370px; margin-right: 20px; float: left; }
/* line 96, ../sass/_sasha.scss */
.birthday div p { font: 16px "PT Sans", Arial, sans-serif; color: #5d5d5d; float: left; }
/* line 102, ../sass/_sasha.scss */
.birthday .birthday-day { float: right; }
/* line 103, ../sass/_sasha.scss */
.birthday .birthday-warning { font: 14px/22px "PT Sans", Arial, sans-serif; color: #8a8a8a; font-style: italic; position: relative; overflow: hidden; padding-left: 27px; }
/* line 110, ../sass/_sasha.scss */
.birthday .birthday-warning:before { content: '\e631'; font-family: icomoon; color: #e76b6b; font-size: 20px; font-style: normal; position: absolute; left: 0; top: 0; }

/* line 120, ../sass/_sasha.scss */
.address { padding: 27px 12px 8px; border-bottom: 1px solid #e5e5e5; }
/* line 123, ../sass/_sasha.scss */
.address .title { font: 16px "PT Sans", Arial, sans-serif; color: #5d5d5d; float: left; width: 173px; }
/* line 129, ../sass/_sasha.scss */
.address div { overflow: hidden; margin-bottom: 10px; }
/* line 132, ../sass/_sasha.scss */
.address div p { font: 16px "PT Sans", Arial, sans-serif; color: #5d5d5d; position: relative; margin-bottom: 10px; }
/* line 137, ../sass/_sasha.scss */
.address div p span { color: #e76b6b; cursor: pointer; }
/* line 140, ../sass/_sasha.scss */
.address div p span:hover { color: #e35656; }
/* line 141, ../sass/_sasha.scss */
.address div p span.icon-edit1 { margin-left: 20px; }
/* line 146, ../sass/_sasha.scss */
.address div a { font-size: 13px; color: #159bea; text-decoration: underline; }
/* line 150, ../sass/_sasha.scss */
.address div a:hover { text-decoration: none; }

/* line 156, ../sass/_sasha.scss */
.edit-email { border-bottom: 1px solid #e5e5e5; padding: 0 13px; }
/* line 159, ../sass/_sasha.scss */
.edit-email p { float: left; font: 16px/79px "PT Sans", Arial, sans-serif; color: #5d5d5d; margin-right: 35px; }
/* line 165, ../sass/_sasha.scss */
.edit-email a.btn { line-height: 80px; padding: 12px 30px; }

/* line 170, ../sass/_sasha.scss */
.save-form { padding: 0 15px; }
/* line 172, ../sass/_sasha.scss */
.save-form a.btn { padding: 12px 52px; line-height: 105px; }

/* line 1, ../sass/_icons.scss */
.icon { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Enable Ligatures ================ */ -webkit-font-feature-settings: "liga"; -moz-font-feature-settings: "liga=1"; -moz-font-feature-settings: "liga"; -ms-font-feature-settings: "liga" 1; -o-font-feature-settings: "liga"; font-feature-settings: "liga"; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* line 24, ../sass/_icons.scss */
.header-top__link .header-top__request .icon-phone { margin: -2px 10px 0 10px; }

/* line 26, ../sass/_icons.scss */
.icon-twitter { color: #6fcafd; }

/* line 27, ../sass/_icons.scss */
.icon-facebook { color: #455796; }

/* line 28, ../sass/_icons.scss */
.icon-vkontakte { color: #5e6fa4; }

/* line 29, ../sass/_icons.scss */
.icon-fz22 { font-size: 22px; }

/* line 31, ../sass/_icons.scss */
.icon-fz23 { font-size: 19px; }

/* line 33, ../sass/_icons.scss */
.icon-fz28 { font-size: 28px; }

/* line 34, ../sass/_icons.scss */
.icon-fz41 { font-size: 41px; }

/* line 35, ../sass/_icons.scss */
.icon-fz39 { font-size: 39px; }

/* line 36, ../sass/_icons.scss */
.icon-fz35 { font-size: 35px; }

/* line 37, ../sass/_icons.scss */
.icon-fz37 { font-size: 37px; }

/* line 38, ../sass/_icons.scss */
.icon-fz32 { font-size: 32px; }

/* line 39, ../sass/_icons.scss */
.icon-fz43 { font-size: 43px; }

/* line 40, ../sass/_icons.scss */
.icon-fz33 { font-size: 33px; }

/* line 41, ../sass/_icons.scss */
.icon-fz45 { font-size: 45px; }

/* line 42, ../sass/_icons.scss */
.icon-fz48 { font-size: 48px; }

/* line 43, ../sass/_icons.scss */
.icon-fz51 { font-size: 51px; }

/* line 44, ../sass/_icons.scss */
.icon-fz53 { font-size: 53px; }

/* line 45, ../sass/_icons.scss */
.icon-fz40 { font-size: 40px; }

/* line 46, ../sass/_icons.scss */
.icon-fz38 { font-size: 38px; }

/* line 47, ../sass/_icons.scss */
.icon-fz42 { font-size: 42px; }

/* line 48, ../sass/_icons.scss */
.icon-fz55 { font-size: 55px; }

/* line 49, ../sass/_icons.scss */
.icon-fz247 { font-size: 247px; }

/* line 50, ../sass/_icons.scss */
.icon-chetbox:before { content: "\e643"; }

/* line 53, ../sass/_icons.scss */
.icon-chetbox_active:before { content: "\e644"; }

/* line 56, ../sass/_icons.scss */
.icon-peper:before { content: "\e604"; }

/* line 59, ../sass/_icons.scss */
.icon-price:before { content: "\e605"; }

/* line 62, ../sass/_icons.scss */
.icon-vegan:before { content: "\e642"; }

/* line 65, ../sass/_icons.scss */
.icon-plus_konk:before { content: "\e641"; }

/* line 68, ../sass/_icons.scss */
.icon-konkurs_end:before { content: "\e63a"; }

/* line 71, ../sass/_icons.scss */
.icon-two:before { content: "\e63b"; }

/* line 74, ../sass/_icons.scss */
.icon-equal_konstr:before { content: "\e63c"; }

/* line 77, ../sass/_icons.scss */
.icon-konkurs_openwote:before { content: "\e63d"; }

/* line 80, ../sass/_icons.scss */
.icon-one:before { content: "\e63e"; }

/* line 83, ../sass/_icons.scss */
.icon-plusl_konstr:before { content: "\e63f"; }

/* line 86, ../sass/_icons.scss */
.icon-three:before { content: "\e640"; }

/* line 89, ../sass/_icons.scss */
.icon-konk_end:before { content: "\e639"; }

/* line 92, ../sass/_icons.scss */
.icon-rewadmin:before { content: "\e62d"; }

/* line 95, ../sass/_icons.scss */
.icon-rewuser:before { content: "\e638"; }

/* line 98, ../sass/_icons.scss */
.icon-star:before { content: "\e637"; }

/* line 101, ../sass/_icons.scss */
.icon-error:before { content: "\e625"; }

/* line 104, ../sass/_icons.scss */
.icon-accept:before { content: "\e62c"; }

/* line 107, ../sass/_icons.scss */
.icon-razver:before { content: "\e62a"; }

/* line 110, ../sass/_icons.scss */
.icon-sver:before { content: "\e62b"; }

/* line 113, ../sass/_icons.scss */
.icon-arrowcal1:before { content: "\e635"; }

/* line 116, ../sass/_icons.scss */
.icon-arrowcal2:before { content: "\e636"; }

/* line 119, ../sass/_icons.scss */
.icon-osminog:before { content: "\e634"; }

/* line 122, ../sass/_icons.scss */
.icon-popupsushi:before { content: "\e633"; }

/* line 125, ../sass/_icons.scss */
.icon-cancel:before { content: "\e632"; }

/* line 128, ../sass/_icons.scss */
.icon-question:before { content: "\e631"; }

/* line 131, ../sass/_icons.scss */
.icon-oplata_cart:before { content: "\e62e"; }

/* line 134, ../sass/_icons.scss */
.icon-oplata_cash:before { content: "\e62f"; }

/* line 137, ../sass/_icons.scss */
.icon-oplata_im:before { content: "\e630"; }

/* line 140, ../sass/_icons.scss */
.icon-calendar:before { content: "\e627"; }

/* line 143, ../sass/_icons.scss */
.icon-delete_box:before { content: "\e628"; }

/* line 146, ../sass/_icons.scss */
.icon-time:before { content: "\e629"; }

/* line 149, ../sass/_icons.scss */
.icon-delete:before { content: "\e626"; }

/* line 152, ../sass/_icons.scss */
.icon-sort5:before { content: "\e622"; }

/* line 155, ../sass/_icons.scss */
.icon-sort8:before { content: "\e623"; }

/* line 158, ../sass/_icons.scss */
.icon-arrow_back:before { content: "\e624"; }

/* line 161, ../sass/_icons.scss */
.icon-favorite:before { content: "\e621"; }

/* line 164, ../sass/_icons.scss */
.icon-rubl:before { content: "\e620"; }

/* line 167, ../sass/_icons.scss */
.icon-fb:before { content: "\e61d"; }

/* line 170, ../sass/_icons.scss */
.icon-twitter:before { content: "\e61e"; }

/* line 173, ../sass/_icons.scss */
.icon-vk:before { content: "\e61f"; }

/* line 176, ../sass/_icons.scss */
.icon-child:before { content: "\e606"; }

/* line 179, ../sass/_icons.scss */
.icon-assorti_seti:before { content: "\e600"; }

/* line 182, ../sass/_icons.scss */
.icon-cake:before { content: "\e601"; }

/* line 185, ../sass/_icons.scss */
.icon-car:before { content: "\e602"; }

/* line 188, ../sass/_icons.scss */
.icon-cart:before { content: "\e603"; }

/* line 191, ../sass/_icons.scss */
.icon-clock:before { content: "\e607"; }

/* line 194, ../sass/_icons.scss */
.icon-credit-card:before { content: "\e608"; }

/* line 197, ../sass/_icons.scss */
.icon-desserts:before { content: "\e609"; }

/* line 200, ../sass/_icons.scss */
.icon-drinkables:before { content: "\e60a"; }

/* line 203, ../sass/_icons.scss */
.icon-edit1:before { content: "\e60b"; }

/* line 206, ../sass/_icons.scss */
.icon-gift:before { content: "\e60c"; }

/* line 209, ../sass/_icons.scss */
.icon-hot:before { content: "\e60d"; }

/* line 212, ../sass/_icons.scss */
.icon-like:before { content: "\e60e"; }

/* line 215, ../sass/_icons.scss */
.icon-menu:before { content: "\e60f"; }

/* line 218, ../sass/_icons.scss */
.icon-onigiri:before { content: "\e610"; }

/* line 221, ../sass/_icons.scss */
.icon-phone:before { content: "\e611"; }

/* line 224, ../sass/_icons.scss */
.icon-pizza:before { content: "\e612"; }

/* line 227, ../sass/_icons.scss */
.icon-roll:before { content: "\e613"; }

/* line 230, ../sass/_icons.scss */
.icon-salad:before { content: "\e614"; }

/* line 233, ../sass/_icons.scss */
.icon-sashimi:before { content: "\e615"; }

/* line 236, ../sass/_icons.scss */
.icon-souces:before { content: "\e616"; }

/* line 239, ../sass/_icons.scss */
.icon-soup:before { content: "\e617"; }

/* line 242, ../sass/_icons.scss */
.icon-sushi_menu:before { content: "\e618"; }

/* line 245, ../sass/_icons.scss */
.icon-sushibox:before { content: "\e619"; }

/* line 248, ../sass/_icons.scss */
.icon-sushi:before { content: "\e61a"; }

/* line 251, ../sass/_icons.scss */
.icon-user:before { content: "\e61b"; }

/* line 254, ../sass/_icons.scss */
.icon-warmroll:before { content: "\e61c"; }

/* .werewr{
	&:before{
		content: 'ok';
		@extend .icon;
	}
} */
/* line 1, ../sass/_btn.scss */
.btn-pink { background: #e76b6b; color: #fff; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 6, ../sass/_btn.scss */
.btn-pink:hover { background: #e35656; }

/* line 8, ../sass/_btn.scss */
.btn-silver { background: #d7dbdd; color: #000000; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 13, ../sass/_btn.scss */
.btn-silver:hover { background: #e0e5e7; }

/* line 15, ../sass/_btn.scss */
.btn-vote { font-weight: bold; padding: 7px 28px; font-size: 16px; display: inline-block; }

/* line 21, ../sass/_btn.scss */
.btn-result { padding: 7px 29px; font-size: 16px; margin-left: 20px; display: inline-block; }

/* line 35, ../sass/_btn.scss */
.btn-save { font: 18px "PT Sans", Arial, sans-serif; font-weight: bold; }
