.btn-pink{
	background: #e76b6b;
	color: #fff;
	cursor: pointer;
	@include border-radius(5px);
	&:hover{background: #e35656;}
}
.btn-silver{
	background: #d7dbdd;
	color: #000000;
	cursor: pointer;
	@include border-radius(5px);
	&:hover{background: #e0e5e7;}
}
.btn-vote{
	font-weight: bold;
	padding: 7px 28px;
	font-size: 16px;
	display: inline-block;
}
.btn-result{
	padding: 7px 29px;
	font-size: 16px;
	margin-left: 20px;
	display: inline-block;
}
.btn-cart{
	background: #e9e9e9;
	border: 1px solid #a4a4a4;
	@include border-radius(5px);
	&:hover{
		background: #fff;
	}
}