.btn-pink{
	background: #e76b6b;
	color: #fff;
	cursor: pointer;
	font: 18px $fontPt;
	font-weight: bold;
	@include border-radius(5px);
	&:hover{background: #e35656;}
}
.btn-silver{
	background: #d7dbdd;
	color: #000000;
	cursor: pointer;
	@include border-radius(5px);
	&:hover{background: #e0e5e7;}
}
.btn-vote{
	font-weight: bold;
	padding: 7px 28px;
	font-size: 16px;
	display: inline-block;
}
.btn-result{
	padding: 7px 29px;
	font-size: 16px;
	margin-left: 20px;
	display: inline-block;
}
.btn-cart{
//	background: #e9e9e9;
//	border: 1px solid #a4a4a4;
//	@include border-radius(5px);
//	&:hover{
//		background: #fff;
//	}
}
.btn-save{
		
}
.btn-archive{
	color: #e76b6b;
	&:hover{color: #e35656;}
}
.btn-remove-arch{
	padding: 8px 35px;
	display: inline-block;
}
.btn-grey{
	background: #d7dbdd;
	color: #000;
	position: relative;
	font: 16px/19px $font;
	font-weight: 500;
	padding: 12px 12px 11px 40px;
	@include border-radius(5px);
	&:hover{background: #e0e5e7;}
	&:before{
		content: '\e62a';
		font-family: $icon;
		color: #5d5d5d;
		font-size: 25px;
		font-weight: normal;
		@include absLT(8px, 10px);
	}
}