.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-menu{font-size: 40px;}
.icon-account{font-size: 38px;}
.icon-cart{font-size: 37px;}
.icon-clock{font-size: 42px;}
.icon-car{font-size: 55px;}
.icon-credit{font-size: 42px;}
.icon-phone{
	font-size: 40px;
	.header-top__link .header-top__request &{margin: -2px 10px 0 10px;}
}
.icon-twitter{color: #6fcafd;}
.icon-facebook{color: #455796;}
.icon-vkontakte{color: #5e6fa4;}
.icon-fz41{font-size: 41px;}
.icon-fz39{font-size: 39px;}
.icon-fz35{font-size: 35px;}
.icon-fz37{font-size: 37px;}
.icon-fz32{font-size: 32px;}
.icon-fz43{font-size: 43px;}
.icon-fz33{font-size: 33px;}
.icon-fz45{font-size: 45px;}
/* .werewr{
	&:before{
		content: 'ok';
		@extend .icon;
	}
} */