.index-menu{
	padding: 50px;
	ul{
		padding: 30px;
		li{
			list-style-type: decimal;	
			a{color: #000;}	
		}
	}
}
html, body, .container { height: 100%; }
body > .container { 
	height: auto; 
	min-height: 100%; 
}
.wrapper{padding-bottom: 365px;}
.content { 
	width: 1200px; 
	@include bb; 
	margin: 0 auto;
}
.bg-header{background: url('../css/images/back-header.png') top center no-repeat;}
.footer {
	clear: both;
	position: relative;
	z-index: 10;
	height: 365px;
	margin-top: -365px;
}
header{
  margin-bottom: 4px;
}
a, .icon{@include transition(all ease .3s); text-decoration: none;}
.logo{float: left;margin-right: 60px;}
.header-top{margin-bottom: 20px; padding-top: 20px;}
.header-top__link{
	float: left;
	li{
		float: left;
		font-family: 'lato-black';
		min-width: 240px;
		&:first-child{min-width: 207px;}
		p{
			text-decoration: none;
			color: #5e5e5e;
			font-size: 14px;
			line-height: 18px;
			padding-top: 13px;
			display: block;
			font-family: 'lato-bold';
		    &:before {
              color: #e76b6b;
              line-height: 44px;
              font-family: 'icomoon';
            }
		}
	}
}
.header-top__receiving{
  position: relative;
  padding-left: 55px;
  &:before{
    position: absolute;
    content: '\e607';
    font-size: 40px;
    left: 3px;
    top: 8px;
  }
}
.header-top__delivery{
  position: relative;
  padding-left: 70px;
  &:before{
    position: absolute;
    content: '\e602';
    font-size: 55px;
    left: 0;
    top: 8px;
  }
}
.header-top__credit{
  position: relative;
  padding-left: 57px;
  &:before{
    position: absolute;
    content: '\e608';
    font-size: 42px;
    left: 0;
    top: 8px;
  }
}
.call-request{
  padding-top: 10px;
  position: relative;
  padding-left: 58px;
  @include bb;
  &:before{
    position: absolute;
    content: '\e611';
    font-size: 40px;
    left: 9px;
    top: 8px;
    color: #e76b6b;
    line-height: 44px;
    font-family: 'icomoon';
  }
}
.call-request__phone{
	color: #5d5d5d;
	font-size: 22px;
}
.call-request__phone-link{
	.header-top__link li &{
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		color: #159bea;
		display: block;
		padding: 0;
		text-decoration: underline;
		&:hover{text-decoration: none;}
	}
}
.header-bottom{
	background: #ffffff;
	width: 1200px;
	z-index: 100;
	@include box-shadow(0 15px 25px rgba(106,91,33,.25));
}
.header-bottom__left{
	float: left;
	&>nav>ul>li{
		float: left;
		padding-bottom: 1px;
		&>a{
			font-size: 19px;
			color: #5e5e5e;	
			display: block;
			padding: 22px 19px 18px;
			text-decoration: none;
			&:hover{color: #fff; background: #e76b6b;}	
		}
	}
}
.header-bottom__right{
	float: right;
	&>nav>ul>li{
		float: left;
		position: relative;
		&>a{
//			font-size: 19px;
//			color: #5e5e5e;
//			display: block;
//			padding: 15px 30px 6px 7px;
//			line-height: 43px;
//			text-decoration: none;
			&:hover, &.active{
				color: #fff; 
				background: #e76b6b;
				&:before{color: #ffffff;}
			}
			span{
				display: block;
				color: #e76b6b;
				margin-right: 10px;
				float: left;
			}
		}
		.cart-count{
			font-size: 10px;
			color: #fff;
			background: #00b5f3;
			position: absolute;
			left: 35px;
			top: 15px;
			padding: 1px 2px;
			@include border-radius(2px);
		}
	}
}
.header-bottom__account{
  display: block;
  position: relative;
  font-size: 19px;
  color: #5e5e5e;
  padding: 15px 30px 11px 57px;
  line-height: 19px;
  text-decoration: none;
  &:before{
    position: absolute;
    content: '\e61b';
    top: 23px;
    left: 7px;
    color: #e76b6b;
    font-family: 'icomoon';
    font-size: 38px;
    @include transition(all ease .3s);
  }
}
.header-bottom__menu{
  display: block;
  position: relative;
  font-size: 19px;
  color: #5e5e5e;
  padding: 15px 30px 6px 57px;
  line-height: 43px;
  text-decoration: none;
  &:before{
    position: absolute;
    content: '\e60f';
    top: 12px;
    left: 7px;
    color: #e76b6b;
    font-family: 'icomoon';
    font-size: 40px;
    @include transition(all ease .3s);
  }
}
.header-bottom__basket{
   display: block;
  position: relative;
  font-size: 19px;
  color: #5e5e5e;
  padding: 15px 30px 6px 57px;
  line-height: 43px;
  text-decoration: none;
  &:before{
    position: absolute;
    content: '\e603';
    top: 12px;
    left: 7px;
    color: #e76b6b;
    font-family: 'icomoon';
    font-size: 37px;
    @include transition(all ease .3s);
  }
}
.list-menu{
	font-family: 'lato-regular';
	li{
		float: left;
		color: #000000;
		font-size: 16px;
		a{
			color: #e76b6b;
			padding: 0 1px;
			&:hover{text-decoration: none;}
		} 
	}
}
.footer-top{
	background: #ede5dc;
	padding: 9px 0;
	p{
		font-weight: bold;
		font-size: 22px;
		color: #595959;
		text-align: center;
		// letter-spacing: 1.5px;
		margin-bottom: 7px;
	}
}
.footer-bottom{
	background: #fcf7f3;
	border-top: 2px dashed #000;
	padding: 35px 0;
}
.footer-middle{
	background: #fff;
	padding: 22px 0 20px;
}
.logo-footer{
	margin-right: 45px;
	div{
		text-decoration: none;
		color: #000;
		display: block;
		img{max-width: 165px;}
		&:hover{text-decoration: underline;}
	}
	span{
		display: block;
		overflow: hidden;
		position: relative;
		padding: 8px 0px;
		&.copy{float: left; font-size: 26px;padding: 0;}
		&.text{padding: 8px 9px;}
	}
}
.footer-bottom__social{
	float: left;
	padding: 15px 0;
	width: 410px;
}
.social{
	margin-bottom: 27px;
	li {
		float: left;
		margin-left: 45px;
		a{
			text-decoration: none;
			font-size: 15px;
			display: block;
			color: #de6c28;
			font-family: 'sansation-bold';
			&:hover{text-decoration: underline;}
			span{
				font-size: 26px;
				display: block;
				float: left;
				margin: -5px 5px 0 0;
			}
		}
		&:first-child{margin-left: 0;}
	}
}
.list-two-row{
	li{
		float: left;
		width: 118px;
		&:nth-child(3n+3){padding-left: 48px;}
		a{
			font-family: 'PT Sans', sans-serif;
			color: #000;
			line-height: 35px;
            text-decoration: underline;
			&:hover{text-decoration: none;}
		}
	}
}
.footer-bottom__application{
	float: left;
	p{
		font-family: 'PT Sans', sans-serif;
		font-size: 18px;
		color: #e27777;
		padding: 10px 2px;
		margin-bottom: 32px;
	}
}
.footer-bottom__developer{
	float: left;
	width: 235px;
	text-align: center;
	padding-left: 11px;
	@include bb;
	a{
		display: block;
		font-family: 'lato-black';
		font-size: 22px;
		color: #808080;
		text-decoration: none;
		&:hover{text-decoration: underline;}
	}
}
.application{
	text-align: center;
	img{margin: 0 6px;}
}
.number-developer{
	padding: 11px 0 15px;
	text-align: right;
	margin-bottom: 30px;
}
.sticky-wrapper{
	height: auto !important;
    position: relative;
}
.menu-height{height: auto !important;}
.big-menu{
	display: none;
	width: 100%;
	max-width: 1200px;
	z-index: 102;
	background: #e76b6b;
    position: absolute;
    left: 0;
	ul{padding: 0 0 10px;}
	li{
		width: 12.5%;
		text-align: center;
		float: left;
		padding: 12px 10px 0;
		@include bb;
		a{
			text-transform: uppercase;
			color: #e1e1e1;
			display: block;
			text-decoration: none;
			padding: 5px;
			span{display: block; color: #fff;line-height: 30px; padding-bottom: 5px;}
			&:hover{
				background: #ffffff;
				color: #e76b6b;
				span{color: #e76b6b;}
			}
		}
	}
	&.active{display: block;}
}
.banner{	
	position: relative;
}
.banner-time{
	background: url('images/baner-time-bg.png') no-repeat;
	margin: 4px 0;
}
.banner-time__left-img{
	float: left;
	img{padding: 2px 55px;}
}
.banner-time__text{
	float: left;
	padding: 22px 17px 0;
	p{
		font-family: 'lato-bold';
		font-size: 25px;
		color: #030303;
		margin-bottom: 23px;
        line-height: 26px;
	}
}
.banner-time__when{
	margin-bottom: 0px;
	padding-left: 65px;
}
.banner-time__name{
	color: #ed7272;
	padding-left: 4px;
}
.banner-time__cost{
	font-size: 28px;
	padding-left: 8px;
}
.banner-time__discount{
	float: right;
	padding: 4px 23px;
	p{
		font-family: 'lato-bold';
		color: #ff3809;
		text-align: right;
		font-size: 24px;
		padding-right: 15px;
		margin-bottom: 5px;
	}
}
.actions{padding-bottom: 40px;}
.actions .wrapper-shadow{background: #fff;}
.actions > .content{
	&:after{
		background: url('images/shadow.png') 0 -5px no-repeat;
		height: 40px;
		width: 100%;
		position: absolute;
	}
}
.action_main{background: #fcfbf4;}
.actions__big{
	float: left;
	width: 40%;
    height: 480px;
    overflow: hidden;
	img{float: left; width: 50%;}
}
.actions__little{
	float: left;
	width: 20%;
    height: 480px;
    overflow: hidden;
	img{width: 100%}
	a{text-decoration: none;}
}
.action__text{
	float: left;
	text-align: center;
	min-height: 240px;
	width: 50%;
	padding: 15px 12px;
	position: relative;
	@include bb;
	.icon{color: #e76b6b;}
	.action_vert &{
		text-align: center;
		float: none;
		padding: 15px 12px;
		height: 240px;
		width: 100%;
		position: relative;
		@include bb;
		.icon{color: #e76b6b;}
	}
}
.action-hor{
	height: 240px;
	&.action-hor__right{
		img{float: right;}
	}
}
.line{
	display: block;
	margin: 13px auto;
	@include s(line-sale);
}
.circle{
	display: block;
	margin: 10px auto;
	@include opacity(0.2);
	@include s(circle);
}
.red{color: #f00;}
.action__title{
	font-size: 20px;
	color: #000;
	margin-bottom: 13px;
	padding: 0 15px;
}
.action__descript{
	font-family: 'lato-regular';
	color: #555555;
	line-height: 20px;
}
.action__price{
	font-size: 30px;
	color: #000;
	padding: 5px 0 20px;
	font-family: 'lato-heavy';
}
.action__text_main{
	font-family: 'lato-regular';
	color: #000000;
	padding: 7px 0 6px;
	line-height: 20px;
}
.action_main{
	.action__text{
		padding-top: 30px;
		.line{margin: 20px auto;}
	}
}

.triangle-up {
	width: 0;
	height: 0;
	position: absolute;
	top: -22px;
	left: 50%;
	margin-left: -19px;
	border-left: 19px solid transparent;
	border-right: 19px solid transparent;
	border-bottom: 22px solid #fff;
}
.triangle-left {
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: -22px;
	margin-top: -19px;
	border-top: 19px solid transparent;
	border-right: 22px solid #fff;
	border-bottom: 19px solid transparent;
}
.triangle-right {
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	right: -22px;
	margin-top: -19px;
	border-top: 19px solid transparent;
	border-left: 22px solid #fff;
	border-bottom: 19px solid transparent;
}
.production{
	padding-bottom: 55px;
	&>li{
		width: 25%;
		float: left;
		padding: 35px 0 0;
		text-align: center;
		a{
			font-size: 28px;
			color: #5d5d5d;
			text-decoration: none;
			&:hover{text-decoration: underline;}
			&>span{
				position: relative;
				display: block;
				margin-bottom: 15px;
				min-height: 210px;
				img{
					display: block;
					max-width: 100%;
					max-height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
				}
			}
		}
	}
}
.pizza{
	background: url('images/bg-pizza.png') top center no-repeat;
	a{
		display: block;
		img{
			float: left;
			padding: 4px 210px 0 0;
			margin-left: -17px;
		}
		p{padding: 37px 0 0;}
		font-weight: bold;
		font-size: 45px;
		color: #5b2309;
		text-decoration: none;
	}
}
.poll{background: #e1ddd9 url('images/bg-poll.png') top center no-repeat;}
.poll-text{
	width: 580px;
	float: left;
	padding: 153px 0 153px 28px;
	@include bb;
}
.poll-text__text{
	font-family: 'lato-regular';
	font-size: 25px;
	color: #fff;
	line-height: 33px;
	padding-left: 5px;
	margin-bottom: 55px;
}
.poll-text__small{
	font-size: 16px;
	color: #fff;
	font-family: 'lato-regular';
	margin-bottom: 5px;
}
.poll-text__title{
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	font-size: 45px;
	margin-bottom: 54px;
}
.poll-stat{
	float: right;
	background: #fff;
	width: 410px;
	margin-top: 58px;
	padding: 5px;
	@include bb;
	.poll-stat__block{
		border: 1px solid #cacac9;
		padding: 20px 25px;
		&>p{
			font-size: 18px;
			color: #000;
			margin-bottom: 25px;
		}
	}
}
.title-step{
	font-size: 40px;
	font-weight: bold;
	color: #000;
	text-align: center;
	padding: 40px 0px;
	span{color: #e76b6b;}
}
.step{
	background: #fff;
	margin-bottom: 25px;
	@include box-shadow(0 0 18px rgba(105,105,103,.15));
	img{float: left;}

	.step__text{
		float: left;
		width: 800px;
		padding: 10px 25px;
		@include bb;
		p{
			font-size: 25px;
			color: #000;
			margin-bottom: 25px;
		}
		
	}
	&.step_right{
		img{float: right;}
	}
}
.list-circle{
	padding-left: 15px;
	li{
		font-family: 'lato-regular';
		padding-left: 12px;
		font-size: 16px;
		line-height: 18px;
		position: relative;
		margin-top: 17px;
		&:before{
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #ed7272;
			display: block;
			left: -17px;
			top: 4px;
		}
		&:first-child{margin-top: 0;}
		.step__text-color{color: #ed7272;}
		.step__text-b{font-family: 'lato-bold';}
	}	
}
.progress {
	height: 5px;
	margin-bottom: 9px;
	background-color: #e8e8e8;
	width: 270px;
	float: left;
}
.sr-only{
	position: relative;
	top: -17px;
	font-size: 13px;
	color: #5d5d5d;
	right: -50px;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #5d5d5d;
  text-align: center;
  background-color: #e76b6b;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-block{
	label{
		font-size: 15px;
		font-family: 'lato-regular';
		color: #000;
		margin-bottom: 13px;
		display: block;
	}
	p{
		float: left;
		line-height: 3px;
		margin-left: 7px;
	}
}
input[type=radio] {display: none;} 
.radio{margin-bottom: 17px;} 
.radio label:before {  
	font-family: 'icomoon';
    content: "\e604";  
    font-size: 16px;
    color: #d7dbdd;
    margin-right: 15px;
}  
input[type=radio]:checked + label:before {  
    content: "\e605";
    text-align: center;  
    color: #e76b6b;
    font-size: 16px;
}  
input[type=radio]:checked + label{color: #e76b6b;}
.radio label{
	font-family: 'lato-medium';
	font-size: 16px;
	cursor: pointer;
	@include nosel;
}
.poll-btn{margin: 38px 0 16px;}
.progress-wrapper{display: none;}
.poll-all{
	font-size: 16px;
	color: #000;
	top: 10px;
	position: relative;
}
.icon-favorite:before {
	content: "\e621";
}
.pos-static{
  position: static !important;
}
.show-big-menu:hover {
  background: #e76b6b;
  a, a:before{
    color: #fff;
  }
  .big-menu{
    display: block;
  }
}