a, .icon{
  @include transition(all ease .3s);
  text-decoration: none;
}
body{
  font-family: $font;
  > .container {
    height: auto;
    min-height: 100%;
  }
}
header{
  margin-bottom: 4px;
  position: relative;
  z-index: 2;
  &.sticked{
    padding-bottom: 68px;
    &.opened-menu{padding-bottom: 224px}
  }
}
html, body, .container {height: 100%;}
.actions{
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
  .wrapper-shadow{background: #fff;}
  > .content{
    position: relative;
    &:after{
      background: url('images/shadow.png') 0 -5px no-repeat;
      height: 40px;
      width: 100%;
      content: '';
      @include absLB(0,-40px);
    }
  }
  .actions__big{
    float: left;
    width: 40%;
    height: 480px;
    overflow: hidden;
    img{
      float: left;
      width: 50%;
    }
    &.action_main{background: #fcfbf4;}
  }
  .actions__little{
    float: left;
    width: 20%;
    height: 480px;
    overflow: hidden;
    img,.action__text{width: 100%}
    a{text-decoration: none;}
  }
  .action-hor{
    height: 240px;
    &.action-hor__right{
      img{float: right;}
    }
  }
  .action__text{
    float: left;
    text-align: center;
    min-height: 240px;
    width: 50%;
    padding: 15px 12px;
    position: relative;
    @include bb;
    .icon{color: $hover;}
    .action_vert &{
      text-align: center;
      float: none;
      padding: 15px 12px;
      height: 240px;
      width: 100%;
      position: relative;
      @include bb;
      .icon{color: $hover;}
    }
  }
  .line{
    display: block;
    margin: 13px auto;
    @include s(line-sale);
  }
  .circle{
    display: block;
    margin: 10px auto;
    @include opacity(0.2);
    @include s(circle);
  }
  .red{color: #f00;}
  .action__title{
    font-size: 20px;
    color: #000;
    margin-bottom: 13px;
    padding: 0 15px;
  }
  .action__descript{
    color: #555555;
    line-height: 20px;
  }
  .action__price{
    font-size: 30px;
    color: #000;
    padding: 5px 0 20px;
    font-weight: 900;
  }
  .action__text_main{
    color: #000000;
    padding: 7px 0 6px;
    line-height: 20px;
  }
  .action_main{
    .action__text{
      padding-top: 30px;
      .line{margin: 20px auto;}
    }
  }
  .triangle-up {
    width: 0;
    height: 0;
    margin-left: -19px;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 22px solid #fff;
    @include absLT(50%,-22px);
  }
  .triangle-left {
    width: 0;
    height: 0;
    margin-top: -19px;
    border-top: 19px solid transparent;
    border-right: 22px solid #fff;
    border-bottom: 19px solid transparent;
    @include absLT(-22px,50%);
  }
  .triangle-right {
    width: 0;
    height: 0;
    margin-top: -19px;
    border-top: 19px solid transparent;
    border-left: 22px solid #fff;
    border-bottom: 19px solid transparent;
    @include absRT(-22px,50%);
  }
}
.application{
  text-align: center;
  img{margin: 0 6px;}
}
.back-to{
  color: #606060;
  font-size: 14px;
  margin-top: 13px;
  position: relative;
  @include transition(all ease .3s);
  &:before{
    @include ico("\e624",18px,#5e5e5e,1);
    @include absLT(-27px,-2px);
    @include transition(all ease .3s);
  }
  &:hover{
    color: $hover;
    &:before{color: $hover}
  }
}
.banner{
  position: relative;
  z-index: 1;
  .banner-time{
    background: url('images/baner-time-bg.png') no-repeat;
    margin: 4px 0;
  }
  .banner-time__left-img{
    float: left;
    img{padding: 2px 55px;}
  }
  .banner-time__text{
    float: left;
    padding: 22px 17px 0;
    p{
      font-weight: 700;
      font-size: 25px;
      color: #030303;
      margin-bottom: 23px;
      line-height: 26px;
    }
  }
  .banner-time__when{
    margin-bottom: 0px;
    padding-left: 65px;
  }
  .banner-time__name{
    color: #ed7272;
    padding-left: 4px;
  }
  .banner-time__cost{
    font-size: 28px;
    padding-left: 8px;
  }
  .banner-time__discount{
    float: right;
    padding: 4px 23px;
    p{
      font-weight: 700;
      font-size: 24px;
      color: #ff3809;
      text-align: right;
      padding-right: 15px;
      margin-bottom: 5px;
    }
  }
}
.bg-header{
  background: #e7dbcb url('../css/images/bg/blik.png') top center no-repeat;
  padding-bottom: 10px;
  position: relative;
  &:before{
    content: '';
    @include absRB(0,0);
    background: url('../css/images/bg/right.png') no-repeat;
    width: 495px;
    height: 496px;
  }
  &:after{
    content: '';
    background: url('../css/images/bg/left.png') no-repeat;
    width: 538px;
    height: 100%;
    @include absLT(0,0);
  }
}
.breadcrumbs{
  ul{
    li{
      float: left;
      color: #606060;
      line-height: 43px;
      position: relative;
      margin-right: 30px;
      &:after{
        @include absRT(-18px,0);
        content: '/';
      }
      &:last-child:after{display: none}
      a{
        color: $hover;
        font-size: 14px;
        text-decoration: underline;
        &:hover{text-decoration: none;}
      }
    }
  }
}
.call-request{
  padding-top: 10px;
  position: relative;
  padding-left: 58px;
  @include bb;
  &:before{
    @include absLT(9px,8px);
    content: '\e611';
    font-size: 40px;
    color: $hover;
    line-height: 44px;
    font-family: 'icomoon';
    font-weight: 400;
  }
  .call-request__phone{
    color: #5d5d5d;
    font-size: 22px;
  }
  .call-request__phone-link{
    .header-top__link &{
      font: 14px $fontPt;
      color: #159bea;
      display: block;
      padding: 0;
      text-decoration: underline;
      &:hover{text-decoration: none;}
    }
  }
}
.change-view{
  padding: 12px 2px 5px;
  span{
    @include transition(all ease .3s);
    display: inline-block;
    cursor: pointer;
    color: #5e5e5e;
    margin-left: 5px;
    &:hover{color: $hover;}
    &.active{
      color: $hover;
      pointer-events: none;
    }
  }
}
.content {
  width: 1200px;
  @include bb;
  margin: 0 auto;
}
.counter{
  position: relative;
  input{
    background: #e9e9e9;
    text-align: center;
    border-top: 1px solid #bfbfbf;
    font: 13px $fontPt;
    color: #5d5d5d;
    width: 33px;
    padding: 6px 25px 7px 0;
    margin: 0 11px 0 0;
    @include border-radius(5px);
  }
  .ui-spinner-button{
    position: absolute;
    width: 15px;
    height: 8px;
    border: 1px solid #fff;
    outline: 1px solid #bdbdbd;
    background: #ececec;
    cursor: pointer;
    @include nosel;
    @include transition(all ease .3s);
    &:hover{
      background: #f5f5f5;
    }
  }
  .ui-spinner-up{
    right: 15px;
    top: -6px;
    span{
      @include absLT(0,0);
      display: block;
      right: 0;
      bottom: 0;
      margin: auto;
      @include s(counter-up);
    }
  }
  .ui-spinner-down{
    right: 15px;
    bottom: 0;
    span{
      @include absLT(0,0);
      display: block;
      right: 0;
      bottom: 0;
      margin: auto;
      @include s(counter-down);
    }
  }
}
.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 365px;
  margin-top: -365px;
}
.footer-bottom{
  background: #fcf7f3;
  border-top: 2px dashed #000;
  padding: 35px 0;
  .footer-bottom__social{
    float: left;
    padding: 15px 0;
    width: 410px;
  }
  .footer-bottom__application{
    float: left;
    p{
      font: 18px $fontPt;
      color: #e27777;
      padding: 10px 2px;
      margin-bottom: 32px;
    }
  }
  .footer-bottom__developer{
    float: left;
    width: 235px;
    text-align: center;
    padding-left: 11px;
    @include bb;
    a{
      display: block;
      text-decoration: none;
    }
    .number-developer{
      padding: 11px 0 15px;
      text-align: right;
      margin-bottom: 30px;
      font-weight: 800;
      font-size: 22px;
      color: #808080;
    }
  }
}
.footer-middle{
  background: #fff;
  padding: 22px 0 20px;
}
.footer-top{
  background: #ede5dc;
  padding: 9px 0;
  p{
    font: 700 22px/35px $fontPt;
    color: #595959;
    text-align: center;
  }
}
.header-bottom{
  background: #ffffff;
  width: 1200px;
  padding-bottom: 1px;
  font-family: $fontPt;
  @include box-shadow(0 0 19px rgba(106,91,33,.25));
  @include transition(all ease .3s);
  &.active{padding-bottom: 157px;}
  .header-bottom__left{
    float: left;
    &>nav>ul>li{
      float: left;
      margin: 1px 1px 1px 0;
      &>a{
        font-size: 19px;
        color: #5e5e5e;
        display: block;
        padding: 0 19px;
        line-height: 63px;
        text-decoration: none;
        @include transition(all ease .3s);
        &:hover, &.active{
          color: #fff;
          background: $hover;
        }
      }
    }
  }
  .header-bottom__right{
    float: right;
    &>nav>ul>li{
      float: left;
      position: relative;
      margin: 1px 0 1px 1px;
      &>a{
        @include transition(all ease .3s);
        &:hover, &.active{
          color: #fff;
          background: $hover;
          &:before{color: #ffffff;}
        }
      }
      .cart-count{
        font-size: 10px;
        color: #fff;
        background: #00b5f3;
        padding: 0 2px 1px;
        line-height: 14px;
        @include border-radius(2px);
        @include absLT(35px,12px);
      }
    }
  }
  .header-bottom__account{
    display: block;
    position: relative;
    font-size: 19px;
    color: #5e5e5e;
    padding: 12px 30px 13px 57px;
    line-height: 19px;
    text-decoration: none;
    &:before{
      content: '\e61b';
      color: $hover;
      font-family: 'icomoon';
      font-size: 38px;
      @include transition(all ease .3s);
      @include absLT(7px,23px);
    }
  }
  .header-bottom__menu{
    display: block;
    position: relative;
    font-size: 19px;
    color: #5e5e5e;
    padding: 0 30px 0 57px;
    line-height: 63px;
    text-decoration: none;
    &:before{
      content: '\e60f';
      color: $hover;
      font-family: 'icomoon';
      font-size: 40px;
      @include transition(all ease .3s);
      @include absLT(7px,0);
    }
    &.active{
      + .big-menu{
        visibility: visible;
        opacity: 1;
        height: 160px;
      }
    }
  }
  .header-bottom__basket{
    display: block;
    position: relative;
    font-size: 19px;
    color: #5e5e5e;
    padding: 0 30px 0 57px;
    line-height: 63px;
    text-decoration: none;
    &:before{
      content: '\e603';
      color: $hover;
      font-family: 'icomoon';
      font-size: 37px;
      @include transition(all ease .3s);
      @include absLT(7px,1px);
    }
  }
  .big-menu{
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    z-index: 102;
    background: $hover;
    @include absLT(0,65px);
    @include transition(all ease .3s);
    ul{padding: 0 0 10px;}
    li{
      width: 12.5%;
      text-align: center;
      float: left;
      padding: 12px 10px 0;
      overflow: hidden;
      @include bb;
      a{
        text-transform: uppercase;
        color: #e1e1e1;
        display: block;
        text-decoration: none;
        padding: 5px;
        span{
          display: block;
          color: #fff;
          line-height: 30px;
          padding-bottom: 5px;
        }
        &:hover, &.active{
          background: #ffffff;
          color: $hover;
          span{color: $hover;}
        }
      }
    }
    nav{@include box-shadow(inset 0 15px 25px 0 rgba(0,0,0,0.1))}
    &.active{display: block;}
  }
  .show-big-menu:hover {
    background: $hover;
    a, a:before{color: #fff;}
    .big-menu{
      height: 160px;
      visibility: visible;
      opacity: 1;
    }
  }
}
.header-top{
  margin-bottom: 20px;
  padding-top: 20px;
  .header-top__link{
    float: left;
    li{
      float: left;
      font-weight: 800;
      min-width: 240px;
      &:first-child{min-width: 207px;}
      p{
        text-decoration: none;
        color: #5e5e5e;
        line-height: 18px;
        padding-top: 13px;
        display: block;
        font-weight: 700;
        font-size: 14px;
        &:before {
          color: $hover;
          line-height: 44px;
          font-weight: 400;
          font-family: 'icomoon';
        }
      }
    }
  }
  .header-top__receiving{
    position: relative;
    padding-left: 55px;
    &:before{
      @include absLT(3px,8px);
      content: '\e607';
      font-size: 40px;
    }
  }
  .header-top__delivery{
    position: relative;
    padding-left: 70px;
    &:before{
      @include absLT(0,8px);
      content: '\e602';
      font-size: 55px;
    }
  }
  .header-top__credit{
    position: relative;
    padding-left: 57px;
    &:before{
      @include absLT(0,8px);
      content: '\e608';
      font-size: 42px;
    }
  }
}
.item{
  .item-img{
    width: 905px;
    margin-top: 35px;
    img{
      max-width: 100%;
      margin-bottom: 30px;
    }
  }
  .nutrition{
    width: 315px;
    margin: 0 auto 30px;
    text-align: center;
    >p{
      color: #5d5d5d;
      font-size: 14px;
      margin-bottom: 15px;
    }
    >span{
      display: block;
      color: $hover;
      font: 16px $fontPt;
      margin-top: 15px;
    }
    >div{
      border: 2px dashed #dbdad6;
      @include border-radius(5px);
      padding: 15px 0;
      overflow: hidden;
      p{
        width: 33%;
        float: left;
        color: #5d5d5d;
        font-size: 14px;
        span{
          display: block;
          font-style: italic;
          margin-top: 25px;
        }
      }
    }
  }
  .item-info{
    width: 270px;
    margin-top: 35px;
    h1{
      color: $hover;
      font: 34px/35px $fontPt;
      margin-bottom: 15px;
    }
    >span{
      display: block;
      font-size: 16px;
      margin-bottom: 5px;
    }
    >p{
      font-size: 14px;
      line-height: 18px;
    }
    .icon-like{
      color: #8a8989;
      font: 14px $fontPt;
      cursor: pointer;
      display: inline-block;
      margin: 15px 0 20px;
      @include transition(all ease .3s);
      &:before{
        font: 22px $icon;
        margin-right: 7px;
        position: relative;
        top: 5px;
      }
      &:hover{color: $hover}
    }
  }
}
.list-circle{
  padding-left: 15px;
  li{
    padding-left: 12px;
    font-size: 16px;
    line-height: 18px;
    position: relative;
    margin-top: 17px;
    &:before{
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ed7272;
      display: block;
      @include absLT(-17px,4px);
    }
    &:first-child{margin-top: 0;}
    .step__text-color{color: #ed7272;}
    .step__text-b{font-weight: 700}
  }
}
.list-menu{
  text-align: center;
  li{
    display: inline-block;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.3px;
    a{
      color: $hover;
      padding: 0 1px;
      text-decoration: underline;
      &:hover{text-decoration: none;}
    }
  }
}
.list-product{
  .product{
    float: left;
    margin-bottom: 37px;
    @include bb;
    @include transition(all ease .3s);
  }
  &.five .product{width: 20%}
  &.four .product{width: 25%;}
  &.eight .product{
    width: 12.5%;
    .product__img{
      height: 110px;
      line-height: 110px;
    }
    .product__title{
      font-size: 15px;
      padding: 0 10px;
      margin-bottom: 5px;
    }
    .product-buy{
      .product-price{
        font-size: 21px;
        margin: 0 5px 0 10px;
        width: 55px;
        span{font-size: 14px;}
      }
      .icon-cart{
        padding: 2px 0;
      }
      input{width: 32px;}
    }
    .counter{
      input{
        padding: 5px 4px 8px 5px;
        text-align: left;
      }
    }
  }
}
.list-two-row{
  li{
    float: left;
    width: 118px;
    &:nth-child(3n+3){padding-left: 48px;}
    a{
      font-family: $fontPt;
      color: #000;
      line-height: 35px;
      text-decoration: underline;
      &:hover{text-decoration: none;}
    }
  }
}
.logo{
  float: left;
  margin-right: 60px;
}
.logo-footer{
  margin-right: 45px;
  div{
    text-decoration: none;
    color: #000;
    display: block;
    img{max-width: 165px;}
  }
  span{
    display: block;
    overflow: hidden;
    position: relative;
    padding: 8px 0px;
    font: 14px/18px $fontPt;
    &.copy{
      float: left;
      font-size: 29px;
      line-height: 1.5;
      padding: 0;
    }
    &.text{
      width: 140px;
      margin-right: 0px;
      padding: 8px 0px;
      margin-left: 35px;
    }
  }
}
.menu-height{height: auto !important;}
.pizza{
  background: url('images/bg-pizza.png') top center no-repeat;
  a{
    display: block;
    img{
      float: left;
      padding: 4px 210px 0 0;
      margin-left: -17px;
    }
    p{padding: 37px 0 0;}
    font: 700 45px $fontPt;
    color: #5b2309;
    text-decoration: none;
  }
}
.poll{
  background: #e1ddd9 url('images/bg-poll.png') top center no-repeat;
  .poll-text{
    width: 580px;
    float: left;
    padding: 153px 0 153px 28px;
    @include bb;
  }
  .poll-text__text{
    font-size: 25px;
    color: #fff;
    line-height: 33px;
    padding-left: 5px;
    margin-bottom: 55px;
  }
  .poll-text__small{
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
  }
  .poll-text__title{
    font: bold 45px $fontPt;
    color: #fff;
    margin-bottom: 54px;
  }
  .poll-stat{
    float: right;
    background: #fff;
    width: 410px;
    margin-top: 58px;
    padding: 5px;
    @include bb;
    .poll-stat__block{
      border: 1px solid #cacac9;
      padding: 20px 25px;
      &>p{
        color: #000;
        margin-bottom: 25px;
        font: 18px/24px $fontPt;
      }
    }
  }
}
.poll-all{
  font: 16px $fontPt;
  color: #000;
  top: 10px;
  position: relative;
}
.poll-btn{
  margin: 38px 0 16px;
  .button{
    float: left;
    width: 164px;
    &.grey{margin-left: 20px}
  }
}
.pos-static{position: static !important;}
.product{
  position: relative;
  &:before{
    content: '';
    width: 130px;
    height: 70px;
    z-index: 1;
    display: none;
    @include absRT(10px,10px);
  }
  &.product__new:before{
    display: block;
    background: url('images/new.png') no-repeat;
  }
  &.product__acute:before{
    display: block;
    background: url('images/acute.png') no-repeat;
  }
  .product__title{
    font: 18px/20px $fontPt;
    color: #5d5d5d;
    text-align: center;
    padding: 0 20px;
    margin: 15px 0;
  }
  .product__img{
    position: relative;
    display: block;
    margin-bottom: -8px;
    height: 190px;
    line-height: 190px;
    text-align: center;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.product-buy{
  input{
    float: left;
  }
  .icon-cart{
    color: $hover;
    padding: 2px 4px;
    display: inline-block;
    cursor: pointer;
    &:hover{
      color: #a62702;
    }
  }
  .product-price{
    font: 28px/29px $fontPt;
    color: #5d5d5d;
    float: left;
    margin: 0 10px 0 30px;
    span{
      right: 2px;
      top: -2px;
      position: relative;
    }
  }
}
.products__description{
  font-size: 18px;
  line-height: 20px;
  font-style: italic;
  color: #5e5e5e;
  text-align: center;
  margin-bottom: 40px;
}
.products__title{
  font: 34px/44px $fontPt;
  color: #5e5e5e;
  text-align: center;
  margin-bottom: 5px;
}
.production{
  padding-bottom: 55px;
  &>li{
    width: 25%;
    float: left;
    padding: 35px 0 0;
    text-align: center;
    a{
      font-size: 28px;
      color: #5d5d5d;
      text-decoration: none;
      &:hover{color:#000}
      &>span{
        position: relative;
        display: block;
        height: 250px;
        img{
          display: block;
          max-width: 100%;
          @include transition(all ease .4s);
        }
      }
      &:hover img{
        @include transform(scale(0.95));
      }
    }
  }
}
.progress {
  height: 5px;
  margin-bottom: 9px;
  background-color: #e8e8e8;
  width: 270px;
  float: left;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #5d5d5d;
  text-align: center;
  background-color: $hover;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.progress-block{
  label{
    font-size: 15px;
    color: #000;
    margin-bottom: 13px;
    display: block;
  }
  p{
    float: left;
    margin-left: 7px;
    color: #5d5d5d;
    font: 13px/3px $fontPt;
  }
}
.progress-wrapper{display: none;}
.radio{
  margin-bottom: 17px;
  label{
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    @include nosel;
    &:before {
      content: '';
      width: 10px;
      height: 10px;
      border: 3px solid #d7dbdd;
      @include absLT(0,-1px);
      @include border-radius(50%);
      @include transition(all ease .3s);
    }
    &:after{
      width: 6px;
      height: 6px;
      content: '';
      background: #d7dbdd;
      opacity: 0;
      @include absLT(5px,4px);
      @include border-radius(50%);
      @include transition(all ease .3s);
    }
    &:hover{
      &:after{
        opacity: 1;
      }
    }
  }
  input {
    display: none;
    &:checked + label{
      color: $hover;
      &:before{border-color: #e76b6b}
      &:after{
        background: #e76b6b;
        opacity: 1;
      }
    }
  }
}
.rating{
  margin-bottom: 20px;
  >p{
    font: 18px $fontPt;
    color: #000;
    margin-bottom: 15px;
  }
  >div{
    background: #fff;
    padding: 20px 8px 10px;
    @include box-shadow (0 0 8px 0 rgba(0,0,0,0.1));
  }
  .left{
    width: 125px;
    margin-top: -13px;
    p{
      color: #000;
      font: 52px $fontPt;
      text-align: center;
    }
    .icon{
      font: 13px $font;
      color: #8a8989;
      display: block;
      margin: 10px 0 0;
      pointer-events: none;
      &:before{
        font: 14px $icon;
        top: 1px;
        margin-right: 5px;
      }
    }
  }
  .right{
    width: 120px;
    .icon-star{
      font: 14px $font;
      color: #737373;
      float: left;
      margin: 2px 7px 0 0;
      &:before{
        font: 11px $icon;
        margin-right: 5px;
      }
    }
    li{
      overflow: hidden;
      p{
        float: left;
        max-width: 74%;
        height: 19px;
        i{
          color: #0c0808;
          font-size: 13px;
          font-style: normal;
          display: block;
          margin: 3px 0 0 15px;
        }
        &.rate-1{background: #a0c15a}
        &.rate-2{background: #add633}
        &.rate-3{background: #ffd935}
        &.rate-4{background: #ffb235}
        &.rate-5{background: #ff8c5a}
      }
    }
  }
}
.social{
  margin-bottom: 27px;
  text-align: center;
  li {
    float: left;
    margin-left: 45px;
    a{
      text-decoration: none;
      display: block;
      color: #de6c28;
      font: 700 15px $fontSansation;
      &:hover{text-decoration: underline;}
      span{
        font-size: 26px;
        display: block;
        float: left;
        margin: -5px 5px 0 0;
      }
    }
    &:first-child{margin-left: 0;}
  }
}
.stars{
  width: 93px;
  height: 17px;
  position: relative;
  background: #e3e3e3;
  margin: 0 auto;
  &:before{
    @include s(star);
    @include absLT(0,0);
    content: '';
    width: 100%;
    height: 100%;
  }
  span{
    display: block;
    background: #737373;
    width: 0;
    height: 100%;
  }
}
.sticky-wrapper{
  height: auto !important;
  position: relative;
}
.step{
  background: #fff;
  margin-bottom: 25px;
  @include box-shadow(0 0 18px rgba(105,105,103,.15));
  img{float: left;}

  .step__text{
    float: left;
    width: 800px;
    padding: 10px 25px;
    @include bb;
    p{
      font: 25px $fontPt;
      color: #000;
      margin-bottom: 25px;
    }

  }
  &.step_right{
    img{float: right;}
  }
}
.sr-only{
  position: relative;
  top: -17px;
  font: 13px $fontPt;
  color: #5d5d5d;
  right: -50px;
}
.title-step{
  font: 700 40px $fontPt;
  color: #000;
  text-align: center;
  padding: 40px 0px;
  span{color: $hover;}
}
.quantity{
  @include border-radius(10px);
  border: 2px dashed #939292;
  padding: 20px 30px 15px;
  margin-bottom: 35px;
  .count{
    margin-bottom: 15px;
    p{
      color: #5d5d5d;
      font-size: 20px;
      font-style: italic;
      margin-right: 25px;
      float: left;
      margin-top: 4px;
    }
    span{float: left}
    .counter{
      input{
        width: 40px;
        margin: 0;
      }
      .ui-spinner-up{
        right: 5px;
        top: 6px;
      }
      .ui-spinner-down{
        bottom: 5px;
        right: 5px;
      }
    }
  }
  >p{
    color: #5d5d5d;
    font-size: 20px;
    font-style: italic;
    white-space: nowrap;
    margin-bottom: 20px;
    b{
      color: #000;
      font: 800 34px $font;
      margin: 0 10px;
      position: relative;
      padding-right: 20px;
      &:before{
        @include absRB(0,8px);
        font: 400 15px $icon;
      }
    }
    span{
      display: block;
    }
  }
  .button{width:100%}
  .order-half{
    text-align: center;
    line-height: 16px;
    margin: -15px 0 15px;
    p{
      font-size: 13px;
      color: #000;
    }
    i{
      font-size: 14px;
      text-decoration: underline;
      color: #e76b6b;
      font-style: normal;
      cursor: pointer;
      &:hover{text-decoration: none;}
    }
  }
  &.half{
    >p{
      float: left;
      width: 50%;
      b{margin: 0 0 0 20px}
      span{
        text-align: center;
        width: 115px;
      }
      &.lined{
        position: relative;
        &:after{
          @include absRT(-5px,-2px);
          content: '/';
          color: #000;
          font-size: 35px;
          font-weight: 800;
        }
        b{margin-left: 0px}
        span{width: 82px;}
      }
    }
    .count{
      margin-bottom: 0px;
      .button{
        float: left;
        height: 34px;
        line-height: 34px;
        width: 113px;
      }
      .counter{margin: 1px 28px 0 0}
    }
  }
}
.wrapper{padding-bottom: 365px}