.block{
  padding: 25px;
  position: relative;
  background: #fff;
  margin: 35px 0 70px 0;
  @include box-shadow(0 0 18px rgba(105,105,103,.15));
}
.main-block{
  text-align: center;
  p{
    font-size: 18px;
    font-style: italic;
    margin: 10px;
    a{
      color: #E76B6B;
      text-decoration: underline;
    }
    a:hover{text-decoration: none;}
  }
  img{width: 100%;}
}
.text-block{
  position: relative;
  float: left;
  margin: 10px 0 5px 0;
  .reg{color:#5d5d5d;}
  div{overflow: hidden}
  .text-order{font-style: italic;}
  ul{padding-left: 20px}
  a{
    color: #E76B6B;
    text-decoration: underline;
  }
  a:hover{text-decoration: none;}
  p{
    color: #5e5e5e;
    margin-bottom: 25px;
  }
  h2{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
    color: #545451;
  }
  h4{
    color: #545451;
    font-size: 18px;
    font-weight: 600;
  }
  .text-color{color: #E76B6B;}
  .semibold{
    font-size: 16px;
    font-weight: 600;
  }
  h5{
    color: #E76B6B;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  li{
    font-size: 14px;
    color: #5e5e5e;
  }
  .leftimg{
    float: left;
    margin: 5px 35px 5px 5px;
  }
  .rightimg{
    float: right;
    margin: 5px 5px 5px 35px;
  }
}
.slogan{
  text-align: center;
  color: #545451;
  font-size: 24px;
  font-weight: 600;
  margin-top: 50px;
}
.sale-block{
  margin-right: -22px;
  .step{
    width: 385px;
    height: 615px;
    float: left;
    position: relative;
    margin-right: 22px;
  }
  h2{
    font: 16px $fontPt;
    color: #E76B6B;
  }
  h3{
    font: bold 14px $fontPt;
    color: #000;
    height: 50px;
  }
  p{
    font-size: 13px;
    span{
      color: #000;
      font-weight: 800;
    }
  }
  img{
    width: 385px;
    height: 270px;
  }
  .text-block{margin: 10px;}
}
.pay{
  text-align: center;
  margin-bottom: 75px;
  p{
    font: 28px $fontPt;
    color: #545451;
  }
  hr{
    width: 200px;
    height: 1px;
    background: none repeat scroll 0 0 #e1e0db;
    margin: 40px auto;
    border: medium none;
  }
  .icon-accept{color:#4aa20f;}
  .icon-error{color:#e35656;}
  span{
    display: inline-block;
    margin-top: 65px;
    margin-bottom: 40px;
  }
}
.review{
  color: #5e5e5e;
  >p{
    font-size: 18px;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  i{float: right;}
  >div{
    padding: 20px 0 20px 60px;
    border-top: solid 1px #e5e5e5;
    position: relative;
    &:before{
      content: "\e638";
      color: #c9c9c9;
      font: 40px 'icomoon';
      position: absolute;
      left: 0;
      top: 23px;
    }
    &.admin{
      margin-left: 60px;
      .name{color:#e76b6b;}
      &:before{content: "\e62d"}
    }
    .name{
      margin-top: 0;
      font-size: 16px;
      font-weight: 700;
    }
    p{
      overflow: hidden;
      margin-top: 15px;
      >span{
        color: #8a8a8a;
        font-size: 12px;
        border-left: 1px dashed #8a8a8a;
        margin-left: 10px;
        padding-left: 10px;
      }
    }
  }
}
.pagination{
  padding: 40px 0 20px 0;
  border-top: solid 1px #e5e5e5;
  ul{
    position: relative;
    left: 50%;
    float: left;
    li{
      float: left;
      position: relative;
      right: 50%;
      margin: 0 3px;
      text-align: center;
      a{
        color: #000;
        display: block;
        width: 28px;
        height: 28px;
        border: 1px solid transparent;
        line-height: 26px;
        @include border-radius (50%);
        &:hover{border-color: #e76b6b;}
      }
      &.active a{border-color: #000;}
      &.navigation a:hover{
        color: #e76b6b;
        border-color: transparent;
      }
    }
  }
}
.ui-dialog{z-index: 999;}
.ui-widget-overlay{
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

// ОТЗЫВЫ ВСПЛЫВАШКА


.window{
  background: #fff;
  position: relative;
  .close{cursor: pointer;}
  .btn-remove-arch{
    position: relative;
    margin-bottom: 10px;
  }
  textarea{
    @include bb;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #aea9a0;
    font: 14px $font;
    height: 170px;
    resize: none;
    width: 100%;
    margin: 20px 0;
    position: relative;
    padding: 10px;
    color: #5e5e5e;
  }
  p{
    font-size: 25px;
    color: #5d5d5d;
    position: relative;
  }
  i{
    color:#e35656;
    position: absolute;
    right: -37px;
    top: -33px;
    z-index: 1;
  }
  &:after{
    content: "\e633";
    color: #fff;
    font: 100px 'icomoon';
    position: absolute;
    right: -55px;
    top: -85px;
  }
  .window-inner{
    overflow: hidden;
    padding: 30px 35px;
    position: relative;
    &:before{
      content: "\e634";
      color: #fcf0f0;
      font: 345px 'icomoon';
      position: absolute;
      left: -6px;
      top: -44px;
    }
  }
}


//ИНТЕРЕСНОЕ

.arhive{
  color: #5d5d5d;
  p{
    >a{
      text-decoration: underline;
      color: #e76b6b;
      &:hover{text-decoration: none;}
    }
  }
  .single-arhive{
    padding: 25px 14px 0 14px;
    margin: 0;
    >img{
      width: 100%;
      height: 300px;
      margin: 0 0 20px 0;
    }
    >p{margin-top: 10px;}
  }
  .arhive-block{
    color: #5d5d5d;
    padding: 20px 13px;
    border-bottom: 1px solid #e5e5e5;
    img{
      margin-right: 17px;
      width: 300px;
      height: 150px;
      position: relative;
      float: left;
    }
    h3{
    	a{
    		color: #5d5d5d;
    		&:hover{color: #e76b6b;}
    	}
      font-size: 20px;
      width: 700;
      margin-bottom: 13px;
    }
    div{
      position: relative;
      overflow: hidden;
      .link-office{
      	display: inline-block;
      	margin-top: 13px;
      }
    }
    &:last-child{border-bottom:none;}
  }
  .social-icons{
    border-top: 1px solid #e5e5e5;
    margin-top: 30px;
    padding: 20px 0;
	img{
		display: block;
		margin: auto;
	}
  }
}

//ИНТЕРЕСНОЕ КОНКУРСЫ

.competitions{
  border-top: 1px solid #e5e5e5;
  padding: 20px 0 20px 0;
  position: relative;
  float: left;
  &:first-child{
  	border-top: none;
  	padding-top: 10px;
  }
  .cmpetition-img{
    margin-right: 15px;
    position: relative;
    float: left;
    img{
      display: block;
      width: 290px;
      height: 200px;
    }
    i{
      border: 2px dotted #1e71b8;
      border-radius: 15px;
      display: block;
      font-size: 22px;
      padding: 0 0 0 70px;
      position: relative;
      width: 216px;
      height: 70px;
      margin: 15px 0 0 0;
      line-height: 70px;
      &.plus{
        border-color: #ed7272;
        line-height: 30px;
        &:before{
          content: "\e63d";
          color: #ed7272;
        }
      }
      &.konkurs_end{
        border-color: #4aa20f;
        &:before{
          content: "\e63a";
          color: #5d5d5d;
        }
      }
      &:before{
        content: "\e621";
        color: #1e71b8;
        font: 40px 'icomoon';
        position: absolute;
        left: 13px;
        top: 13px;
      }
    }
  }
  .competition-text{
    position: relative;
    overflow: hidden;
    i{margin-right: 40px;}
    p{
      margin-bottom: 10px;
      span{
        color: #ed7272;
        width: 600;
      }
    }
    h3{
      font-size: 20px;
      width: 700;
      a{color: #5d5d5d;}
    }
    h2{
      margin: 10px 0 10px 0;
      display: block;
      background-color: #f5f5f5;
      padding-left: 55px;
      font-size: 24px;
      color: #e76b6b;
      height: 60px;
      line-height: 60px;
      &:before{
        content: "\e629";
        color: #5d5d5d;
        font: 32px 'icomoon';
        position: absolute;
        left: 12px;
        top: 78px;
      }
      &.complete{
		color: #4aa20f;
		&:before{
			content: "\e63a";
	        color: #5d5d5d;
	        font: 32px 'icomoon';
	        position: absolute;
	        left: 12px;
	        top: 78px;
		}
	  }
    }
    .konkurs-data{
    	h4{
    		color: #000;
    		font-size: 22px;
    	}
    	p{
    		margin: 0;
    		padding: 0;
    	}
    }
  }
}


// SINGLE-PAGE COMPETITION


.competition-answer{
  border-top: 1px solid #e5e5e5;
  p{
    span {
      border-left: 1px dashed #8a8a8a;
      color: #8a8a8a;
      font-size: 12px;
      margin-left: 10px;
      padding-left: 10px;
    }
  }
  .answer{
    border-top: 1px solid #e5e5e5;
    p{
      position: relative;
    }
    img{
      width: 240px;
      height: 180px;
      display: block;
    }
  }
}
.vk-social{
	margin-top: 15px;
	img{
		display: block;
		margin: 0 auto;
	}
}

