
.block{
  padding: 25px;
  position: relative;
  background: #fff;
  margin: 35px 0 70px 0;
  @include box-shadow(0 0 18px rgba(105,105,103,.15));
}
.main-block{
  text-align: center;
  p{
    font-size: 18px;
    font-style: italic;
    margin: 10px;
    a{
      color: #E76B6B;
      text-decoration: underline;
    }
    a:hover{text-decoration: none;}
  }
  img{width: 100%;}
}
.text-block{
  position: relative;
  float: left;
  margin: 10px 0 5px 0;
  .reg{color:#5d5d5d;}
  div{overflow: hidden}
  .text-order{font-style: italic;}
  ul{padding-left: 20px}
  a{
    color: #E76B6B;
    text-decoration: underline;
  }
  a:hover{text-decoration: none;}
  p{
    color: #5e5e5e;
    margin-bottom: 25px;
  }
  h2{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
    color: #545451;
  }
  h4{
    color: #545451;
    font-size: 18px;
    font-weight: 600;
  }
  .text-color{color: #E76B6B;}
  .semibold{
    font-size: 16px;
    font-weight: 600;
  }
  h5{
    color: #E76B6B;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  li{
    font-size: 14px;
    color: #5e5e5e;
  }
  .leftimg{
    float: left;
    margin: 5px 35px 5px 5px;
  }
  .rightimg{
    float: right;
    margin: 5px 5px 5px 35px;
  }
}
.slogan{
  text-align: center;
  color: #545451;
  font-size: 24px;
  font-weight: 600;
  margin-top: 50px;
}
.sale-block{
  margin-right: -22px;
  .step{
    width: 385px;
    height: 615px;
    float: left;
    position: relative;
    margin-right: 22px;
  }
  h2{
    font: 16px $fontPt;
    color: #E76B6B;
  }
  h3{
    font: bold 14px $fontPt;
    color: #000;
    height: 50px;
  }
  p{
    font-size: 13px;
    span{
      color: #000;
      font-weight: 800;
    }
  }
  img{
    width: 385px;
    height: 270px;
  }
  .text-block{margin: 10px;}
}
.pay{
  text-align: center;
  margin-bottom: 75px;
  p{
    font: 28px $fontPt;
    color: #545451;
  }
  hr{
    width: 200px;
    height: 1px;
    background: none repeat scroll 0 0 #e1e0db;
    margin: 40px auto;
    border: medium none;
  }
  .icon-accept{color:#4aa20f;}
  .icon-error{color:#e35656;}
  span{
    display: inline-block;
    margin-top: 65px;
    margin-bottom: 40px;
  }
}
.review{
  color: #5e5e5e;
  >p{
    font-size: 18px;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  i{float: right;}
  >div{
    padding: 20px 0 20px 60px;
    border-top: solid 1px #e5e5e5;
    position: relative;
    &:before{
      content: "\e638";
      color: #c9c9c9;
      font: 40px 'icomoon';
      position: absolute;
      left: 0;
      top: 23px;
    }
    &.admin{
      margin-left: 60px;
      .name{color:#e76b6b;}
      &:before{content: "\e62d"}
    }
    .name{
      margin-top: 0;
      font-size: 16px;
      font-weight: 700;
    }
    p{
      overflow: hidden;
      margin-top: 15px;
      >span{
        color: #8a8a8a;
        font-size: 12px;
        border-left: 1px dashed #8a8a8a;
        margin-left: 10px;
        padding-left: 10px;
      }
    }
  }
}
.pagination{
  padding: 40px 0 20px 0;
  border-top: solid 1px #e5e5e5;
  ul{
    position: relative;
    left: 50%;
    float: left;
    li{
      float: left;
      position: relative;
      right: 50%;
      margin: 0 3px;
      text-align: center;
      a{
        color: #5d5d5d;
        display: block;
        width: 25px;
        height: 25px;
        border: 1px solid transparent;
        line-height: 26px;
        @include border-radius (50%);
        &:hover{border-color: #e76b6b;}
        i{
          margin-top: 6px;
          display: block;
        }
      }
      &.next{
          & a i{
            margin-top: -4px;
          }
          @include transform(rotate(-180deg));
          @include transition(all ease .1s);
          margin-top: -7px;
        }
      &.active a{border-color: #5d5d5d;}
      &.navigation a:hover{
        color: #e76b6b;
        border-color: transparent;
      }
    }
  }
}
.ui-dialog{z-index: 999;}
.ui-widget-overlay{
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

// ОТЗЫВЫ ВСПЛЫВАШКА


.window{
  background: #fff;
  position: relative;
  .close{cursor: pointer;}
  &:after{
    content: "\e633";
    color: #fff;
    font: 100px 'icomoon';
    position: absolute;
    right: -55px;
    top: -85px;
  }
  i{
    color:#e35656;
    position: absolute;
    right: -37px;
    top: -33px;
    z-index: 1;
  }
}
.octopus:before{
    content: "\e634";
    color: #fcf0f0;
    font: 345px 'icomoon';
    position: absolute;
    left: -6px;
    top: -44px;
}
.your-review{
  .btn-remove-arch{
    position: relative;
    margin-bottom: 10px;
  }
  textarea{
    height: 170px;
    margin: 20px 0;
    position: relative;
  }
  p{
    font-size: 25px;
    color: #5d5d5d;
    position: relative;
  }
  .window-inner{
    overflow: hidden;
    padding: 30px 35px;
    position: relative;
  }
}


//ИНТЕРЕСНОЕ

.arhive{
  color: #5d5d5d;
  p{
    >a{
      text-decoration: underline;
      color: #e76b6b;
      &:hover{text-decoration: none;}
    }
  }
  .single-arhive{
    padding: 25px 14px 0 14px;
    margin: 0;
    >img{
      width: 100%;
      height: 300px;
      margin: 0 0 20px 0;
    }
    >p{margin-top: 10px;}
  }
  .arhive-block{
    color: #5d5d5d;
    padding: 20px 13px;
    border-bottom: 1px solid #e5e5e5;
    img{
      margin-right: 17px;
      width: 300px;
      height: 150px;
      position: relative;
      float: left;
    }
    h3{
      a{
        color: #5d5d5d;
        &:hover{color: #e76b6b;}
      }
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 13px;
    }
    div{
      position: relative;
      overflow: hidden;
      .link-office{
        display: inline-block;
        margin-top: 13px;
      }
    }
    &:last-child{border-bottom:none;}
  }
  .social-icons{
    border-top: 1px solid #e5e5e5;
    margin-top: 30px;
    padding: 20px 0;
    img{
      display: block;
      margin: auto;
    }
  }
}

//ИНТЕРЕСНОЕ КОНКУРСЫ

.competitions{
  border-top: 1px solid #e5e5e5;
  padding: 20px 0 20px 0;
  position: relative;
  &:first-child{
    border-top: none;
    padding-top: 10px;
  }
  .competition-img{
    margin-right: 15px;
    position: relative;
    float: left;
    img{
      display: block;
      width: 290px;
    }
    i{
      border: 2px dotted #1e71b8;
      border-radius: 15px;
      display: block;
      font-size: 22px;
      padding: 0 0 0 70px;
      position: relative;
      width: 216px;
      height: 70px;
      margin: 15px 0 0 0;
      line-height: 70px;
      &.plus{
        border-color: #ed7272;
        line-height: 30px;
        &:before{
          content: "\e63d";
          color: #ed7272;
        }
      }
      &.konkurs_end{
        border-color: #4aa20f;
        &:before{
          content: "\e63a";
          color: #5d5d5d;
        }
      }
      &:before{
        content: "\e621";
        color: #1e71b8;
        font: 40px 'icomoon';
        position: absolute;
        left: 13px;
        top: 13px;
      }
    }
  }
  .competition-text{
    position: relative;
    overflow: hidden;
    >i{
      margin-right: 40px;
      float: left;
    }
    .link-office{line-height: 47px;}
    p{
      margin-bottom: 10px;
      span{
        color: #ed7272;
        font-weight: 600;
      }
    }
    h3{
      font: bold 20px $fontPt;
      font-weight: 700;
      a{color: #5d5d5d;}
    }
    h2{
      margin: 10px 0 10px 0;
      display: block;
      background-color: #f5f5f5;
      padding-left: 55px;
      font-size: 24px;
      color: #e76b6b;
      height: 60px;
      line-height: 60px;
      position: relative;
      &:before{
        content: "\e629";
        color: #5d5d5d;
        font: 32px 'icomoon';
        position: absolute;
        left: 12px;
        top: 15px;
      }
      &.complete{
        color: #4aa20f;
        &:before{
          content: "\e63a";
          color: #5d5d5d;
          font: 32px 'icomoon';
          position: absolute;
          left: 12px;
          top: 15px;
        }
      }
    }
    .konkurs-data{
      margin-top: 15px;
      border-top: 1px solid #e5e5e5;
      padding: 15px 0;
      h4{
        color: #000;
        font-size: 22px;
        margin-bottom: 10px;
      }
      p{
        margin: 0;
        padding: 0;
      }
      .data-left{
        width: 40%;
        float: left;
      }
      .data-right{
        float: right;
        width: 60%;
        h4{
          padding-left: 25px;
          position: relative;
          &:before{
            content: "\e639";
            color: #e76b6b;
            font: 24px 'icomoon';
            position: absolute;
            left: -3px;
            top: 3px;
          }
        }
      }
    }
    .konkurs-winners{
      border-top: 1px solid #e5e5e5;
      padding: 15px 0;
      h4{
        color: #e76b6b;
        font-size: 22px;
      }
      >ul{
        text-align: center;
        margin: 15px 0;
        li{
          float: left;
          position: relative;
          border: 1px solid #8a8a8a;
          padding: 20px 0;
          font-size: 18px;
          width: 33.1%;
          margin: 0 -1px 0 0;
          .winners-name{
            font-weight: 700;
            color: #000;
          }
        }
      }
    }
    >ul{
      text-align: center;
      margin-top: 10px;
      li{
        float: left;
        position: relative;
        border-left: 3px dotted #e5e5e5;
        height: 70px;
        width: 100px;
        .icone-red{
          color: #e45e5e;
          margin-bottom: 8px;
          display: inline-block;
        }
        &:last-child{
          border-right: 3px dotted #e5e5e5;
        }
      }
    }
  }
}


// SINGLE-PAGE COMPETITION


.competition-answer{
  >p{
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #e5e5e5;
    padding-left: 10px;
    span {
      border-left: 1px dashed #8a8a8a;
      color: #8a8a8a;
      font-size: 12px;
      margin-left: 10px;
      padding-left: 10px;
    }
  }
  .answer{
    border-top: 1px solid #e5e5e5;
    padding: 20px 10px;
    p{
      position: relative;
      overflow: hidden;
    }
    div{
      float: left;
      width: 240px;
      margin-right: 25px;
      img{
        width: 240px;
        margin-bottom: 20px;
      }
      a{
        margin: 0 auto;
        &.like{
          background: #4aa20f;
          pointer-events: none;
        }
        i{
          top: 5px;
          right: 6px;
          position: relative;
        }
      }
    }
  }
  .name{
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 700;
  }
  >i{
    border: 2px dotted #e76b6b;
    border-radius: 17px;
    font-size: 22px;
    padding: 6px 10px;
    margin: 6px 0;
    position: relative;
    float: right;
    color: #e76b6b;
  }
}
.vk-social{
  margin-top: 15px;
  img{
    display: block;
    margin: 0 auto;
  }
}
.add-answer{
  border-top: 1px solid #e5e5e5;
  i{
    float: right;
    margin: 20px 0;
  }
}


//LOGIN

.login-block{
  position: relative;
  overflow: hidden;
  &:before{
    content: "\e634";
    color: #fcf0f0;
    font: 750px 'icomoon';
    position: absolute;
    left: -9px;
    top: -86px;
  }
  form{
    font: 14px $font;
    color: #5d5d5d;
    margin: 0 auto;
    display: block;
    width: 390px;
    position: relative;
    z-index: 1;
    padding: 130px 0;
    input{width: 390px;}
    a{
      text-align: center;
      display: block;
      margin-top: 15px;
    }
    .button{
      margin: 0 auto;
      display: block;
    }
    .login-checkbox{
    	margin-bottom: 25px;
    	.checkbox{
    		float: left;
    		position: relative;
    	}
    	a{
    		float: right;
    		margin-top: 2px;
    	}
    }
  }
  a{
    font-style: italic;
    color: #e76b6b;
    text-decoration: underline;
    cursor: pointer;
    &:hover{text-decoration: none;}
    font-size: 15px;
  }
}
.input-pass{
	input{
		font-size: 16px;
		letter-spacing: 5px;
	}
}
.check-form{
	.button{margin-top: 15px;}
}
.login-check{
	p{
		float: right;
		display: block;
		font-size: 15px;
		line-height: 42px;
		margin-right: 10px;
		font-weight: 700;
	}
	label{float: left;}
}
.questions{
	border-bottom: solid 1px #e5e5e5;
	padding: 10px 10px 20px 10px;
	h3{
		font: 22px $fontPt;
		color: #5d5d5d;
		span{
			color: #8a8a8a;
			font-size: 13px;
			border-left: 1px dashed #8a8a8a;
			margin-left: 15px;
			padding-left: 15px;
		}
	}
	p{
		color: #8a8a8a;
		font: 16px $fontPt;
	}
	i{
		font-style: normal;
		color: #e76b6b;
		text-decoration: underline;
		margin: 15px 0;
		display: inline-block;
		&:hover{
			cursor: pointer;
			text-decoration: none;
		}
	}
	.show-results{
		border-top: solid 1px #e5e5e5;
		width: 440px;
		display: none;
    padding-top: 10px;
	}
	&:last-child{
		display: inline-block;
		margin-bottom: 65px;
		width: 98%;
	}
}
.questions-block{
	padding-bottom: 65px;
	position: relative;
}
.pass-window{
	text-align: center;
	p{
		font: 25px $fontPt;
		color: #5d5d5d;
	}
	a{
		margin: 0 auto;
		display: block;
	}
}
#pass-sent{
	.window-inner{
    padding: 50px 0 30px 0;
    position: relative;
    p{
    	display: block;
    	margin-bottom: 30px;
    }
	}
}
#pass-success{
	.window-inner{
    padding: 30px 35px;
    position: relative;
    text-align: left;
    p{
    	display: block;
    	padding: 0 0 23px 113px;
    	margin: 23px 0 10px 0;
    	&:before{
    		content: "\e62c";
		    color: #4aa20f;
		    font: 80px 'icomoon';
		    position: absolute;
		    left: 35px;
		    top: 30px;
    	}
    }
	}
}
#structure{
  position: relative;
  .window-inner{
    position: relative;
    overflow: hidden;
    p{
      font: 25px $fontPt;
      color: #e76b6b;
      position: relative;
      margin-top: 40px;
      padding: 0 15px 15px 15px;
      border-bottom: solid 1px #e5e5e5;
      width: 240px;
    }
    ul{
      list-style-type: disc;
      margin-left: 35px;
      margin-bottom: 35px;
      li{
        font-size: 18px;
        color: #8a8a8a;
        position: relative;
        margin-top: 12px;
        span{font-size: 13px;}
      }
    }
  }
  .octopus:before{
    font: 200px 'icomoon';
    top: -24px;
    left: -3px;
  }
}
#pass-change{
  position: relative;
  .window-inner{
    position: relative;
    overflow: hidden;
    p{
      font: 25px $fontPt;
      color: #5d5d5d;
      position: relative;
      margin-top: 35px;
      padding: 0 15px 15px 15px;
      border-bottom: solid 1px #e5e5e5;
      width: 365px;
    }
    .form-block{
      margin: 0 15px;
      input{width: 100%;}
    }
    .button{margin: 0 0 40px 20px;}
    .input-pass input{
      font-size: 16px;
      letter-spacing: 5px;
    }
  }
}
.phone{
  position: relative;
  .octopus:before{
    font: 300px 'icomoon';
    top: -37px;
    left: -3px;
  }
  .window-inner{
    position: relative;
    overflow: hidden;
    p{
      font: 25px $fontPt;
      color: #5d5d5d;
      position: relative;
      margin-top: 35px;
      padding: 0 15px 15px 15px;
      border-bottom: solid 1px #e5e5e5;
      width: 380px;
    }
    button{
      position: relative;
      margin: 10px 20px 35px 20px;
    }
    form{
      margin: 5px 20px 0 20px;
      input{
        width: 100%;
      }
    }
  }
}
.adress{
  .octopus:before{
    font: 400px 'icomoon';
    top: -49px;
  }
  .window-inner{
    position: relative;
    overflow: hidden;
    padding: 15px;
    form{
      margin: 0 20px;
      .form-left{
        float: left;
        margin-right: 22px;
      }
      input{width: 174px;
      }
      .form-right{float: right;}
      .form-block-big{
        input{width: 370px;}
      }
    }
    p{
      font: 25px $fontPt;
      color: #5d5d5d;
      position: relative;
      margin-top: 30px;
      padding: 0 15px 15px 15px;
      border-bottom: solid 1px #e5e5e5;
      width: 780px;
    }
    .col-two div{
      float: left;
      margin-right: 20px;
    }
    button{
      margin: 0 0 30px 20px;
      width: 175px;
    }
  }
}


// WOC


.constructor{
  .header{
    ul{
      .full{
        div{
          border: 2px solid;
          &>i{
            color: #000;
            font-size: 18px;
            position: absolute;
            font-style: normal;
            left: 20px;
            top: 8px;
            text-align: left;
          }
          img{vertical-align: middle;}
        }
      }
    }
  }
  .body{
    .items{
      .active{
        position: relative;
        i{
          position: absolute;
          top: -9px;
          right: -10px;
          color: #e76b6b;
          background: #fff;
        }
      }
    }
    .full-item{
      .txt{
        p{
          font-style: italic;
          font-weight: 600;
          color: #000;
          font-size: 18px;
          margin-bottom: 15px;
        }
        .title{
          text-align: left;
          font-size: 22px;
          font-weight: 600;
        }
        .toping{
          font-style: italic;
          font-size: 16px;
        }
        h2{
          color: #e76b6b;
          float: left;
          font-size: 16px;
          margin: 10px 25px 15px 0;
        }
        div{
          div{
            float: left;
            height: 35px;
            line-height: 35px;
          }
          >span{margin: 0 30px 0 0;}
          p{
            font-size: 35px;
            font-weight: 800;
            font-style: normal;
            float: left;
            height: 35px;
            line-height: 35px;
          }
          .button{
            float: right;
            height: 35px;
            line-height: 35px;
            margin-right: 113px;
          }
        }
      }
    }
  }
}
#phone-call{
  position: relative;
  .octopus:before{font: 350px 'icomoon';}
  .window-inner{
    position: relative;
    overflow: hidden;
    padding: 10px;
    p{
      font: 25px $fontPt;
      color: #5d5d5d;
      position: relative;
      margin-top: 35px;
      padding: 0 15px 15px 15px;
      border-bottom: solid 1px #e5e5e5;
      width: 385px;
    }
    .form-block{
      margin: 0 15px;
      input{width: 100%;}
    }
    .button{
      margin: 5px 0 30px 15px;
      width: 180px;
    }
    .checkbox-block{
      margin-top: 10px;
      .checkbox{
        float: left;
        label{
          margin-left: 15px;
          line-height: 42px;
          font-size: 13px;
        }
        label:before{top:12px;}
        label:after{top:15px;}
      }
      .form-block{float: right;}
    }
  }
}
#phone-sent{
  .window-inner{
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    p{
      display: block;
      margin-bottom: 20px;
      font: 25px $fontPt;
      color: #5d5d5d;
    }
    a{
      margin: 0 auto;
      display: block;
    }
  }
}


#add-to-basket{
  position: relative;
  .octopus:before{
    font: 280px 'icomoon';
    top: -34px;
    left: -4px;
  }
  .window-inner{
    padding: 50px 0 55px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    p{
      display: block;
      margin-bottom: 20px;
      font: 25px $fontPt;
      color: #5d5d5d;
      position: relative;
    }
    a{
      position: relative;
      margin: 0 auto;
      display: block;
      width: 195px;
      &.grey{margin-bottom: 20px;}
      span{
        position: relative;
        top: 4px;
      }
    }
  }


}
