.left-sidebar{
  float: left;
  margin-left: -21px;
  padding-top: 82px;
  width: 22%;
  ul{
    li{
      a{
        font: 17px/35px $fontPt;
        color: #000;
        display: block;
        position: relative;
        border: 2px dotted #fcf7f3;
        width: 256px;
        padding-left: 50px;
        @include bb;
        @include border-radius(40px);
        &:before{
          content: '';
          width: 10px;
          height: 10px;
          background: #e4e3df;
          display: block;
          @include absLT(16px, 12px);
          @include border-radius(50%);
          @include transition(all ease .3s);
        }
        &:hover, &.active{
          border: 2px dotted #ed7272;
          &:before{background: #ed7272;}
        }
      }
    }
  }
}
.office{
  padding: 0 0 10px 10px;
  margin-bottom: 50px;
  float: right;
  width: 78%;
}
.office-title{
  font: 34px/44px $fontPt;
  color: #5e5e5e;
  margin-bottom: 25px;
}
.personal{
  background: #fff;
  padding: 10px 10px 0 10px;
  @include box-shadow(rgba(105, 105, 103, 0.15) 0 0 10px);
  .pagination{
    border-top: none;
    border-bottom: 1px solid #e5e5e5;
  }
}
.personal-title{
  font: 22px/36px $fontPt;
  padding: 0 0 10px 13px;
  color: #5d5d5d;
  border-bottom: 1px solid #e5e5e5;
}
.personal-email{
  padding: 6px 0 0 13px;
  p{
    float: left;
    font: 18px/40px $fontPt;
    margin-right: 40px;
  }
  .email-title{color: #5d5d5d;}
  .email-discount{
    color: #e76b6b;
    float: right;
    margin-right: 0;
  }
}
.personal-data{
  padding: 0 13px;
  margin-bottom: 20px;
  div{
    float: left;
    margin-right: 20px;
  }
  input{width: 348px;}
}
.birthday{
  padding: 2px 12px 24px;
  border-bottom: 1px solid #e5e5e5;
  .calendar{
    width: 370px;
    margin-right: 20px;
    float: left;
    p{
      font: 16px $fontPt;
      color: #5d5d5d;
      float: left;
    }
  }
  .birthday-day{float: right !important;}
  .birthday-warning{
    font: 14px/22px $fontPt;
    color: #8a8a8a;
    font-style: italic;
    position: relative;
    overflow: hidden;
    padding-left: 27px;
    &:before{
      content: '\e631';
      font-family: $icon;
      color: #e76b6b;
      font-size: 20px;
      font-style: normal;
      @include absLT(0, 0);
    }
  }
}
.dropdown-menu{
  li:nth-child(2){display: none;}
  div{
    position: absolute;
    background: #ffffff;
    z-index: 10;
    border: 1px solid #e6e6e6;
    padding: 5px;
    margin: 5px 0;
    @include box-shadow(rgba(10, 11, 11, 0.2) 0 0 5px);
    table{outline: none;}
    thead{
      tr:first-child{
        th:first-child{
          i:before{
            content: '\e635';
            font-family: $icon;
            color: #000000;
            font-size: 15px;
            font-style: normal;
          }
        }
        th:nth-child(2){width: 130px !important;}
        th:nth-child(3){
          button{
            @include transform(rotate(180deg));
            padding-top: 1px;
          }
          i:before{
            content: '\e635';
            font-family: $icon;
            color: #000000;
            font-size: 15px;
            font-style: normal;
          }
        }
      }
    }
    tr{
      padding: 0 5px;
      td{
        button{
          background: none;
          padding: 5px 0;
          span{
            padding: 5px;
            font-size: 14px;
            color: #5e5e5e;
          }
          &:hover, &.active{
            background: #e76b6b;
            span{color: #fff;}
          }
        }

      }
      th{
        button{
          background: none;
          strong{
            font: bold 14px $fontPt;
            color: #5d5d5d;
          }
        }
        small{
          font: bold 13px $fontPt;
          color: #5e5e5e;
        }
      }
      &:nth-child(2){
        th:first-child{display: none;}
        th{text-align: center; padding: 0 9px;}
      }
    }
    .text-muted{
      color: #989391;
    }
  }
}
.address{
  padding: 27px 12px 8px;
  border-bottom: 1px solid #e5e5e5;
  .title{
    font: 16px $fontPt;
    color: #5d5d5d;
    float: left;
    width: 173px;
  }
  div{
    overflow: hidden;
    margin-bottom: 10px;
    p{
      font: 16px $fontPt;
      color: #5d5d5d;
      position: relative;
      margin-bottom: 10px;
      span{
        color: #e76b6b;
        cursor: pointer;
        &:hover{color: #e35656;}
        &.icon-edit1{margin-left: 20px;}
      }
    }
    a{
      font-size: 13px;
      color: #159bea;
      text-decoration: underline;
      &:hover{text-decoration: none;}
    }
  }
}
.edit-email{
  border-bottom: 1px solid #e5e5e5;
  padding: 0 13px;
  line-height: 80px;
  p{
    float: left;
    font: 16px/79px $fontPt;
    color: #5d5d5d;
    margin-right: 35px;
  }
  a.button{
    float: left;
    margin-top: 15px;
  }
}
.save-form{
  padding: 35px 15px;
}
.date-order{
  p{
    font: 16px/18px $font;
    color: #5d5d5d;
    padding-left: 13px;
  }
}
.name-order{
  a{
    font: 14px/18px $fontPt;
    color: #e76b6b;
    text-decoration: underline;
    display: block;
    width: 70%;
    &:hover{text-decoration: none;}
  }
}
.price-order{
  p{
    font: 16px/18px $font;
    color: #5d5d5d;
    position: relative;
    display: inline-block;
    padding: 0 20px 0 15px;
    &:before{
      content: '\e620';
      font-family: $icon;
      font-size: 13px;
      @include absRT(0, 0);
    }
  }
}
.personal-discount{
  p{
    font: 22px/90px $fontPt;
    color: #000;
    text-align: right;
    padding-bottom: 13px;
  }
}
.date-order{
  font: 18px $fontPt;
  color: #5d5d5d;
}
.when-order{
  padding: 14px 0px 15px 14px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 5px;
  .order-discount{line-height: 25px;}
}
.when-order-date{
  font: 18px $fontPt;
  color: #5d5d5d;
  float: left;
}
.day-order{
  color: #8a8a8a;
  margin-left: 5px;
}
.time-order{
  color: #8a8a8a;
  border-left: 1px dashed #8a8a8a;
  padding-left: 10px;
}
.order-discount{
  color: #e76b6b;
  float: right;
  margin-right: 0;
  font-size: 18px;
}
.row-title{
  p{
    font: 12px/38px $font;
    text-transform: uppercase;
    color: #8a8a8a;
    padding: 10px 15px 0;
  }
}
.row{
  display: table;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  &>div{
    display: table-cell;
    vertical-align: middle;
  }
}
.archive-two {
  &>.row{
    &>div{
      &:nth-child(1){width: 55%;}
      &:nth-child(2){
        width: 35%;
        text-align: center;
        p{padding: 10px 0 0;}
      }
      &:nth-child(3){
        width: 20%;
        text-align: center;
        p{padding: 10px 0 0;}
      }
    }
  }
  .row-order{height: 115px;}
}
.archive{
  &>.row{
    &>div{
      &:nth-child(1){width: 30%;}
      &:nth-child(2){
        width: 57%;
        p{padding: 10px 0 0;}
      }
      &:nth-child(3){width: 13%;}
    }
  }
  .row-order{height: 95px;}
}
.my-appraisal{
  &>.row{
    &>div{
      &:nth-child(1){width: 50%; padding-right: 40px;}
      &:nth-child(2){
        width: 30%;
        text-align: left;
        p{
          padding: 10px 0 0;
          font-size: 13px;
          color: #8a8a8a;
        }
        .stars{margin: 0;}
      }
      &:nth-child(3){
        width: 20%;
        text-align: center;
        p{padding: 10px 0 0;}
        .change{
          font-size: 14px;
          color: #e76b6b;
          text-decoration: underline;
          position: relative;
          padding-left: 20px;
          &:before{
            content: '\e60b';
            font-family: $icon;
            font-size: 17px;
            @include absLT(0, -3px);
          }
          &:hover{text-decoration: none;}
        }
      }
    }
  }
  .row-order{height: 115px;}
  .pagination{border-bottom: none;}
}
.last-order{
  &>.row{
    &>div, &.more-orders>.row>div{
      &:nth-child(1){width: 55%;}
      &:nth-child(2){
        width: 15%;
        text-align: center;
        p{padding-left: 0;}
      }
      &:nth-child(3){
        width: 15%;
        text-align: center;
        p{padding: 1px 20px 0 0;}
      }
      &:nth-child(4){
        width: 15%;
        text-align: center;
        p{padding: 10px 0 0;}
      }
    }
  }
  .more-orders>.row{
      width: 100% !important;
      display: table;
    }
  .row-order{height: 115px;}
}
.link-office{
  font-size: 13px;
  color: #159bea;
  text-decoration: underline;
  cursor: pointer;
  &:hover{text-decoration: none;}
}
.img-office{
  float: left;
  margin: 0px 25px 0 13px;
  width: 100px;
}
.name-archive-product{
  font: 700 14px/18px $fontPt;
  color: #5d5d5d;
  overflow: hidden;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-top: 10px;
}
.amount-product{
  font: 16px/18px $font;
  color: #5d5d5d;
}
.sum-price{
  text-align: right;
  padding: 10px 0px 25px;
  p{
    font: 700 22px/37px $fontPt;
    color: #5d5d5d;
    margin-bottom: 8px;
    span{
      position: relative;
      padding-right: 20px;
      &:before{
        content: '\e620';
        font-family: $icon;
        color: #5d5d5d;
        font-size: 17px;
        font-weight: normal;
        @include absRT(0, -5px);
      }
    }
  }
  .button{
    float: right;
    &.grey{margin-right: 10px}
  }
}
.no-visible{display: none;}
.calendar{
  input{
    padding: 0 35px 0 10px;
    width: 175px;
  }
}
.input-group-btn{
  @include absRT(10px, 10px);
  span{
    font-size: 24px;
    color: #5d5d5d;
    @include absRT(0, 0);
  }
  button{
    width: 24px;
    height: 24px;
    background: none;
  }
}
.input-group{position: relative;}
.calendar-input{margin-top: -15px;  }
.mt{margin-top: 53px;}
.del-favorite {
  text-align: center;
  padding: 15px 0px 0;
  a{
    font-size: 13px;
    color: #8a8a8a;
    padding-left: 20px;
    text-decoration: underline;
    position: relative;
    &:before{
      content: '\e628';
      font-family: $icon;
      color: #8a8a8a;
      font-size: 17px;
      @include absLT(0, -4px);
    }
    &:hover{
      color: #e76b6b;
      text-decoration: none;
      &:before{color: #e76b6b;}
    }
  }
}
.office-list{padding: 20px 0 5px;}
.checkot-title{
  text-align: center;
  font: 34px/44px $fontPt;
  color: #5e5e5e;
  margin-bottom: 25px;
}
.my-lunch{
  width: 370px;
  float: right;
  background: #fff;
  padding-top: 35px;
  @include bb;
  .lunch-title{
    font: 700 20px/20px $fontPt;
    color: #5e5e5e;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 10px;
    padding-bottom: 7px;
    span{
      float: right;
      color: #e76b6b;
      cursor: pointer;
      &:hover{color: #e35656;}
      &.icon-edit1{font-size: 16px;}
      &.icon-delete_box{font-size: 17px; margin-left: 5px;}
    }
  }
  img{max-width: 45px;}
  .row-lunch{
    display: table;
    height: 60px;
    margin: 0 10px;
    border-bottom: 1px dashed #939292;
    &>div{
      display: table-cell;
      vertical-align: middle;
      &:nth-child(1){width: 15%;}
      &:nth-child(2){width: 55%;}
      &:nth-child(3){width: 10%;}
      &:nth-child(4){width: 10%;}
    }
    p{
      font: 13px/18px $fontPt;
      color: #5d5d5d;
      text-align: center;
      &.name-lunch{
        font: 700 13px/18px $fontPt;
        text-align: left;
      }
    }
  }

  .price-lunch{
    position: relative;
    padding-right: 10px;
    &:before{
      content: '\e620';
      font-family: $icon;
      @include absRT(0,0);
      font-size: 11px;
    }
  }
  .lunch-discount{
    padding: 0 10px;
    p{
      font: 18px/50px $fontPt;
      color: #5e5e5e;
      text-align: right;
      span{
        position: relative;
        padding-right: 15px;
        &:before{
          content: '\e620';
          font-family: $icon;
          @include absRT(0,-13px);
          font-size: 13px;
        }
      }
    }
  }
  .lunch-cost{
    background: #e76b6b;
    padding: 0 10px;
    p{
      color: #fff;
      font: 700 20px/53px $fontPt;
      &:nth-child(1){float: left;}
      &:nth-child(2){float: right;}
    }
  }
}
.checkout-form{
  float: left;
  width: 810px;
  .form-single{
    background: #fff;
    padding: 25px 10px 28px 20px;
    margin-bottom: 20px;
    &.form-adress{padding-top: 20px;}
    &.form-time{padding-top: 22px;}
  }
  .col-two, .col-four{
    div{
      float: left;
      margin-right: 20px;
    }
  }
  .col-two{
    input{width: 367px;}
  }
  .col-one{
    margin: 12px 0px;
    input{width: 754px;}
  }
  .col-four{
    div{
      margin-top: 12px;
    }
    input{width: 173px;}
  }
  .calendar{
    float: left;
    margin-right: 20px;
  }
  .time{
    float: left;
    div{
      float: left;
      margin-right: 20px;
      position: relative;
      &:before{
        content: '\e629';
        font-family: $icon;
        @include absRT(10px,9px);
        font-size: 23px;
        color: #5d5d5d;
      }
      input{
        width: 144px;
        padding-right: 35px;
      }
      p{
        float: left;
        text-transform: uppercase;
        color: #5d5d5d;
        font-size: 15px;
        padding: 15px 15px 15px 0;
      }
    }
  }
  .input-group-btn{top: 8px;}
  textarea{
    width: 755px;
    height: 130px;
  }
  .payment{
    padding: 17px 10px 25px 20px;
    li{
      float: left;
      p{
        position: relative;
        font: 700 18px/20px $fontPt;
        color: #5d5d5d;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        @include bb;
        border: 1px solid #dddddd;
        padding: 55px 30px 15px;
        &:before{
          content: '';
          font-family: $icon;
          @include absRT(50%,50%);
          color: #e76b6b;
          margin: -25px -20px 0 0;
          font-weight: 400;
        }
      }
      &.active{
        p{border: 4px solid #55c5f6 !important;}
      }
    }
    li:nth-child(1){
      p{
        padding: 55px 26px 15px;
        &:before{
          content: '\e62f';
          font-size: 45px;
        }
      }
      &.active{
        p{padding: 52px 23px 12px;}
      }
    }
    li:nth-child(2){
      p{
        padding: 55px 19px 15px;
        border-left: none;
        &:before{
          content: '\e62e';
          font-size: 42px;
        }
      }
      &.active{
        p{padding: 52px 16px 12px;}
      }
    }
    li:nth-child(3){
      p{
        border-left: none;
        padding: 55px 20px 15px;
        &:before{
          content: '\e630';
          font-size: 42px;
        }
      }
      &.active{
        p{padding: 52px 17px 12px;}
      }
    }
  }
  .payment-title{
    font: 700 20px/20px $fontPt;
    color: #5e5e5e;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  .finish-payment{
    background: #e76b6b;
    padding: 24px 20px;
    margin-bottom: 30px;
    text-align: center;
    a{
      color: #ffffff;
      font: 18px/43px $fontPt;
      text-decoration: underline;
      &:hover{text-decoration: none;}
      &.white-arrow{
        background: #ffffff;
        font-weight: bold;
        color: #e76b6b;
        line-height: 40px;
        width: 160px;
        text-align: center;
        text-decoration: none;
        position: relative;
        display: inline-block;
        &:hover{
          background: #fff1f1;
          &:before{
            border-top: 20px solid transparent;
            border-left: 10px solid #fff1f1;
            border-bottom: 20px solid transparent;
          }
        }
        &:before{
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-left: 10px solid #ffffff;
          border-bottom: 20px solid transparent;
          right: -10px;
          top: 0;
          @include transition(all ease .3s);
        }
      }
      &:nth-child(1){
        float: left;
      }
      &:nth-child(3){
        float: right;
      }
    }
  }
  .radio-button{
    label{line-height: 20px;}
  }
}
.renting{
  float: left;
  padding-top: 10px;
  margin-right: 60px;
}
.input-renting{
  float: left;
  label{
    display: inline-block;
    float: none;
  }
  input{
    width: 154px;
    margin-left: 17px;
  }
}
.cash{
  margin-top: 25px;
}
.radio-button{
  float: left;
  text-align: center;
  input{
    display: none;
    &:checked + label{border: 4px solid #55c5f6;}
  }
  label{
    font: 700 16px/20px $fontPt;
    color: #5d5d5d;
    text-transform: none;
    cursor: pointer;
    position: relative;
    border: 1px solid #dddddd;
    border-left: none;
    &:before{content: '';}
  }
  &:first-child{
    label{border-left: 1px solid #dddddd;}
  }

}
.radios{
  margin-top: 10px;
  div:nth-child(1){
    label{
      padding: 85px 14px 25px;
      &:before{
        background: url("../images/payment/yandex.png");
        width: 79px;
        height: 47px;
        @include absLT(50%, 50%);
        margin: -34px 0 0 -39px;
      }
    }
    input:checked + label{padding: 82px 11px 22px;}
  }
  div:nth-child(2){
    label{
      padding: 85px 48px 25px;
      &:before{
        background: url("../images/payment/qiwi.png");
        width: 94px;
        height: 45px;
        @include absLT(50%, 50%);
        margin: -32px 0 0 -47px;
      }
    }
    input:checked + label{padding: 82px 45px 22px 44px;}
  }
  div:nth-child(3){
    label{
      padding: 85px 34px 25px 35px;
      &:before{
        background: url("../images/payment/webmoney.png");
        width: 47px;
        height: 46px;
        @include absLT(50%, 50%);
        margin: -36px 0 0 -23px;
      }
    }
    input:checked + label{padding: 82px 31px 22px;}
  }
  div:nth-child(4){
    label{
      padding: 85px 40px 25px 41px;
      &:before{
        background: url("../images/payment/more.png");
        width: 49px;
        height: 47px;
        @include absLT(50%, 50%);
        margin: -36px 0 0 -23px;
      }
    }
    input:checked + label{padding: 82px 37px 22px;}
  }
}
.to-rate{
  font: italic 18px $font;
  color: #5e5e5e;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 13px;
}
.rate-block{
  border-bottom: 1px solid #e5e5e5;
  .rate-img{
    float: left;
    line-height: 200px;
    img{max-width: 200px;}
  }
  .rate-comment{
    overflow: hidden;
    padding: 20px 0 0 0;
    a{
      text-transform: uppercase;
      color: #e76b6b;
      font: 700 14px/18px $fontPt;
      float: left;
      margin-right: 20px;
    }
    p{
      font: 12px/18px $font;
      color: #8a8a8a;
    }
    .your-rate{
      font-size: 14px;
      float: left;
      margin-right: 9px;
    }
    .rate-change{
      margin: 10px 0;
    }
    .sr-only{
      top: 0;
      left: 0;
    }
    textarea{
      width: 730px;
      height: 96px;
      font: 14px/18px $font;
      color: #5d5d5d;
    }
    .glyphicon-star-empty{
      position: relative;
      width: 16px;
      height: 16px;
      display: inline-block;
      span{display: none;}
      &:before{
        content: '\e637';
        font-family: $icon;
        color: #e3e3e3;
        font-size: 16px;
        font-style: normal;
        cursor: pointer;
        @include absLT(0, 0);
      }
    }
    .glyphicon-star{
      position: relative;
      width: 16px;
      height: 16px;
      display: inline-block;
      span{display: none;}
      &:before{
        content: '\e637';
        font-family: $icon;
        color: #5d5d5d;
        font-size: 16px;
        font-style: normal;
        cursor: pointer;
        @include absLT(0, 0);
      }
    }
  }
}
.save{
  .button{
    width: 165px;
    height: 37px;
    line-height: 37px;
    float: right;
    margin: 30px 0px;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  &.in {
    opacity: .5;
    filter: alpha(opacity=50);
  }
}
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  .fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    &.in{
      opacity: 1;
    }
  }
}

.modal-content {
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  background-clip: padding-box;
  outline: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  @include border-radius(6px);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  .change-pass &{
    width: 410px;
    margin: -240px 0 0 -205px;
  }
  .editPhoneSucces &{
    width: 465px;
    margin: -100px 0 0 -232px;
  }
  .change-phone &{
    width: 412px;
    margin: -140px 0 0 -206px;
  }
  .add-phone &{
    width: 412px;
    margin: -140px 0 0 -206px;
  }
  .change-addres &{
    width: 842px;
    margin: -242px 0 0 -421px;
  }
  .add-addres &{
    width: 842px;
    margin: -242px 0 0 -421px;
  }
  .sent-pass &{
    width: 725px;
    margin: -112px 0 0 -362px;
  }
  .success-pass &{
    width: 467px;
    margin: -98px 0 0 -233px;
  }
}
img[ng-src="[]"]{
  display: none;
}
