<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Template</title>
    <meta name="viewport" content="initial-scale=1"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
    <style type="text/css">html,*{filter: none;}</style>
    <![endif]-->
</head>
<body ng-app="sushiApp">
<div class="container">
<div class="wrapper">

<!-- HEADER -->

<div class="bg-header">
    <header>
        <div class="content">
            <div class="header-top clear">
                <div class="logo">
                    <a href="#"><img src="../css/images/logo-header.png" alt="logo"></a>
                </div>
                <div class="header-top__link">
                        <ul class="clear">
                            <li>
                                <p class="header-top__receiving">Прием  заказов: <br> с 10.00 до 23.00</p>
                            </li>
                            <li>
                                <p class="header-top__delivery">Бесплатная <br> доставка по Москве</p>
                            </li>
                            <li>
                                <p class="header-top__credit">Оплата картами, <br> электронными деньгами</p>
                            </li>
                            <li class="call-request">
                                <span class="call-request__phone">+7 (495) 617-14-24</span>
                                <a href="#" class="call-request__phone-link">Заказать звонок</a>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="header-bottom js-header-bottom clear">
                <div class="header-bottom__left">
                    <nav>
                        <ul class="clear">
                            <li><a href="#">Подарки и скидки</a></li>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="#">Интересноe</a></li>
                            <li><a href="#"><b>WOK</b> - Конструктор</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-bottom__right">
                    <nav>
                        <ul class="clear">
                            <li class="pos-static show-big-menu"><a href="#" class="header-bottom__menu js-menu">Меню</a>
                                <div class="big-menu js-big-menu">
                                    <nav>
                                        <ul class="clear">
                                            <li><a href="#"><span class="icon icon-fz41 icon-sushi"></span>суши</a></li>
                                            <li><a href="#"><span class="icon icon-fz39 icon-roll"></span>Роллы</a></li>
                                            <li><a href="#"><span class="icon icon-fz35 icon-warmroll"></span>Теплые роллы</a></li>
                                            <li><a href="#"><span class="icon icon-fz37 icon-sushibox"></span>Бокс-суши</a></li>
                                            <li><a href="#"><span class="icon icon-fz32 icon-onigiri"></span>Онигири</a></li>
                                            <li><a href="#"><span class="icon icon-fz43 icon-sashimi"></span>Сашими</a></li>
                                            <li><a href="#"><span class="icon icon-fz33 icon-assorti_seti"></span>Ассорти-сеты</a></li>
                                            <li><a href="#"><span class="icon icon-fz33 icon-pizza"></span>Пицца</a></li>

                                            <li><a href="#"><span class="icon icon-fz39 icon-salad"></span>салаты</a></li>
                                            <li><a href="#"><span class="icon icon-fz39 icon-soup"></span>Супы</a></li>
                                            <li><a href="#"><span class="icon icon-fz39 icon-hot"></span>Горячее</a></li>
                                            <li><a href="#"><span class="icon icon-fz45 icon-desserts"></span>Десерты</a></li>
                                            <li><a href="#"><span class="icon icon-fz35 icon-child"></span>Детям</a></li>
                                            <li><a href="#"><span class="icon icon-fz37 icon-drinkables"></span>Напитки</a></li>
                                            <li><a href="#"><span class="icon icon-fz45 icon-souces"></span>Соусы</a></li>
                                            <li><a href="#"><span class="icon icon-fz35 icon-like"></span>Избранное</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </li>
                            <li><a href="#" class="header-bottom__account">Личный <br> кабинет</a></li>
                            <li><a href="#" class="header-bottom__basket">Корзина <span class="cart-count">21</span></a> </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>

<!-- CONTENT -->

<section>
    <div class="content clear">
        <div class="clear">
            <div class="breadcrumbs left">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Корзина</a></li>
                    <li>Оформление заказа</li>
                </ul>
            </div>
        </div>
        <p class="checkot-title">Оформление заказа</p>
       <div class="clear">
           <div class="checkout-form">
               <form action="">
                   <div class="form-block">
                       <div class="col-two clear">
                            <div>
                                <label for="1">Имя</label>
                                <input id="1" type="text" value="Степан">
                            </div>
                            <div>
                                <label for="2">Фамилия</label>
                                <input id="2" type="text" value="Иванов">
                            </div>
                        </div>
                   </div>
                    <div class="form-block">
                        <div class="col-two clear">
                             <div>
                                 <label for="1">Выбрать телефон</label>
                                 <input id="2" type="text" value="Иванов">
                             </div>
                             <div>
                                 <label for="2">Добавить телефон</label>
                                 <input id="2" type="text" value="Иванов">
                             </div>
                         </div>
                         <div class="col-one">
                             <label for="3">Адрес</label>
                             <input type="text" id="3" value="м. Калужская, ул. Старокалужское ш-е, д. 65, корп. 0А---А, стр. 5, под. 5, этаж 3, кв. 122">
                         </div>
                         <div class="col-two clear">
                             <div>
                                 <label for="4">Метро</label>
                                 <input id="4" type="text" value="">
                             </div>
                             <div>
                                 <label for="5">Улица</label>
                                 <input id="5" type="text" value="">
                             </div>
                         </div>
                         <div class="col-four clear">
                             <div>
                                 <label for="6">Дом</label>
                                 <input id="6" type="text" value="">
                             </div>
                             <div>
                                 <label for="7">Корпус</label>
                                 <input id="7" type="text" value="">
                             </div>
                             <div>
                                 <label for="8">Строение</label>
                                 <input id="8" type="text" value="">
                             </div>
                             <div>
                                 <label for="9">Подъезд</label>
                                 <input id="9" type="text" value="">
                             </div>
                             <div>
                                 <label for="10">Код двери</label>
                                 <input id="10" type="text" value="">
                             </div>
                             <div>
                                 <label for="11">Этаж</label>
                                 <input id="11" type="text" value="">
                             </div>
                             <div>
                                 <label for="12">Квартира</label>
                                 <input id="12" type="text" value="">
                             </div>
                         </div>
                    </div>
                    <div class="form-block clear" ng-controller="DatepickerDemoCtrl">
                        <div class="calendar">
                            <label>Дата доставки</label>
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" close-text="Close" />
                                <span class="input-group-btn">
                                <button type="button" class="btn-default" ng-click="open($event)"><span class="icon icon-calendar"></span></button>
                                </span>
                            </p>
                        </div>
                        <div class="time clear">
                            <label>Удобное время доставки</label>
                            <div>
                                <p>C:</p>
                                <input type="text">
                            </div>
                            <div>
                                <p>До:</p>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-block">
                        <div>
                            <label for="13">Количество персон</label>
                            <input id="13" type="text" value="">
                        </div>
                        <div>
                            <label for="14">Дополнительная информация или особые требования</label>
                            <textarea name="" id="14" ></textarea>
                        </div>
                    </div>
                    <div class="form-block payment">
                        <p class="payment-title">Oплата</p>
                        <div ng-controller="tabsController">
                            <ul class="clear">
                                <li ng-class="{'active': activeTab == 'cont-1'}">
                                    <a href="javascript:;" ng-click="switchToTab('cont-1')">
                                       Наличные 
                                    </a>
                                </li>
                                <li ng-class="{'active': activeTab == 'cont-2'}">
                                    <a href="javascript:;" ng-click="switchToTab('cont-2')">
                                        Банковская карта
                                    </a>
                                </li>
                                <li ng-class="{'active': activeTab == 'cont-3'}">
                                    <a href="javascript:;" ng-click="switchToTab('cont-3')">
                                        Электронные деньги
                                    </a>
                                </li>
                            </ul>
                            <div ng-show="activeTab == 'cont-1'">
                                <div>
                                    <label for="15">Потребуется ли сдача курьеру</label>
                                    <input type="checkbox" id="15">
                                </div>
                                <div>
                                    <label for="16"></label>
                                    <input type="text">
                                </div>
                            </div>
                            <div ng-show="activeTab == 'cont-2'">2</div>
                            <div ng-show="activeTab == 'cont-3'">3</div>
                        </div>
                    </div>
                    <div class="finish-payment">
                        <a href="#">Назад</a>
                        <a href="#" class="white-arrow">Перейти к оплате</a>
                        <a href="#">Вернуться в магазин</a>
                    </div>
               </form>
           </div>
           <div class="my-lunch clear">
               <p class="lunch-title">Мой обед <span class="icon icon-delete_box"></span> <span class="icon icon-edit1"></span></p>
               <div class="row-lunch">
                   <div>
                        <img src="../images/products/archiv.png" alt="">
                   </div>
                   <div>
                       <p class="name-lunch">Онигири Темпура Спайси Кай Ёси</p>
                   </div>
                   <div>
                       <p><span>1</span> шт.</p>
                   </div>
                   <div>
                       <p class="price-lunch">255</p>
                   </div>
               </div>
               <div class="row-lunch">
                   <div>
                        <img src="../images/products/archiv.png" alt="">
                   </div>
                   <div>
                       <p class="name-lunch">Онигири Темпура Спайси Кай Ёси</p>
                   </div>
                   <div>
                       <p><span>1</span> шт.</p>
                   </div>
                   <div>
                       <p class="price-lunch">255</p>
                   </div>
               </div>
               <div class="row-lunch">
                   <div>
                        <img src="../images/products/archiv.png" alt="">
                   </div>
                   <div>
                       <p class="name-lunch">Онигири Темпура Спайси Кай Ёси</p>
                   </div>
                   <div>
                       <p><span>1</span> шт.</p>
                   </div>
                   <div>
                       <p class="price-lunch">255</p>
                   </div>
               </div>
               <div class="lunch-discount">
                   <p>Скидка <span>255</span></p>
               </div>
               <div class="lunch-cost clear">
                   <p>Итого к оплате:</p>
                   <p><span>5255</span> руб.</p>
               </div>
           </div>
       </div>
    </div>
</section>

<!-- END CONTENT -->

</div>
</div>

<!-- FOOTER -->

<div class="footer">
    <footer>
        <div class="footer-top">
            <div class="content">
                <p>Суши-Профи - профессиональный подход к японской кухне. Мы знаем толк в том что делаем.</p>
                <p>И готовы поделиться этим с Вами. Доставка суши и хорошего настроения к Вам.</p>
            </div>
        </div>
        <div class="footer-middle">
            <div class="content">
                <nav>
                    <ul class="list-menu clear">
                        <li><a href="#">Суши-Профи</a> - бесплатная доставка, </li>
                        <li><a href="#">суши</a>, </li>
                        <li><a href="#">роллов</a>, </li>
                        <li><a href="#">бокс-суши</a>, </li>
                        <li><a href="#">онигири</a>, </li>
                        <li><a href="#">сашими</a>, </li>
                        <li><a href="#">ассорти-сетов суши и роллов</a>, </li>
                        <li><a href="#">салатов</a>, </li>
                        <li><a href="#">супов</a>, </li>
                        <li><a href="#">горячих блюд</a>, </li>
                        <li><a href="#">десертов</a>, и </li>
                        <li><a href="#">напитков</a>.</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="content clear">
                <div class="logo logo-footer">
                    <div>
                        <a href="#"><img src="../css/images/logo-header.png" alt="logo"></a>
						<span>
							<span class="copy">&copy;</span>
							<span class="text">«Суши-Профи» — <br> Доставка суши и <br> хорошего настроения.</span>
						</span>
                    </div>
                </div>
                <div class="footer-bottom__social">
                    <div class="social clear">
                        <ul>
                            <li><a href="#"><span class="icon icon-twitter"></span>twitter</a></li>
                            <li><a href="#"><span class="icon icon-facebook icon-fb"></span>facebook</a></li>
                            <li><a href="#"><span class="icon icon-vkontakte icon-vk"></span>vkontakte</a></li>
                        </ul>
                    </div>
                    <div class="list-two-row clear">
                        <nav>
                            <ul>
                                <li><a href="#">Суши</a></li>
                                <li><a href="#">Заказ суши</a></li>
                                <li><a href="#">Суши на дом</a></li>
                                <li><a href="#">Роллы</a></li>
                                <li><a href="#">Доставка суши</a></li>
                                <li><a href="#">Вакансии</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="footer-bottom__application">
                    <p class="application-title">Доставка Суши-Профи» у вас на ладоне!</p>
                    <div class="application">
                        <a href="#"><img src="../css/images/appy.png" alt=""></a>
                        <a href="#"><img src="../css/images/google.png" alt=""></a>
                    </div>
                </div>
                <div class="footer-bottom__developer">
                    <p class="number-developer">+7 (495) 617-14-24</p>
                    <a href="http://4-com.pro/"><img src="../css/images/developer.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/sticky/jquery.sticky.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="../bower_components/angular-i18n/angular-locale_ru.js"></script>
<!-- endbower -->
<script src="../js/ctrl.js"></script>
<script src="../js/main.js"></script>
</body>
</html>