<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Template</title>
    <meta name="viewport" content="initial-scale=1"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
    <link rel="stylesheet" type="text/css" href="../css/IE.css">
    <style type="text/css">html,*{filter: none;}</style>
    <![endif]-->
</head>
<body ng-app="sushiApp">
<div class="container">
    <div class="wrapper">

        <!-- HEADER -->

        <div class="bg-header">
            <header>
                <div class="content">
                    <div class="header-top clear">
                        <div class="logo">
                            <a href="#"><img src="../css/images/logo-header.png" alt="logo"></a>
                        </div>
                        <div class="header-top__link">
                            <nav>
                                <ul class="clear">
                                    <li>
                                        <p class="header-top__receiving">Прием  заказов: <br> с 10.00 до 23.00</p>
                                    </li>
                                    <li>
                                        <p class="header-top__delivery">Бесплатная <br> доставка по Москве</p>
                                    </li>
                                    <li>
                                        <p class="header-top__credit">Оплата картами, <br> электронными деньгами</p>
                                    </li>
                                    <li class="call-request">
                                        <span class="call-request__phone">+7 (495) 617-14-24</span>
                                        <a href="#" class="call-request__phone-link">Заказать звонок</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-bottom js-header-bottom clear">
                        <div class="header-bottom__left">
                            <nav>
                                <ul class="clear">
                                    <li><a href="#">Подарки и скидки</a></li>
                                    <li><a href="#">О нас</a></li>
                                    <li><a href="#">Отзывы</a></li>
                                    <li><a href="#">Интересноe</a></li>
                                    <li><a href="#"><b>WOK</b> - Конструктор</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header-bottom__right">
                            <nav>
                                <ul class="clear">
                                    <li class="pos-static show-big-menu"><a href="#" class="header-bottom__menu js-menu">Меню</a>
                                        <div class="big-menu js-big-menu">
                                            <nav>
                                                <ul class="clear">
                                                    <li><a href="#"><span class="icon icon-fz41 icon-sushi"></span>суши</a></li>
                                                    <li><a href="#"><span class="icon icon-fz39 icon-roll"></span>Роллы</a></li>
                                                    <li><a href="#"><span class="icon icon-fz35 icon-warmroll"></span>Теплые роллы</a></li>
                                                    <li><a href="#"><span class="icon icon-fz37 icon-sushibox"></span>Бокс-суши</a></li>
                                                    <li><a href="#"><span class="icon icon-fz32 icon-onigiri"></span>Онигири</a></li>
                                                    <li><a href="#"><span class="icon icon-fz43 icon-sashimi"></span>Сашими</a></li>
                                                    <li><a href="#"><span class="icon icon-fz33 icon-assorti_seti"></span>Ассорти-сеты</a></li>
                                                    <li><a href="#"><span class="icon icon-fz33 icon-pizza"></span>Пицца</a></li>

                                                    <li><a href="#"><span class="icon icon-fz39 icon-salad"></span>салаты</a></li>
                                                    <li><a href="#"><span class="icon icon-fz39 icon-soup"></span>Супы</a></li>
                                                    <li><a href="#"><span class="icon icon-fz39 icon-hot"></span>Горячее</a></li>
                                                    <li><a href="#"><span class="icon icon-fz45 icon-desserts"></span>Десерты</a></li>
                                                    <li><a href="#"><span class="icon icon-fz35 icon-child"></span>Детям</a></li>
                                                    <li><a href="#"><span class="icon icon-fz37 icon-drinkables"></span>Напитки</a></li>
                                                    <li><a href="#"><span class="icon icon-fz45 icon-souces"></span>Соусы</a></li>
                                                    <li><a href="#"><span class="icon icon-fz35 icon-like"></span>Избранное</a></li>

                                                </ul>
                                            </nav>
                                        </div>
                                    </li>
                                    <li><a href="#" class="header-bottom__account">Личный <br> кабинет</a></li>
                                    <li><a href="#" class="header-bottom__basket">Корзина</a> <span class="cart-count">21</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <!-- CONTENT -->

        <section>
            <div class="content">
                <div class="clear">
                    <div class="breadcrumbs left">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li>Отзывы</li>
                        </ul>
                    </div>
                </div>
                <p class="products__title">Отзывы</p>
                <div class="block clear">
                    <div class="review">
                        <i class="button small add-review" ng-click="$root.openModal('review-add')">Добавить отзыв</i>
                        <p>Ваши пожелания в нашем меню</p>
                        <div class="user">
                            <p class="name">Анастасия <span class="mail-time">23 октября 2014г, 17:18</span></p>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                        </div>
                        <div class="admin">
                            <p class="name">Администратор <span class="mail-time">23 октября 2014г, 17:18</span></p>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                        </div>
                        <div class="user">
                            <p class="name">Анастасия <span class="mail-time">23 октября 2014г, 17:18</span></p>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                        </div>
                        <div class="admin">
                            <p class="name">Администратор <span class="mail-time">23 октября 2014г, 17:18</span></p>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                        </div>
                        <div class="user">
                            <p class="name">Анастасия <span class="mail-time">23 октября 2014г, 17:18</span></p>
                            <p>Добрый день, замечательный коллектив сотрудников "Суши-Профи"! Как всегда продукция свежая и вкусная, чувствуется, что все сделано с душой! Уже около четырех лет заказываю у вас! Спасибо за ваш уникальный подход к каждому клиенту. Вчера встретились с курьером непосредственно на одной из станций метрополитена, чтобы насладиться блюдами и угостить друзей в Химках. Оператор рассчитал и время приготовления, и время доставки. В общем, спасибо за компетентность всем сотрудникам компании и доброжелательное отношение! Процветания вам, расширения горизонтов, например, в Химках:) И, конечно, просто хорошего настроения!</p>
                        </div>
                        <div class="user">
                            <p class="name">Анастасия <span class="mail-time">23 октября 2014г, 17:18</span></p>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                        </div>
                        <div class="admin">
                            <p class="name">Администратор <span class="mail-time">23 октября 2014г, 17:18</span></p>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                        </div>
                        <div class="user">
                            <p class="name">Анастасия <span class="mail-time">23 октября 2014г, 17:18</span></p>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                        </div>
                        <div class="admin">
                            <p class="name">Администратор <span class="mail-time">23 октября 2014г, 17:18</span></p>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                        </div>
                        <div class="user">
                            <p class="name">Анастасия <span class="mail-time">23 октября 2014г, 17:18</span></p>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                        </div>
                        <div class="admin">
                            <p class="name">Администратор <span class="mail-time">23 октября 2014г, 17:18</span></p>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                        </div>
                        <div class="user">
                            <p class="name">Анастасия <span class="mail-time">23 октября 2014г, 17:18</span></p>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                        </div>
                        <div class="admin">
                            <p class="name">Администратор <span class="mail-time">23 октября 2014г, 17:18</span></p>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
                        </div>
                    </div>
                    <div class="pagination clear">
                        <ul>
                            <li class="navigation"><a href=""><i class="icon icon-fz15 icon-arrow"></i></a></li>
                            <li class="active"><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li><a href="">...</a></li>
                            <li><a href="">10</a></li>
                            <li class="navigation next"><a href=""><i class="icon icon-fz15 icon-arrow "></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <!-- END CONTENT -->

    </div>
</div>

<!-- FOOTER -->

<div class="footer">
    <footer>
        <div class="footer-top">
            <div class="content">
                <p>Суши-Профи - профессиональный подход к японской кухне. Мы знаем толк в том что делаем.</p>
                <p>И готовы поделиться этим с Вами. Доставка суши и хорошего настроения к Вам.</p>
            </div>
        </div>
        <div class="footer-middle">
            <div class="content">
                <nav>
                    <ul class="list-menu clear">
                        <li><a href="#">Суши-Профи</a>-бесплатная доставка,</li>
                        <li>&nbsp;<a href="#">суши</a>,</li>
                        <li>&nbsp;<a href="#">роллов</a>,</li>
                        <li>&nbsp;<a href="#">бокс-суши</a>,</li>
                        <li>&nbsp;<a href="#">онигири</a>,</li>
                        <li>&nbsp;<a href="#">сашими</a>,</li>
                        <li>&nbsp;<a href="#">ассорти-сетов суши и роллов</a>,</li>
                        <li>&nbsp;<a href="#">салатов</a>,</li>
                        <li>&nbsp;<a href="#">супов</a>,</li>
                        <li>&nbsp;<a href="#">горячих блюд</a>,</li>
                        <li>&nbsp;<a href="#">десертов</a>, и</li>
                        <li>&nbsp;<a href="#">напитков</a>.</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="content clear">
                <div class="logo logo-footer">
                    <div>
                        <a href="#"><img src="../css/images/logo-header.png" alt="logo"></a>
						<span>
							<span class="copy">&copy;</span>
							<span class="text">«Суши-Профи» — <br> Доставка суши и <br> хорошего настроения.</span>
						</span>
                    </div>
                </div>
                <div class="footer-bottom__social">
                    <div class="social clear">
                        <ul>
                            <li><a href="#"><span class="icon icon-twitter"></span>twitter</a></li>
                            <li><a href="#"><span class="icon icon-facebook icon-fb"></span>facebook</a></li>
                            <li><a href="#"><span class="icon icon-vkontakte icon-vk"></span>vkontakte</a></li>
                        </ul>
                    </div>
                    <div class="list-two-row clear">
                        <nav>
                            <ul>
                                <li><a href="#">Суши</a></li>
                                <li><a href="#">Заказ суши</a></li>
                                <li><a href="#">Суши на дом</a></li>
                                <li><a href="#">Роллы</a></li>
                                <li><a href="#">Доставка суши</a></li>
                                <li><a href="#">Вакансии</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="footer-bottom__application">
                    <p class="application-title">Доставка Суши-Профи» у вас на ладоне!</p>
                    <div class="application">
                        <a href="#"><img src="../css/images/appy.png" alt=""></a>
                        <a href="#"><img src="../css/images/google.png" alt=""></a>
                    </div>
                </div>
                <div class="footer-bottom__developer">
                    <p class="number-developer">+7 (495) 617-14-24</p>
                    <a href="http://4-com.pro/"><img src="../css/images/developer.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>
</div>


<script type="text/ng-template" id="review-add">
    <div id="add-review" class="window your-review">
        <i class="close icon icon-fz22 icon-cancel" ng-click="close()"></i>
        <div class="window-inner octopus">
            <form action="#">
                <p>Ваш отзыв</p>
                <textarea cols="10" rows="10"></textarea>
                <button class="button btn-remove-arch" type="submit" ng-click="close()">Сохранить</button>
            </form>
        </div>
    </div>
</script>

<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/sticky/jquery.sticky.js"></script>
<script src="../bower_components/jquery-ui/jquery-ui.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
<script src="../bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
<script src="../bower_components/angular-i18n/angular-locale_ru.js"></script>
<script src="../bower_components/perfect-scrollbar/src/jquery.mousewheel.js"></script>
<script src="../bower_components/perfect-scrollbar/src/perfect-scrollbar.js"></script>
<script src="../bower_components/angular-perfect-scrollbar/src/angular-perfect-scrollbar.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-keepr/dist/keepr.min.js"></script>
<!-- endbower -->

<script src="../js/app.js"></script>
<script src="../js/services/modal.js"></script>
<script src="../js/controllers/datePicker.js"></script>
<script src="../js/controllers/rating.js"></script>
<script src="../js/controllers/DropdownCtrl.js"></script>
<script src="../js/controllers/tabs.js"></script>
<script src="../js/controllers/showAdditionalCtrl.js"></script>
<script src="../js/directives/counter.js"></script>
<script src="../js/directives/autocomplete.js"></script>
<script src="../js/directives/phoneMask.js"></script>
<script src="../js/main.js"></script>
</body>
</html>